<script type="text/template" id="fg-dev-add-new-contact"> 
    <div class="row fg-border-line sortables fg-dev-new-contact-div" >
                        
        <div class="col-md-5 col-sm-8 col-xs-8">
            <div class="input-icon"> <i class="fa fa-search"></i>
                <input id="include-contacts-<%- randomNumber %>" type="text" name="include-contacts-<%- randomNumber %>"  class="form-control input-sm dFExclude" />
            </div>
        </div>
        <input class="fg-dev-auto-complete-val hide " type="text" id="new-include-contacts-<%- randomNumber %>" name="new-include-contacts-<%- randomNumber %>" value=""/>
        <div class="fg-last-icon new_contact_right_rmv">
            <div class="closeico">
                <input type="checkbox" class="make-switch" id="select">
                <label for="select"></label>
            </div>
        </div>
    </div> 
</script>
<script type="text/template" id="fg-dev-add-new-contact-fed"> 
    <div class="row fg-border-line sortables fg-dev-new-contact-div" >
                        
        <div class="col-md-5 col-sm-8 col-xs-8">
            <div class="input-icon"> <i class="fa fa-search"></i>
                <input id="include-contacts-fed-<%- randomNumber %>" type="text" name="include-contacts-fed-<%- randomNumber %>"  class="form-control input-sm dFExclude" />
            </div>
        </div>
        <input class="fg-dev-auto-complete-val hide " type="text" id="new-include-contacts-fed-<%- randomNumber %>" name="new-include-contacts-fed-<%- randomNumber %>" value=""/>
        <div class="fg-last-icon new_contact_right_fedadmin_admins_rmv">
            <div class="closeico">
                <input type="checkbox" class="make-switch" id="select">
                <label for="select"></label>
            </div>
        </div>
    </div> 
</script>
