<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-002">
    <div class="rowcol-md-12">
        <h1>Hilfe finden</h1>
        <p>Hier zeigen wir Ihnen wo Sie welche Hilfe finden können im Fairgate V4.</p>
    </div>
</div>
<div class="row col-md-12">
    <h2>Tooltips</h2>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_contact/leTooltip.png" class="fg-help-img"><br />
        <div class="fg-help-img-footer">Ein Tooltip-Element</div>
    </div>
    <p>Grundsätzlich sollten Sie, wenn Sie Hilfe brauchen, über Feldern und Symbolen die Maus kurz stehen lassen und das Tooltip lesen das dann erscheint.</p>

</div>
<div class="row col-md-12">
    <h2>Hilfemenü</h2>
    <p>Das Hilfemenü <i class="fa fa-question-circle" style="color:blue" aria-hidden="true"></i> befindet sich in der Titelleiste am oberen rechten Bildschirmrand und bietet Ihnen Zugriff zu einer Menge Informationen wie z.b. dieses Quickstart-Fenster, das Handbuch, Tutorial-Videos uvm..</p>
</div>
<div class="row col-md-12">
    <h2>Quickstart-Fenster</h2>
    <p>Dieses Fenster in welchem Sie sich jetzt gerade befinden. Es steht Ihnen jederzeit bereit im Hilfemenü <i class="fa fa-question-circle" style="color:blue" aria-hidden="true"></i> im Titelmenü auf jeder Seite.</p>
</div>
<div class="row col-md-12">
    <h2>Handbuch</h2>
    <p>Im Handbuch <i class="fa fa-book" style="color:blue" aria-hidden="true"></i> finden Sie die ausführlichsten Beschreibungen der Funktionen von FairgateV4. Die Einträge werden stetig erweitert und angepasst an neue Versionen. Wenn Sie das Handbuch aus dem Hilfemenü aufrufen gelangen Sie direkt in das aktuelle Modul in dem Sie sich gerade befinden. Nehmen Sie sich ein bischen Zeit um im Handbuch zu stöbern. Es steht Ihnen jederzeit bereit im Hilfemenü <i class="fa fa-question-circle" style="color:blue" aria-hidden="true"></i> im Titelmenü auf jeder Seite sowie unten auf dieser Seite.</p>
</div>
<div class="row col-md-12">
    <h2>Video Tutorials und Quicktips</h2>
    <p>Hier finden Sie Videos <i class="fa fa-video-camera" style="color:blue" aria-hidden="true"></i> die Ihnen in ein paar wenigen Minuten wichtige Funktionen aufzeigen und Sie im Kontext ihrer Verwendungsfalles erklären. Wer lieber hört und sieht findet hier eine Alternative zum Handbuch. Es steht Ihnen jederzeit bereit im Hilfemenü <i class="fa fa-question-circle" style="color:blue" aria-hidden="true"></i> im Titelmenü auf jeder Seite sowie unten auf dieser Seite.</p>
</div>
<div class="row col-md-12">
    <h2>Module</h2>
    <p>Sie können aus den folgenden Modulen wählen welche zusätzlichen Funktionalitäten Sie für Ihre Organisation benötigen. Das Kontaktmodul steht
        allen zur Verfügung:</p>
    <ul>
        <li><b>Dokumente</b><br/>
            Dokumentenablage für alle und für Teams und Arbeitsgruppen</li>
        <li><b>Kommunikation</b><br/>
            Entwurf und Versand von Newsletter und einmaligen Mailings</li>
        <li><b>Sponsoren</b><br/>
            Die Sponsorenverwaltung für kleine bis grosse Sponsoren, zweckgebunden oder auf Events ausgerichtet</li>
        <li><b>Frontend 1 (Intranet)</b><br/>
            Die interne Informationsseite für alle Ihre Mitglieder mit News, Artikeln, Foren, Gallerie und Kalender</li>
    </ul>
</div>
<br />