
// BEGIN FAIRGATE CUSTOM STYLES
link(href='../../../fgcustom/css/style-fairgate.css', type='text/css', rel='stylesheet')
link(href='../../../fgcustom/css/fg-david.css', type='text/css', rel='stylesheet')
link(href='../../../fgcustom/css/pagetitlebar.css', type='text/css', rel='stylesheet')
link(href='../../../fgassets/backend/css/metronic-overrides.css', rel='stylesheet', type='text/css')
// END FAIRGATE CUSTOM STYLES

// PLEASE MAKE SURE FAIRGATE STYLE SHOULD BE LOADED AT THE END
