.table-bordered {
	> thead > tr {
		> th {
			height: 35px;
		}
		> td {
			height: 35px;
		}
	}
	> tbody > tr {
		> th {
			height: 35px;
		}
		> td {
			height: 35px;
		}
	}
	> tfoot > tr {
		> th {
			height: 35px;
		}
		> td {
			height: 35px;
		}
	}
}
