
@import '../utilities/variables'; // added variables and functions

//----------Global clasess----------

body {
	font-family: $font_O;
	&.page-footer-fixed {
		padding-bottom: 10px !important;
	}
}
a {
	text-shadow: none;
	color: $clrLinkBlue;
	&:hover {
		color: $clrLinkBlue;
		@include text-dec-ul;
	}
	&:focus {
		color: $clrLinkBlue;
		@include text-dec-ul;
	}
}
.fg-clear {
	clear: both;
	&:after {
		content: '';
		display: block;
		float: none;
		height: 0;
		width: 0;
		clear: both;
	}
}

/* =============================================================================
/******* global padding and margin classess ******
================================================================================ */
.fg-clear-top {
	padding-top: 0 !important;
	margin-top: 0 !important;
}
.fg-clear-right {
	padding-right: 0 !important;
	margin-right: 0 !important;
}
.fg-clear-btm {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.fg-clear-left {
	padding-left: 0 !important;
	margin-left: 0 !important;
}
.fg-common-top {
	margin-top: 20px;
}
.fg-common-btm {
	margin-bottom: 20px;
}
.fg-common-top-btm {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}
.fg-common-btm-three {
	margin-bottom: 30px;
}
.fg-common-btm-seven {
	margin-bottom: 7px;
}
.fg-pad-0 {
	padding: 0 !important;
}
.fg-pad-top-0 {
	padding-top: 0 !important;
}
.fg-pad-right-0 {
	padding-left: 0 !important;
}
.fg-pad-btm-0 {
	padding-left: 0 !important;
}
.fg-pad-left-0 {
	padding-left: 0 !important;
}
.fg-pad-top-3 {
	padding-top: 3px !important;
}
.fg-pad-top-10 {
	padding-top: 10px !important;
}
.fg-pad-right-10 {
	padding-right: 10px !important;
}
.fg-pad-btm-10 {
	padding-bottom: 10px !important;
}
.fg-pad-left-10 {
	padding-left: 10px !important;
}
.fg-pad-left-20 {
	padding-left: 20px !important;
}
.fg-left-zero {
	padding-left: 0!important;
}
.fg-right-zero {
	padding-right: 0;
}
.fg-marg-top-5 {
	margin-top: 5px !important;
}
.fg-marg-top-10 {
	margin-top: 10px !important;
}
.fg-clear-marg {
	margin: 0 !important;
}
.fg-marg-btm-0 {
	margin-bottom: 0;
}
.fg-error-hide {
	display: none;
}
.fg-bordernon {
	border: none !important;
}
body .fg-marg-btm-5 {
	margin-bottom: 5px !important;
}

/* =============================================================================
/******* global contianer display styles ******
================================================================================ */
.fg-visibility-hidden {
	visibility: hidden;
}
.fg-invisible {
	visibility: hidden;
}

.fg-display-table {
	display: table-cell !important;
}
.FR {
	float: right;
}
.FL {
	float: left;
}
.fg-PA {
	position: absolute !important;
}
.fg-PR {
	position: relative !important;
}
.fg-PS {
	position: static !important;
}
/* =============================================================================
/******* global text styles ******
================================================================================ */

.fg-font-frt {
	font-size: 14px;
}
.fg-italic-txt {
	font-style: italic;
	font-size: 13px;
	color: $clrPrimaryBlack;
}
.fg-disabled-link {
	pointer-events: none;
	color: $clrDisableGrey;
	cursor: default;
}
.fg-disable-link > a:hover {
	text-decoration: none;
}
.text-green {
	color: $clrGreen !important;
}
.text-red {
	color: $clrRed !important;
}
/* =============================================================================
/******* global border styles ******
================================================================================ */
.fg-border-left {
	border-left: 1px solid $clrbrdrDflt;
}

.solid-BG-white{
	background-color: $clrWhite;
}
/* =============================================================================
/******* global background styles ******
================================================================================ */
.fg-bg-light-green {
	background-color: $clrLightGreen !important;
}
