
@import '../utilities/variables'; // added variables and functions


.page-header.navbar{
	.hor-menu .navbar-nav > li {
		.dropdown-menu {
			background: $clrPrimaryBlack;
			li{
				&> a:hover {
					background-color: $clrRed !important;
					color: $clrWhite;
				}
				a{
					font-weight: normal !important;
					white-space: nowrap;
				}
			} 
		}
		> a {
			padding: 13px 10px;
			font-weight: normal !important;
		}
		&.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu {
			width: auto !important;
			padding: 0 15px !important;
			margin: 0 !important;
		}
	}
} 