
/* * 01 - max-width:767
* 02 - min-width:767px and max-width:1333px
* 03 - min-width:320px and max-width:992px
* 04 - min-width:480px and max-width:768px
* 05 - min-width:320px and max-width:767px
* 06 - min-width:320px and max-width:400px
* 07 - min-width:400px and max-width:767px
* 08 - max-width:992px
* 09 - max-width:768px
* 10 - min-width:320px and max-width:600px
* 11 - min-width:320px and max-width:768px 
* 12 - min-width:950px and max-width:1255px
* 13 - min-width:320px and max-width:500px
* 14 - min-width:400px and max-width:1000px 
* 15 - min-width:320px and max-width:670px
* 16 - min-width:320px and max-width:520px 
* 17 - min-width:320px and max-width:990px
* 18 - min-width:320px and max-width:1024px  
* 19 - min-width:981px and max-width:1295px 
* 20 - min-width:769px and max-width:980px 
* 21 - min-width:950px and max-width:990px
* 22 - min-width:769px and max-width:1024px 
* 23 - min-width:768px and max-width:1120px 
* 24 - min-width:401px and max-width:767px 
* 25 - min-width:768px and max-width:1024px
* 26 - min-width:769px and max-width:950px
* 27 - min-width:500px and max-width:3000px
* 28 - min-width:320px and max-width:1070px
* 29 - min-width:769px and max-width:1036px
* 30 - min-width:320px and max-width:480px
* 31 - min-width:1024px
* 32 - min-width:768px and max-width:992px
* 33 - min-width:768px and max-width:1200px
* 34 - min-width:992px
* 35 - min-height:600px
* 36 - max-width:1024px
* 37 - min-width:768px and max-width:900px
* 38 - max-width:414px
* 39 - and (max-width:736px) and (orientation:landscape) 
* 40 - min-width:320px and max-width:736px 
* 41 - max-width:320px 
* 42 - min-width:320px and max-width:991px
* 43 - max-height:559px
* 44 - min-width:1080px and max-width:1400px
* 45 - min-width:768px

*/

/* =============================================================================
* 01 - max-width:767
========================================================================== */
@media only screen and (max-width:767px) {
	.fg-tab-nav {
		display: block !important;
	}
	.fg-tab-line{
		width: 100%;
	}
	.fg-nav-tab-border:nth-child(2){
		margin-top: 10px;
	}
	.fg-dropdown-nav .navbar-nav .open .dropdown-menu > li > a{
		padding: 6px 0 6px 8px;
		line-height: 18px;
	}
	.navbar-inverse .fg-dropdown-nav .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .fg-dropdown-nav .navbar-nav .open .dropdown-menu>li>a:hover{
		background-color: #eee;
		color: #434343;
	}
	.navbar-inverse .fg-dropdown-nav .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .fg-dropdown-nav .navbar-nav  .open .dropdown-menu>.active>a:hover, .navbar-inverse .fg-dropdown-nav  .navbar-nav .open .dropdown-menu>.active>a:focus{
		color: #434343;
		background-color: transparent;
	}
	.form-horizontal .control-label {
   		text-align: left !important;
	}
	.nav.nav-tabs > li.overviewwidth {
		display: block;
	}
	.nav.nav-tabs > li:last-child {
		display: block;
	}
	.fg-tab-line .nav.nav-tabs > li {
		display: block;
	}
        
        .fg-doc-title-area {

            margin-left: 3!important;
            padding-right: 0;
            width: 100%;
            width: calc(100% - 50px);
	}
	.fg-dropdown-nav {
	  position: relative;
	  display: inline-block;
	}
	.fg-dropdown-nav .navbar-nav {
	  margin-left: 5px;
	  margin-right: 24px;
	  margin-top: 5px!important;
	}
	.fg-dropdown-nav ul.fg-logut-block {
	  float: left;
	  margin-left: 0;
	  padding-left: 0;
	  position: absolute;
	  top: 0;
	  right: -18px;
	  padding-bottom: 0;
	  margin-bottom: 0;
	  height: 40px;
	}
	.fg-document-edit-wrapper .radio-inline .radio{
		margin-right: 4px!important;
	}	
	.fg-internal-blk-one {
	    padding-left: 5px!important;
	    width: 85%!important;
	}
	.fg-internal-blk-two {
    	width: 85%!important;
 	}
	.fg-internal-blk-three {
	    width: 6%;
	    position: relative;
	    top: -32px;
	}
	.fg-label-text-right {
  		text-align: right;
	}
	#contactAgeLimits {
 		margin-left: -10px;
	}
	.fg-label-text-right {
		text-align: right;
		padding-bottom: 5px;
	}
	
	.tab-content .fg-newsletter-sponsor-wrapper .fg-border-line .fg-col-hack div{

    	margin-bottom: 10px;
	}
        
        ul#fg-top-nav-app-switch {
	    top: -10px;
	}
	
	.fg-bookmark-sponsor-wrap .fg-col-hack .fg-padding-tp-three{
	    padding-left: 20px;

	}
}

/* =============================================================================
* 02 - min-width:767px and max-width:1333px
========================================================================== */
@media only screen and (min-width:767px) and (max-width:1333px) {
	.timeline > li .timeline-time {
		width: 27% !important;
	}
	.timeline > li .timeline-body {
		margin: 0 0 15px 38% !important;
	}
	.timeline:before {
		left: 32% !important;
	}
	.timeline > li .timeline-icon {
		left: 32% !important;
	}
		
	.touch-enabled .page-breadcrumb.breadcrumb > li.backtop .fa,
	.touch-enabled .backend-sticy-area .btn-group .fg-chevron-left{
	    display: none;
	}
}

/* =============================================================================
* 03 - min-width:320px and max-width:992px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:992px) {
	.page-sidebar .page-sidebar-menu .sub-menu li > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a:hover {
		color: #fff;
	}
	.page-sidebar .page-sidebar-menu > li .sub-menu{
		height: auto!important;
	}
    .dataTables_scrollHead{
        clear: left;
    }
    .filter-log-font{
        line-height: 20px;
    }
    .fg-adminstration-wrap{
		float: left!important;
	}
    .fg-logout{
    	width: 100%;
    }
    .fg-fields-wrap .switch-light{
		float: left!important;
	}
	.fg-heading-editable{
		margin-top: 0px!important;
	}
	.fg-criterion{
		text-align: left!important;
	}
	.fg-user-div .input-sm{
		width: 94%!important;
 	 	padding-left: 0;
	}
	.fg-nav-tab-border:first-of-type:before{
		border-bottom: 0px solid #ddd!important;
	}
	.fg-contact-log-filter-box .dropdown-menu {
	    left: auto !important;
	    right: 0 !important;
	}
	.fg-contact-log-filter-box{
		bottom:4px!important;
		width: auto;
	}
	.fg-portlet .checkbox-list {
    	padding-top: 0!important;
	}
}

/* =============================================================================
* 04 - min-width:480px and max-width:768px
========================================================================== */
@media only screen and (min-width:480px) and (max-width:768px) {
	.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
		margin-left: 0;
	}
	.radio-inline, .checkbox-inline {
		padding-left: 0;
	} 
	.fg-import-table{
		display: table;
		overflow: scroll;
	}  
	.fg-search-div{
		width: 230px!important;
  		right: 52px!important;
		right: auto;
	} 
	.fg-has-filter .fg-search-div{
  		right: 105px!important;

	}   
	.fg-has-filter .fg-filter-check-icon{
  		right: 55px!important;

	}
}

/* =============================================================================
* 05 - min-width:320px and max-width:767px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:767px) {
     .fg-br-lang-bar{
        padding-top: 6px;
    }
     .fg-stat-and{
    	text-align: left!important;
    }
    .fg-contact-data .tabbable-custom .data-more-tab {
    /*	padding-bottom: 7px!important;*/
	}
    div.dataTables_paginate{
		/*float: left !important;*/
		margin-top: 24px !important;
	}
    .fg-subscriber-list .data-more-tab{
		margin-top: 10px!important;
	}
	.roledivright.mrgtop-3.col-sm-12 {
		width: 100%;
		padding-left: 5px;
	}
	.switchmargintop.col-sm-2 {
		width: 100%;
		float: left;
	}
	.fg-label-inner{
		padding-top: 2px;
	}
	.fg-function-txt{
		width: auto;
	}
	.fg-contact-tables{
		margin-top: 10px;
	}	
	.twist {
		width: 100%;
		float: left;
		padding-left: 6px !important;
		padding-top: 6px;
	}
	.twist .col-sm-3, .twist .col-sm-4, .twist .col-sm-5 {
		float: left;
		width: 30%;
	}
	.col-sm-4 .fg-txt-area {
		padding-right: 41px;
	}	
    .fg-expt-ml {
        margin-left:0px;
    }
    .fg-expt-canc{
        float:none !important;
    }
    .timeline > li .timeline-icon {
		display: none;
	}
    .filter-log-from span {
        line-height: 20px!important;
    }
	.timeline > li .timeline-time {
		margin-top: 10px !important;
		margin-bottom: 15px;
		padding: 0 !important;
		min-height: 40px;
	}
	.timeline > li .timeline-time span.date {
		margin-right: 20px;
		float: left;
	}
	.fg-note-link-txt {
		margin-top: 0 !important;
	}
	.fg-terms-blk div {
		padding: 0;
		margin: 0;
	}
	.fg-terms-blk div label {
		padding: 0;
		margin: 0;
	}  
    .fg-expt-canc{
        float:none !important;
    }
    .fg-nav-tab-border:nth-child(3):before {
	    left: -15px;
	    margin-right: -15px;
	    padding-bottom: 4px;
	    border-bottom: none!important;
	}
	.fg-subscibers-list dl dt{
		width: 100%!important;
		text-align: left!important;
	}
	.fg-salutation-clear dl dt{
		width: 100%!important;
		text-align: left!important;
	}
	.modal-footer .btn {
  		margin-bottom: 4px !important;
	}
    
    .fg-upload-area dl{
    	width: 100%!important;
    }
    .fg-upload-area dl dt{
    	text-align: left!important;
    	width: 100%!important;
    }
    .fg-upload-area dl dd{
    	width: 100%!important;
    }
    
    .fg-ck-caption-txt{
		text-align: left!important;
	}
    .fg-upload-area dl dt:last-of-type {
        margin-bottom: 10px !important;
    }
    .fg-nav-tab-border .overviewwidth{
    	display: none!important
    }
    .fg-nav-tab-border:before{
		width: auto !important;
	}
	.fg-description-block dl dt{
		width: 100%!important;
		text-align: left!important;
	}
	.fg-description-block dl dd{
		width: 100%!important;
	}
}

/* =============================================================================
* 06 - min-width:320px and max-width:400px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:400px) {
	.form-actions .btn-group {
		float: left;
		padding-left: 13px;
		margin-top: 5px;
		width: 100%;
	}
	.btn.default-ash {
		float: right;
	}
    .filter-log-from{
        width: 47px;
    }	
	.fg-search-div .form-control {
   		 width: 100%!important;
	}
	.fg-autocomplt-input{
		width: 200px!important;
	}
	.fg-title-wrapper .fg-page-title{
		 margin-right: 0!important;
	}
    .form-actions .popover-content .btn-group{
        float: none;
        padding-left: 0;
        margin-top: 5px;
        width:auto;
    }
    .page-title-sub{
			float: none;
			width: 100%!important;
			
	} 
	#servicemenuBar .page-title-sub{
		margin-bottom: 10px;
		width: 100%!important;
	}
}

/* =============================================================================
* 07 - min-width:400px and max-width:767px
========================================================================== */
@media only screen and (min-width:400px) and (max-width:767px) {
    .filter-log-from{
        width: 119px;
    }   
    .fg-title-wrapper{
		width: auto;
	}	
}

/* =============================================================================
* 08 - max-width:992px
========================================================================== */
@media only screen and (max-width:992px) {
	.navbar-toggle {
		display: block;
	}	
	a.fg-topav-centre-logout {
	    display: inline-block !important;
    	margin: 0;
	}
	ul#fg-top-nav-app-switch {
	    margin-top: 0px;
	    margin-right: 5px;
	}
	a.navbar-toggle {

	    padding: 4px 8px;
	    margin-top: 10px;
	    display: block;
	    float: right;
	}
	.page-header.navbar.navbar-fixed-top {
	    padding: 0;
	}
	.sft-field span.fg-criterion{
		text-align: left;
	}
		
	 #newsletter_bar_chart{
	 	height:230px;
	 }

}

/* =============================================================================
* 09 - max-width:768px
========================================================================== */
@media only screen and (max-width:768px) {
	
    .fg-lang-top-btm{
        margin-top:0!important; 
    }
    .fg-dropdown-blue {
   		padding-right: 10px !important;
	}
    #displayStaticFields:after {
      clear: both;
      display: block;
      float: none;
      content: '';
    }
    .sft-remove{

      position: relative;
      z-index: 1;
    }
    .fg-document-edit-wrapper>.form-horizontal>.row>.fg-common-top {
        min-height: 170px;
    }
    .fg-spon-assignment{
    	margin-bottom: 75px!important;
    }
    .fieldArea .checkbox-list{		
	    height: auto!important;
	}
	.fg-ck-caption-txt{
		text-align: left!important;
    	float: left;
   		width: 100%;
	}
	

	ul#fg-top-nav-app-switch {
/*	    top: -10px;*/
	    position: relative;
	}
	.fg-tab-style-01 .tab-content> .tab-pane{
		margin-bottom: 20px;
	}
	.fg-tab-style-01 .tab-content> .tab-pane .fg-select-font{
    width: 100%!important;

	}
	.page-sidebar .page-sidebar-menu > li .btngrpdiv{
	    top: 0px;
	    right: 0px;
	    z-index: 1;
	    min-width: 45px;
	    height: 34px;
	    padding-top: 10px;
	    padding-left: 13px; 

	}
	.page-sidebar .page-sidebar-menu > li .btngrpdiv.open {
	    z-index: initial;
	}
	.dataTables_wrapper .dataTables_info {
	    float: left;
	}
 }

/* =============================================================================
* 10 - min-width:320px and max-width:600px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:600px) {
	.fg-back-btn {
		clear: left;
		float: left;
		width: 100%;
	}
	.fg-file-doc-div{
		position: relative!important;
	}
	.breadcrumb .fg-back-btn {		
		width: auto;
	}
	.fg-select-font{
		width: 100%;
		padding-right: 0 !important;
	}
	.fa-lock{
        height: 20px !important;
    }
	.dataTables_wrapper .dataTables_paginate{
		margin-top: 24px !important;
	}	
	.fg-adminstration-area-open ul li{
		width: 100%!important;
	}
	.fg-member-block{
		width: 100%!important;
	}
	.fg-member-block-graph-area{
    	width: 100%!important;
    }
    .include-filter dl dt {
	    margin-bottom: 0;
	    min-height: auto;
	    padding-bottom: 2px;
	    padding-top: 8px;
	    width: 100% !important;
	}	
}

/* =============================================================================
* 11 - min-width:320px and max-width:768px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:768px) { 
	.fg-newsletter-list dl dt {
	    margin-bottom: 0 !important;
	    text-align: left !important;
	    width: 100% !important;
	}
	.fg-dev-header-nav-active > a span {
    	color: #fff !important;
	}	
	.fg-upload-profgress{
		width: 100%!important;
	}	
	#tableWrapper-future .dataTables_info {
  	  margin-bottom: 20px;
	}
	#custom-payment {
    	margin-bottom: 80px;
	}
	.fg-page-title{
		margin-right: 10px!important;
		padding-bottom: 10px;
	}
	.fg-nav-tab-border .data-more-tab {
    	border-bottom: 1px solid #dddddd;
	}
	.fg-import-block ul li .desc{
		display: none!important;
	}
	.fg-nav-links li{
		margin-bottom: -0.4%!important;
	}
	.fg-salutation-clear dd.fg-dd-fullwidth {
   		 padding-bottom: 13px !important;
	}
	/*.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li > a {
   		padding-left: 26px !important;
	}*/
		.fg-nav-tab-border:last-child:before{
		width: 100% !important;
	}
		.row-same-height .nav-tabs > li{
		margin-bottom: 0!important;
	}
	 .input-group.date {
        width: 100%;
    }   
    .fg-doc-div-area .fg-news-radio > span {
	    margin-bottom: 3px;
	    margin-top: 3px;
	}
	.fg-file-doc-div {
	    position: relative !important;
	    right: -10px !important;
	    top: 5px !important;
	}
    .fg-dashboard-wrap{
    	min-height: 276px!important;
    }    
    .fg-adminstration-area-open{
		overflow: hidden;
	}
    .fg-simplemail-label{
    	text-align: left!important;
    }
	.fg-attachments-simple{
		text-align: left!important;
	}	
	.fg-label-text-right label{
		text-align: right!important;
	}	
	.addField  {
		margin-bottom: 10px;
	}
	.fg-newsletter-list h3 {
	    margin-top: 0;
	    padding-bottom: 0;
	    padding-top: 0;
	}
	.fg-col-first-icon{
		 left: 4px!important;
	}
	.fg-col-first-icon.fg-sort-drag {
   		left: 10px !important;
	}
	#tab1 h3.block {
	    margin-bottom: 0;
	    margin-top: 0;
	    padding-top: 0;
	}
	#tab3 .fg-col-hack div {
   		padding-left: 0!important;
	}
	#tab3 .form-horizontal .control-label{
		padding-right: 0px!important;
	}
	#tab6 .checkbox-list{
		margin-left: 0px!important;
	}
	.fg-createmail-fileupload ul li.fg-image-area > p{
		width: 100%;
		margin-top: 10px;
	}
	.addCategory {
	   margin-bottom: 10px;
	}
	.fg-newsletter-list dl dd:first-of-type{
		width: 100%!important;
	}
	.fg-newsletter-list dl dd {
    	width: 100%!important;
	}
	.fg-newsletter-inner-div dl dd{
		margin-bottom: 10px!important;
		width: 100%!important;
	}
	.fg-newsletter-list dl dd:last-child{
		margin-right: 0;
	}
	.fg-contact-field-label{
		width: 100%!important;
	}  	
	.fg-newsletter-inner{
		width: 100%;
	}
	.fieldArea .popover {
		max-width: 100%!important;
		width: 100%!important;
	}
	.fg-contact-tables .fg-portlet h4{
		overflow: hidden;
		clear: left;
	}
	.fg-contact-tables .checkbox-list label{
		width: 100%;
	}
	.fieldArea .popover .popover-content {
		max-width: 100%;
		background: #fff;
		float: left;
	}
	.fg-col-first-icon .fa-lock{
		 padding-top: 6px!important;
	}
	#tab3 .form-horizontal .control-label {
	    margin-bottom: 10px;
	    padding-right: 14px !important;
	}
	.fieldArea .popover .fg-popover-address {
		float: left;
		width: 100%;
	}
	.fieldArea .popover .fg-popover-address:last-of-type {
		width: 100%;
		margin-right: 0;
		float: right;
	}
	.checkbox-list{
		float: left !important;
		padding-top: 6px;
		width: 100%;
		/*margin-left: -13px;*/
	}
	.fg-subscriber-list .fg-page-title {
	    margin-left: 8px;
	    margin-right: 0 !important;
	    padding: 0;
	}
	.bs-select {
    	margin-bottom: 10px !important;
	}
	.fg-dev-right-spacer {
    	width: 98.5% !important;
	}
	.fg-salutation-clear dl dd{
		width: 100%!important;
	}
    .fg-language-left{
   		padding-left:0!important;
	}
	.fg-lang-tab .btn-group{
      	margin-top: 3px!important;
	}
    .fg-switch-right{
        float:left!important;
    }
    .fg-textalign .userblk{
    	margin-top: 0;
    	padding-top: 0!important;
    }
    body .form-horizontal .control-label{
    	width:100%;
		padding:0 15px;
		text-align: left !important;
    }
    .fg-heading-editable input{
    	margin-top: 0px!important;
    }
    .fg-function-txt > label{
    	margin-left: 0px!important; 
    }
    .page-sidebar-menu.sub-menu.firstleval > li{
		color: #333;
	}
	.panel-heading{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.fg-fields-wrap div{
		margin-bottom:3px!important;
	}
        .fg-dev-right-spacer {
         margin-right: 10px !important;
        }
	.firstleval li.open ul li.subclass a span{
		color: #222;
	}
	.firstleval li.open ul li.subclass a span.badge{
		color: #fff;
	}
	div.bookmark input[type="checkbox"] + label i:before{
   		 padding-top: 0!important;
	}	
	.fg-tab-line .nav.nav-tabs{
		padding-bottom: 0px!important;
	}
	.fg-tab-line .nav-tabs > li{
		margin-bottom: -1px;
	}
    .portlet-body.form .form-actions{
        padding-left: 0!important;
    }
    .more-tab{
        float:left;
        margin-top:10px!important;
    }    
    .fg-assign-label{
        width:auto!important;
    }
    .page-content-wrapper .page-content .page-title{
        font-size: 30px;
        line-height: 29px;
        padding-bottom: 0;
        word-wrap: break-word;
/*        margin-bottom: 0!important;*/
    }
    #tablesettings .page-content .page-title{
    	margin-bottom: 15px!important;
    }
    .fg-nav-tab-border .fg-page-title {
        width: 100% !important;
    }
    .fg-nav-tab-border #paneltab{
    	margin-top: 12px;
    }
    .fg-left-right-move{
        padding-left: 0!important;
    }
    .fg-colpkr .control-label{
        margin-bottom: 0!important;
    }
    .fg-col-last-icon{
        top:9px!important;
    }
    .fg-lang-top-btm{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fg-col-hack .row .col-md-9{
        float: left;
    }
    .filter-box .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5{
        line-height: inherit!important;        
    }
    .bookmark label{
        padding-top: 4px!important;
    }
    .table-set-rgt{
        line-height: 24px!important;
    }   
	ul.fg-full-width.nav.nav-tabs > li {
		display: block;
	}
	ul.fg-full-width.nav-tabs > li {
		margin-bottom: -1px;
	}
	.fg-select-font {
		margin-bottom: 4px !important;
		width: 98%;
	}	
	.fg-category {
		float: none !important;
	}
	.fg-left-zro {
		padding-right: 0;
	}
	.panel-contact-right {
		float: left;
		width: 100%;
		padding-left: 12px;
	}		
	.fg-col-hack label {
		text-indent: 0;
		margin: 0;
	}
	.fg-logout {
		left: 0;
	}
	.fg-close-ico {
		width: 35px;
	}
	.fg-col-hack div {
		padding-left: 0;
		padding-bottom: 0;
	}
	.fg-col-hack div.popover-content {
	    padding: 9px 14px;
	}
	.fg-red-border .fg-close-ico {
		width: 10%;
	}
	.fg-theme-panel .switch-light {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.fg-head-ovr-txt .panel-title {
		display: table;
	}
	.fg-import-progress ul li {
		margin-bottom: 15px;
		width: 100% !important;
	}
	.fg-import-progress ul li:last-child {
		margin-bottom: 0;
	}
	.fg-import-progress ul{
		padding-left: 0;
	}
	.fg-portlet-div .control-label{
		text-align: right;
	}
    .input-group{
        margin-bottom: 3px;
    }
    .fg-function-txt > label{
        padding-left: 0;
    }  
    .fg-executive-area dl dt{
    	margin-bottom:0 !important;
    	width: 100%!important;
    } 
    .fg-executive-area dl dd{
    	margin-bottom:0!important;
    	width: 100%!important;
    } 
    .fg-executive-area .fg-dt-wrap{
    	float: left!important;
    }   
    .fg-dl-wrap dl dt{
    	width: 100%!important;
    }  
    .fg-dl-wrap dl dd{
    	width: 100%!important;
    	float: left!important;
    }
    .fg-dl-dropdown{
    	width: 100%!important;
    	margin-right: 0!important;
    	margin-bottom: 10px!important;
    }
    .fg-dl-dropdown-last{
    	width: 100%!important;
    	float: left!important;
    	margin-right: 0!important;
    	margin-bottom: 10px!important;
    }
    div.closeico input[type="checkbox"] + label:before{
    	margin-top: -3px!important;
    }
    .form-group{
    	margin-bottom: 8px;
    }
    .fg-required-label{
    	width: auto!important;
    }
    .fg-tab-list{
		width: 100%!important;
	}
	.fg-tab-list dl dt{
		width: 100%!important;
		text-align: left!important;
		margin-bottom: 0 !important;
	}
	.fg-tab-list dl dd{
		width: 100%!important;
		margin-bottom: 5px !important;
	}
	.fg-news-radio > span{
		width: 100%!important;
		position: relative!important;
	}
	.fg-label-wrap{
        text-align: left!important;
    }
    .checkbox-list.panel-contact-right {
   		margin-left: 0 !important;
	}
	.fg-statistics-wrap > div{
		padding-left: 0!important;
		padding-right: 10px;
	}
	.fg-statistics-wrap .radio-list{
		padding-bottom: 10px;
	}
	.fg-stat-and{
		padding: 6px 0!important;
	}
	.fg-statistics-wrap .fg-statistics-select {
    	width: 100%!important;
	}
	.fieldArea .popover {
		max-width: 260px!important;
		width: 260px!important;
	}
	.fieldArea .popover .popover-content {
		max-width: 100%!important;
		padding-left: 15px;
	}
	.fieldArea .popover .fg-popover-address {
		width: 100%!important;
	}
	.fieldArea .popover .fg-popover-address:last-of-type {
		width: 100%!important;
	}
	.tab-pane .fg-select-font{
		width: 100%!important;
	}
	.fg-table-wrap .fg-common-top-btm {
   		overflow: hidden;
	}		
	.datetimepicker-dropdown-bottom-right{
		left: auto!important;
	 	right: 9px;
	}
	.datetimepicker-dropdown-bottom-right:before{
		left: auto;
		right: 30px;
	}
	.datetimepicker-dropdown-bottom-right:after{
		left: auto;
		right: 30px;
	}
	.fg-news-radio > span{
		right: 0!important;
		margin-top: -4px!important;
	}
	.form_datetime {
    	margin-top: 8px;
	}
	.dataTable {
	    display: table;
	    overflow: scroll;
	}
	.fg-recepients-alertwrap .alert-warning {
    	margin-top: 6px;
	}
	.fg-preview-div dl dt{
		width: 44%!important;
		margin-right: 30px!important;
		word-wrap: break-word;
	}
	.fg-preview-div dl dd{
		width: 42%!important;
		text-align: left!important;
		 margin-right: 0!important;
	}
	.form-group.fg-subscibers-list{
		margin: 0!important;
	}
		.fg-subscibers-list dl dd{
		width: 100%!important;
		padding-bottom: 0!important;
	}	
	.fg-member-block-graph-area{
		height: 208px!important;
	}
	.fg-col-hack .filterCount {
		display: inline-block!important;
	   	margin-top: 5px!important;
	}
	.fg-col-hack .clubfilterCount {
	    display: inline-block !important;
	    margin-top: 5px;
	}
	#tab2 .dropdown-menu li{
		padding-left: 0;
  		padding-right: 0;
	}	
	.fg-control-aranew dl dt {
   		width: 100% !important;
   		margin-bottom: 0;
	}
	.fg-control-aranew dl dd{
		width: 100% !important;
	}
	.sortables .fg-filter-role {
   		display: inline-block;
   		width: 100%!important;
	}
	.fg-spon-assignment dl dt{
		width: 100%!important;
		 text-align: left !important;
	}
	.fg-spon-width, .fg-spon-assignment dl dd{
		width: 100%!important;
	}
	.fg-team-sponsoredby dl {
   		margin-left: 16px !important;
	}
	.fg-team-sponsoredby dl dd{
		margin-bottom: 10px;
	}
	.fg-team-sponsoredby dt {
	    line-height: 15px !important;
	    margin-bottom: 0 !important;
	    min-height: auto !important;
	    text-align: left !important;
	}	
    .fg-sticky-block input.btn {
    	width: auto !important;
	}
    div.input-group.date input.filter-log-input{
        width:87.3%  !important;
    	max-width: calc(100% - 55px);
    }
    .fg-label-inner .fa-envelope-o {
    	vertical-align: top;
	}
	.fg-subscriber-list .data-more-tab{
		margin-bottom: 0 !important;
		padding-bottom: 0!important;
	}
	.datepicker.datepicker-dropdown{
	    margin-top: -46px !important;
	}
	.datepicker.datepicker-dropdown.datepicker-orient-bottom{
    	margin: -26px 0 0 0!important;
	}
}

/* =============================================================================
* 12 - min-width:950px and max-width:1255px
========================================================================== */
@media only screen and (min-width:950px) and (max-width:1255px) {
	.fg-common-top .col-md-3 {
		width: 33%;
	}
        .sft-field{
            width: 100%;
        }
        
}

/* =============================================================================
* 13 - min-width:320px and max-width:500px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:500px) {
	.nav-tabs > li {
		float: left;
	}
	.fg-table-wrap{
		overflow-y: scroll;
	}	
	.fg-header-nav-club .fbautocomplete-main-div input[type="text"] {
    	width: 100%!important;
	}	
	.form-group .control-label{
		text-align: right;
	}	
    .fg-overview-list dl dt{
        width:100%!important;
        padding-left:15px;
        text-align:left!important;
    }
    .fg-overview-list dl dd{
        width:100%!important;
        padding-left:15px;
    }
    .fg-label-wrap{
       	text-align: left!important;
    }
    #tab5 dl dd input.fg-newsleter-input-width:first-child{
    	width: 75.8%!important;
    }
    div.fbautocomplete-main-div input[type="text"]{
    	width: 46%!important;
    }
    .fg-modal-text div.fbautocomplete-main-div input[type="text"]{
    	width: 100%!important;
    }
    .fg-theme-panel .form-actions a.btn{
    	padding: 6px 13px!important;
    }
    .fg-send-design {
	    width: 75.6% !important;
	}
	.fg-bookmark-common{
		width: auto;
	}
	.data-more-tab .dropdown-menu {
	   /* left: 0 !important;
	    right: auto !important;*/
	}
    #membership-add-popup .fg-add-log-form dl dt {
        display: block;
        width: 80%;
        text-align: left;
        margin: 0 auto;
    }
    
    #membership-add-popup .fg-add-log-form dl dd {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    div.input-group.date input.filter-log-input{
        width:80%!important;
    }
}

/* =============================================================================
* 14 - min-width:400px and max-width:1000px
========================================================================== */
@media only screen and (min-width:400px) and (max-width:1000px) {
	.nav-tabs {
		clear: left;
		float: left;
		margin-top: 10px;
		width: 100%;
	}
}

/* =============================================================================
* 15 - min-width:320px and max-width:670px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:670px) {
	.nav-tabs > li:last-child {
		display: none;
	}
	.fg-member-block{
		width: 100%!important;
	}
	.fg-member-block-graph-area{
		float: none!important;
		margin: 20px auto!important;
	}
	.btn-arrownew{
		right: 37px!important;
	}
	.page-content-wrapper .page-content .page-breadcrumb.breadcrumb{
		padding-right: 68px!important;
	}
	span.fg-backbtn-device{
		display: none;
	}
}

/* =============================================================================
* 16 - min-width:320px and max-width:520px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:520px) {	
	.nav.nav-tabs {
		clear: left;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}
	ul.fg-full-width.nav.nav-tabs > li a {
		border: none;	
	}
	.fg-aignblock-div{
		width: 17px!important;
	}
	.fg-aignblock-div .radio span{
		margin-left:  -5px;
	}
	.fg-contact-data .nav-tabs > li {
    	/*margin-bottom: -11px!important;*/
	}
	.addCategory{
		width: 100%;
	}
	.addField{
		width: 100%;
	}
	.portlet-body.fg-dashboard-wrap .fg-birthname {
		display: inline-block;
		width: 59%!important;
	}
	.dataTables_paginate a{
		padding: 4px 8px!important;
	}
    .paging_full_numbers span > span{
            
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .fg-title-wrapper .nav-tabs:before{
    	bottom: 0px!important;
    }
}

/* =============================================================================
* 17 - min-width:320px and max-width:990px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:990px) {
	.sft-remove {
		margin-bottom: 10px;
	}
	.fg-tab-line{
		width: 100%!important;
	}
	.fg-filter-blk-open .filter-pad {
		height: auto !important;
	}
	
	.space .sft-template, .space .sft-condition-template {
		padding-right: 15px !important;
		padding-right: 15px !important;
	}
	.fg-inner-title {
		padding-bottom: 10px!important;
	}
    .fg-field-select{
        clear: both;
    }
    .fg-expt-ml {
        margin-left:0px!important;
    }
    .fg-expt-canc{
        float:none !important;
    }    
		
    .roleTypeDpdn .fg-cls-element {
        top: 1px;
    }
    .fg-field-area{
    	text-align: left;
    }
    .sft-field{
    	/*overflow: hidden;*/
    	width: 100%;
    }
}

/* =============================================================================
* 18 - min-width:320px and max-width:1024px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:1024px) {
	.fg-full-width .fg-page-title {
		margin-bottom: 10px;
	}
	.fg-tableimg-hide{
		width: 25px;
	}
	.fg-statistics-wrap{
		width: 100%;
	}
	.form-horizontal .fg-dd-fullwidth .form-group {
    	margin-left: 0;
	}
	.fg-upload-label-input .radio-inline span.fg-upload-visible-label{
      	width: auto!important;
    }
	.fg-upload-label-input .btn-group.bootstrap-select.show-tick {
   		margin-left: 20px;
	}
	.paneldisplay .fg-contact-searchbox{
		margin-top:0!important;
	}
	.fg-statistics-wrap .radio-list{
		width: 100%;
		padding-bottom: 10px;
	}	
	.fg-statistics-wrap > div{
		padding-left: 0!important;
	}
	.fg-date-space{
		padding-left: 0!important;
		width: 100%!important;
	}
	.fg-nav-links > li > a{
		padding: 10px 8px!important;
	}
	.fg-error-block{
		width: 100%!important;
	}
	.fg-error-left{
		margin-top: 0 !important;
		margin-bottom: 20px!important;
		width: 100%!important;
	}
	.fg-error-left h1{
		text-align: center !important;
	}
	.fg-error-left span{
		text-align: center !important;
	}
	.fg-error-right{
		width: 100%!important;
		padding-left:10px!important;
		padding-right:15px!important;
		border-top: 2px solid #999999!important;
		border-left: 0!important;
	}
	.fg-error-right h4{
		text-align: center;
	}
	.fg-error-right h3{
		text-align: center;
	}
	.fg-error-right p{
		text-align: center;
	}
	.fg-error-right a{
		display: block!important;
		margin-left: auto;
    	margin-right: auto;
    	width: 165px;
    	text-align: center;
	}	
	.fg-spon-sm {
    	margin-bottom: 5px;
	}
	.fg-spon-input-area{
		width: 100%!important;
		margin-bottom: 5px;
	}
	.fg-spon-content-area{
		width: 100%;
	}
	.fg-spon-assignment .fg-col-hack {
   		padding-left: 15px !important;
	}
	.fg-spon-assignment .bootstrap-select.form-control:not([class*="span"]) {
		width: 90px;
	}
	.fg-spon-width .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
		width: 100%!important;
	}	
	.fghover a.fg-tableimg-hide{
		width: 30px;
		text-align: center;
	}
	.fg-dev-checkedtr a.fg-tableimg-hide {
		display: block;
		visibility: visible;
		width: 30px;
		text-align: center;
	}
	.fg-title-wrapper{
		width: calc(100% - 36px)!important;
	}
	.fg-count-text-wrapper{
		right: -7px!important;
	}
	.fg-contact-tables{
		margin-bottom: 45px!important;
	}
	.fg-title-first-block {
	    max-width: calc(100% - 44px)!important;
	    width: 100%;
	}
	.fg-title-first-block .page-title{
		margin-top: -4px!important;
	}
	.form-horizontal .form-group{
	 	margin-left: 0!important;
    	margin-right: 0!important;
	}
	#activeTable_wrapper .dataTables_info{
   		margin-bottom: 40px;
	}
}

/* =============================================================================
* 19 - min-width:981px and max-width:1295px
========================================================================== */
@media only screen and (min-width:981px) and (max-width:1295px) {
	.fg-progres-txt {
		width: 71% !important;
	}
}

/* =============================================================================
* 20 - min-width:769px and max-width:980px
========================================================================== */
@media only screen and (min-width:769px) and (max-width:980px) {
	.fg-import-progress ul li {
		margin-bottom: 15px;
		width: 46% !important;
	}
	.fg-chk-box-leval {
		margin-top: -2px;
	}
}

/* =============================================================================
* 21 - min-width:950px and max-width:990px
========================================================================== */
@media only screen and (min-width:950px) and (max-width:990px) {
	.fg-popup-wrap .control-label{
		text-align: left;
	}
}

/* =============================================================================
* 22 - min-width:769px and max-width:1024px
========================================================================== */
@media only screen and (min-width:769px) and (max-width:1024px) {
   .fg-csv-expt .col-md-2{
    	width: 24%;       
    }
    .fg-csv-expt .form-group .control-label {
    	padding-top: 5px;
    } 
    .fg-spon-width{
    	width: 64%!important;
    }   
    .fg-newsletter-inner-div dl dd{
    	width: 50%!important;
    }
    #tab2 .fg-newsletter-inner-div dl dt{
    	width: 50%!important;
    }
}

/* =============================================================================
* 23 - min-width:768px and max-width:1120px
========================================================================== */
@media only screen and (min-width:768px) and (max-width:1120px) {
	.fg-nav-links > li > a{
		padding: 10px 8px!important;
	}
        .page-header.navbar .hor-menu .navbar-nav > li > a{
              padding: 13px 5px;
        }
}

/* =============================================================================
* 24 - min-width:401px and max-width:767px
========================================================================== */
@media only screen and (min-width:401px) and (max-width:767px) {
	.fg-title-wrapper{
		width: auto;
	}
}

/* =============================================================================
* 25 - min-width:768px and max-width:1024px
========================================================================== */
@media only screen and (min-width:768px) and (max-width:1024px) {
	.fg-tab-list{
		width: 100%!important;
	}
	.fg-contact-field-label{
		width: 33%!important;
	}
	.fg-salutation-clear dl dt{
		width: 30%!important;
	}
	.fg-salutation-clear dl dd{
		width: 54%!important;
	}
	.fg-upload-profgress{
		width: 59%!important;
	}
	.fg-upload-area dl dd{
		width: 62%!important;
	}
	.fg-upload-token dl dd {
    	width: 66.6% !important;
	}	
	.fg-upload-token .fg-upload-tokenfield{
		width: 60%!important;
	}
	.fg-nav-links li{
		margin-bottom: -0.4%!important;
	}
	.fg-dev-rowactions .col-sm-3 {
  		padding-left: 0px;
	}
	.fg-wizard-tabs .nav-pills .desc {
    	display: none !important;
	}
	.fg-nav-links > li.active > a, .fg-nav-links > li.active > a:hover, .fg-nav-links > li.active > a:focus{
		margin-bottom: -1px;
	}
    .fg-nav-links>li.active>a:after, .fg-nav-links>li.active>a:hover:after, .fg-nav-links>li.active>a:focus:after {
	    z-index: 100;
	    position: absolute;
	    content: '';
	    display: block;
	    height: 3px;
	    bottom: -3px;
	    min-width: 100%;
	    background-color: #fff;
	    left: -3px;
	    right: -4px;
    }              
	.form-wizard .steps > li > a.step > .desc{
		display: none!important;
	}
	.page-title-sub{
		padding-bottom: 10px;
	}
	.form-horizontal .control-label {
   		text-align: right !important;
	}
	.fg-sponsor-module-blk .page-content-body {
	    margin-bottom: 35px;
	    overflow: hidden;
	}
	#tab3 .fg-tab-ckedit .opened{
		margin-top: 0px!important;
	}
	#service_settings .fg-common-top {
    	margin-bottom: 106px;
	}
}

/* =============================================================================
* 26 - min-width:769px and max-width:950px
========================================================================== */
@media only screen and (min-width:769px) and (max-width:950px) {
	.fg-newsletter-list dl dd{
		width: 77%;
	}
	.fg-newsletter-inner-div dl dd{
		width: 24%!important;
	}
	.fg-statistics-wrap .fg-statistics-select {
   		width: 70.7%;
	}
}
/* =============================================================================
* 27 - min-width:500px and max-width:3000px
========================================================================== */
@media only screen and (min-width:500px) and (max-width:3000px) {
	.fg-send-design {
		width: 88% !important;
	}
	.portlet-body.fg-dashboard-wrap .fg-birthname {
		display: inline-block;
		width: 76%;
	}
}
/* =============================================================================
* 28 - min-width:320px and max-width:1070px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:1070px) {
	.fg-subscriber-list .data-more-tab{
		float: left;
		margin-top: 0;
    	padding-top: 0;
		margin-bottom: 6px;
	}
	.fg-contact-searchbox {
	   	margin-bottom: 6px;
	    position: relative!important;
	    right: 0!important;
	    width: 200px!important;
	    float: right;
	    margin-top: 8px;
	}	
	.fg-subscriber-list li {
	    padding: 0;
	    margin: -1px;
	}
	.fg-sent-area{
		top: -2px!important;
	}
}
/* =============================================================================
* 29 - min-width:769px and max-width:1036px
========================================================================== */
@media only screen and (min-width:769px) and (max-width:1036px) {
	
        
}
/* =============================================================================
* 30 - min-width:320px and max-width:480px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:480px) {
	.fg-import-table{
		display: block;
		overflow: scroll;
	}  
        .fg-dev-ov-settings dl{
            margin-left: 10px;
            margin-right: 10px;
        }
        .fg-dev-ov-settings dl dt{
            text-align: left!important;
        }
        .fg-dev-ov-settings dl dd{
             width: 100%!important;
        }
        div.fg-add-exist-input{
            min-width:0;
            
        }
        div.fbautocomplete-main-div.fg-add-exist-input input[type="text"] {
          width: 100%!important;
        }
        .fg-search-div{
			width: 164px!important;
	  		right: 52px!important;
			right: auto;
		}

		.fg-has-filter .fg-search-div{
	  		right: 89px!important;

		}   
		.fg-has-filter .fg-filter-check-icon{
	  		right: 55px!important;

		}
    	.fg-dashboard-static-wrap .fg-dashboard-static-teaser {
    		width:100%;
    		margin-top:10px;
    	}
    	.fg-dashboard-static-wrap .fg-dashboard-static-img {
		    margin: auto;
		    display: block;
		    float: none;
		}
		.fg-sticky-block input.btn {
	    	margin-bottom: 10px;
		}
		body.page-footer-fixed .fg-sticky-block{
    		padding-right: 19px !important;
		}
		body.fg-sticky-save-area {
		    padding-bottom: 150px !important;
		}
		
	
		.g-recaptcha{
			transform:scale(0.73);
			-webkit-transform:scale(0.73);
			transform-origin:0 0;
			-webkit-transform-origin:0 0;
		}
}
/* =============================================================================
* 31- min-width:1024px
========================================================================== */
@media only screen and (min-width:1024px) {
.fg-member-block-graph-area canvas {
	width: 160px!important;
	height: 170px!important;
    max-width: 100%;
    max-height: 100%;
	}
}
/* =============================================================================
* 32- min-width:768px and max-width:992px
========================================================================== */
@media only screen and (min-width:768px) and (max-width:992px) {
	.fg-nav-tab-border:nth-child(2) {
	    margin-left: 15px;
	}
	.fg-nav-tab-border:nth-child(3) {
	    left: -15px;
	    margin-right: -15px;
	    padding-bottom: 5px;
	}	
	.fg-csv-expt.fg-exprt label.control-label {
    	text-align: left!important;
	}
}
/* =============================================================================
* 33- min-width:768px and max-width:1200px
========================================================================== */
@media only screen and (min-width:768px) and (max-width:1200px) {
	.fg-salutation-clear .sft-field span {
   		text-align: left!important;
	}
	.fg-salutation-clear .sft-field  {
   		margin-bottom: 10px;
   		float: left;
	}
	.fg-salutation-clear .sft-field:first-child{
		margin-bottom: 0;
	}
	.fg-salutation-clear .sft-field:last-child{
		margin-bottom: 0;
	}
	#tab6 .fg-tab-list .fg-news-radio > span {
    	width: 67% !important;
	}
	#tab6 .fg-tab-list {
   	 width: 76%;
	}    
    .fg-upload-area dl dt{
        padding-right: 10px !important;
    }   
    .fg-description-block dl dt{
    	width: 100%!important;
    	text-align: left!important;
    }
    .fg-description-block dl dd{
    	width: 100%!important;
    }
}
/* =============================================================================
* 34- min-width:992px
========================================================================== */
@media only screen and (min-width:992px) {
		.fg-contact-data .fg-contact-log-filter-box {
  		width: auto!important;
	}
	.fg-team-sponsoredby{
		width: 80%;
	}
	.page-sidebar-fixed .page-sidebar > .slimScrollDiv{
		position: static !important;
		overflow: auto;
		/*bottom: 45px;*/
		top:0;

	}
	.page-sidebar-fixed .page-sidebar .side_main_menu{    
		overflow: hidden;
    	position: relative;
		/*bottom: 45px;*/
		top:0;

	}
	.page-sidebar-fixed .page-sidebar .side_main_menu{
	    padding-bottom: 0;
        max-height: 100%;
	}
	.page-sidebar-fixed .page-sidebar > .slimScrollDiv{
	    padding-bottom: 47px;
        max-height: 100%;
	}
	.page-sidebar-fixed .page-sidebar > .slimScrollDiv::after, 
	.page-sidebar-fixed .page-sidebar .side_main_menu::after {
	    clear: both;
	    content: "";
	    display: block;
	    float: none;
	    height: 0;
	    width: 0;
	}
	.page-sidebar .page-sidebar-menu > li .open>.dropdown-menu {
	    margin-bottom: 10px;
	}
	/*many to many merging popup footer sticky --- */
	.fg-membership-merge-modal .modal-footer.form-actions.fg-modal-footer {
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: -45px;
	    top: auto;
	}
	.fg-membership-merge-modal .modal-body{
	    position: static;
	}
	.fg-membership-merge-modal .fg-membership-merge-table-wrapper .table-responsive{
	    margin-bottom: 20px;
	}
}
/* =============================================================================
* 35- min-height: 600px
========================================================================== */
@media screen and (min-height: 600px){
	.page-footer-fixed .fg-sticky-block {
	  	position: fixed;
	  	bottom: 32px;
	  	width: 100%;
	  	padding-right: 40px!important;
	  	z-index: 9999;
	}
	.fg-sticky-block .form-actions{
		margin-top:0!important;
	}
	.page-footer-fixed .page-footer{
		bottom: 0!important;
    	left: 0!important;
    	position: fixed!important;
    	right: 0!important;
    	z-index: 10000!important;
	}
	.page-footer-fixed.fg-contact-module-blk .backend-sticy-area:not(.fg-sticky-block){
		margin-bottom: 50px;
	}
	body.page-footer-fixed.page-header-fixed{
	    padding-bottom: 20px !important;
	}

	body.page-footer-fixed.fg-sticky-save-area .page-content{
	    padding-bottom: 70px !important;
	}
}

/* =============================================================================
* 36 - max-width:1024px
========================================================================== */
@media screen and (max-width: 1024px){
    label.fg-upload-label-inline {
           width: 100%;
    }
    .fg-upload-token .form-group{
        clear: both;
        float:none;
    }
    .fg-document-edit-wrapper .form-group.fg-subscibers-list dl:after{
        clear:both;
        content:'';
        display: block;
    }
    .fg-document-edit-wrapper .form-group.fg-subscibers-list dl{
        width: 70%;
    }

   .fg-document-edit-wrapper .fg-display-div{
        display: block;
        width:100%;
        clear:both;
        float:none;
    }
    .fg-document-edit-wrapper .fg-display-div .btn-group.bootstrap-select.show-tick.bs-select{
        width:100%;
    }
	    
	.fg-contact-data .tabbable-custom > .nav-tabs > li.datahideshow:hover{
		border-color:transparent;
	}	

	body .fg-connection-img {
	    max-width: 80px;
	}
	body .fg-connection-img .fg-profile-img-blk130 {
	    width: 80px;
	    height: 80px;
	}
	body .fg-connection-img .fg-profile-img-blk-C130 img{

	    max-width: 80px;
	    max-height: 80px;
	}
	body .fg-contact-info {
		float: left;
		width: calc(100% - 90px);
	}
}
/* =============================================================================
* 37- min-width:768px and max-width:900px
========================================================================== */
@media only screen and (min-width:768px) and (max-width:900px) {
  
    .fg-import-block .nav-pills li a {
        text-align: left;
    }
    .fg-document-edit-wrapper .fg-common-top.form-group.fg-subscibers-list{
          margin-top: 20px !important;
    }
    .fg-document-edit-wrapper .form-group.fg-subscibers-list .fg-document-edit-image{
        top:0;
        margin-top:0;
    }
    .fg-wizard-tabs .tab-pane .fg-tab-list dl dd{
        width: 63% !important;
    }
    .fg-wizard-tabs .tab-pane .fg-tab-list dl dt{
         width: 30% !important;
    }
}
/* =============================================================================
* 38 - max-width:414px
========================================================================== */
@media only screen and (max-width:414px) {
    .data-more-tab ul.dropdown-menu{
          /*left: 0;*/
          max-height: 300px;
          overflow: auto;
          margin-right: 12px;
    }
    .data-more-tab{
    	position: relative;
    }
    .data-more-tab li.dropdown{
        position: static;
    }
    .tabbable-custom  ul.data-more-tab,.fg-subscriber-list .nav-tabs.data-more-tab{
          position: relative;
    }
    div.fbautocomplete-main-div{
        line-height: normal;
        position: relative;
        z-index: 0;
    }
    .fg-newsletter-inner-div{
        position: relative;
        z-index: 1;
        
    }
    #toast-container {
	    width: 80%;
	    margin: 0 auto;
	    left: 0;
	    right: 0;
	}
	#toast-container>div{
		width: 100%;
	}

	body .fg-connection-img {
	    max-width: 60px;
	}
	body .fg-connection-img .fg-profile-img-blk130 {
	    width: 60px;
	    height: 60px;
	}
	body .fg-connection-img .fg-profile-img-blk-C130 img{

	    max-width: 60px;
	    max-height: 60px;
	}
	body .fg-contact-info {
		float: left;
		width: calc(100% - 70px);
	}
}
/* =============================================================================
* 39 - and (max-width:736px) and (orientation:landscape) 
========================================================================== */

@media only screen  and (max-width:736px) and (orientation:landscape) {
    .data-more-tab ul.dropdown-menu{
          /*left: 0;*/
          max-height: 200px;
          overflow: auto;
    }
    
}
/* =============================================================================
* 40 -  min-width:320px and max-width:736px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:736px) {
    
	.form-group.fg-subscibers-list .fg-document-edit-image{
		position: relative!important;
		right: 16px!important;
		top: 15px;
		width: 100%;
		text-align: right;
	}
	.form-group.fg-subscibers-list dl{
		width: 100%!important;
	}
	.form-group.fg-subscibers-list .fg-document-edit-image{
		position: relative!important;
	    right: 0!important;
	    text-align: right;
	    top: 15px;
	    width: 100%;
	}
	.fg-upload-label-input span.fg-upload-visible-label{
		white-space: pre-line;
	}
	.fg-document-edit-wrapper .fg-display-div{
		width: 94%!important;
	}
	.fg-subscibers-list .fg-dd-fullwidth .radio-inline {
	    display: inline-flex!important;
	    white-space: inherit!important;
	}
}
/* =============================================================================
* 41 - max-width:320px 
========================================================================== */
@media only screen  and (max-width:320px) {
	.paging_full_numbers span > span {
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

	.dataTables_paginate a {
		padding: 4px 7px !important;
	}

	.fg-dropdown-nav .fg-dropdown-head {
		font-size: 12px;
	}	
}
/* =============================================================================
* 42 -  min-width:320px and max-width:991px
========================================================================== */
@media only screen and (min-width:320px) and (max-width:991px) {
	.fg-tab-line{
		float: left!important;
	}
	.fg-profile-blk {
	    max-width: 270px;
	    margin: 0 auto;
	    float: none;
	}
}

/* =============================================================================
* 44 - min-width:1080px and max-width:1400px
========================================================================== */
@media only screen and (min-width:1080px) and (max-width:1400px) {
	.fg-upload-token .radio-list .fg-doc-functions > .radio-inline{
		max-width: 60%; 
	    max-width: calc(100% - 220px);
	}

	body .fg-connection-img {
	    max-width: 80px;
	}
	body .fg-connection-img .fg-profile-img-blk130 {
	    width: 80px;
	    height: 80px;
	}
	body .fg-connection-img .fg-profile-img-blk-C130 img{

	    max-width: 80px;
	    max-height: 80px;
	}
	body .fg-contact-info {
		float: left;
		width: calc(100% - 90px);
	}
}
/* =============================================================================
* 45 - min-width:768px
========================================================================== */
@media only screen and (min-width:768px){
	.modal-dialog.fg-contact-assign-membership-modal-2 {
	        max-width: 95%;
                width: 760px;
	}
}
