
/* =============================================================================
* 02 - global classes
========================================================================== */
 .btn {
	padding: 6px 12px;
}
.fa-2x {
	font-size: 19px !important;
}
.alert-block .close {
	color: inherit;
	position: relative;
	right: 8px;
	top: 6px;
}
.badge {
	background-color: #0284BC;
}
.bordernon {
	border: none !important;
}
.form-horizontal label {
	line-height: inherit !important;
}
.date-picker .btn {
	padding: 7px 14px !important;
}
.panel-heading .form-group {
	margin-bottom: 0 !important;
}

.panel-primary .fa-minus-circle {
	color: #666;
	line-height: 28px;
}
.width-fifty {
	width: 50%;
	float: left;
}
.portlet > .portlet-title > .caption {
	margin: 0 0 6px;
	line-height: 15px;
}
.fg-panel-title {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
.fg-clear-left {
	padding-left: 0;
}
.fg-category {
	padding: 2px 5px;
	color: #fff;
}
.fg-panel-move {
	margin-top: 3px;
	margin-bottom: 3px;
}
.fg-italic-txt {
	font-style: italic;
	font-size: 12px;
	color: #333333;
}
.fg-common-top {
	margin-top: 20px;
}
.fg-common-btm {
	margin-bottom: 20px;
}
.fg-dropdown-change {
	width: 94%;
}
.fg-last-icon {
	position: absolute;
	right: 12px;
	top: 6px
}
.fg-sub-caption {
	border-bottom: 1px solid #eeeeee;
	color: #585858;
	float: left;
	font-size: 18px;
	padding-bottom: 6px;
	width: 100%;
}
.fg-contact-info {
	float: left;
	width: 57%;
}
.fg-contact-info ul {
	padding-left: 0;
}
.fg-contact-info ul li {
	list-style: none;
	width: 100%;
	float: left;
	margin-bottom: 14px;
}
.fg-contact-name {
	color: #307198;
	font-size: 14px;
	float: left;
	margin-bottom: 10px;
}
.fg-float-text {
	float: left;
	color: #6b6b6b;
	font-size: 13px;
}
.fg-disabled .btn-primary {
	background-color: #cccccc;
}

/* =============================================================================
* 03 - content wrapper styles
========================================================================== */

h3.page-title span {
	margin-left: 10px;
	font-size: 17px;
	color: #888888
}
h3.page-title span .fa-filter {
	margin-left: 10px;
	font-size: 17px;
	color: #888888
} 

/* =============================================================================
* 04 - header & header elements styles
========================================================================== */
 .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
	padding: 10px 36px 6px 10px;
}

/* =============================================================================
* 05 - top navigation styles
========================================================================== */
 .searchmenudiv {
	padding: 0 10px;
	margin-bottom: 10px;
}
.searchico .fa-search {
	margin: 7px 2px 4px 10px !important;
}
/* =============================================================================
* 06 - modules styles & themes
========================================================================== */

/* 06.1 module resets*/

.block_width {
	display: block;
	width: 100%;
}
.block_width .form-control {
	height: 30px;
	padding: 4px 6px;
}
.block_width select {
	display: block;
	margin-bottom: 13px;
}

/* 06.2 table styles */

.tableaction {
	width: 35px;
	height: 32px;
	display: block;
	color: #666666;
	background: #eeeeee;
	padding: 0 !important;
	line-height: 4px;
}
.tableactionright {
	background: #eeeeee;
	width: 35px;
	height: 32px;
	display: block;
	color: #676767;
	border: 1px solid #eeeeee;
	padding: 0 !important;
	line-height: 4px;
}
.open .tableactionright {
	background: #cccccc;
	color: #333333;
	border: 1px solid #dddddd
}
.open .tableaction {
	background: #cccccc;
	color: #333333;
}

.dataTables_scrollBody table tr.odd {
	background: #f9f9f9;
}
.dataTables_scrollHeadInner table th {
	border: none !important
}
.dataTables_scrollBody table td {
	border-left: none !important;
	border-right: none !important
}
.DTFC_LeftBodyWrapper {
	border-right: 1px solid #DDDDDD !important;
}
.sorting_disabled .fa-bars {
	margin-left: 3px;
}
.DTFC_LeftBodyWrapper table tr.odd {
	background: none repeat scroll 0 0 #F9F9F9;
}
.DTFC_LeftHeadWrapper .chk_actions {
	padding-left: 1px
}
.DTFC_LeftBodyLiner .btn-group .btn {
	padding: 0;
	background: none;
}
.DTFC_LeftHeadWrapper .btn-group .btn {
	padding: 0;
	background: none;
}
.dataTables_scrollHeadInner .btn-group .btn {
	padding: 0;
	background: none;
}
.DTFC_LeftHeadWrapper table tr {
	height: 29px !important;
}
.dataTables_scrollHead table tr {
	height: auto !important;
}
.DTFC_LeftBodyLiner .even, .odd {
	height: 29px !important;
}
.DTFC_LeftBodyLiner .i-cons {
	left: 3px;
	position: relative;
	top: -1px;
}
.DTFC_LeftHeadWrapper {
	overflow: visible !important
}
.dataTables_scrollBody table .even, .odd {
	height: 29px !important;
}
.dataTables_scrollBody .btn {
	padding: 0 !important;
}

/* 06.3 breadcrumb */

ul.page-breadcrumb {
	position: relative;
}
li.btn-group.backtop {
	right: 0 !important
}
ul.breadcrumb li a {
	color: #999 !important;
}

/* 0.6.4 sidebar style overrides */

.fg-asterisk{
    font-size: 10px !important;
    font-weight: normal;
    padding-left: 10px;
}
.page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.active > a .fg-asterisk{
    color:#fff;
}
.dropdown-headtext {
	display: block;
	margin: 10px;
}
.dropdown-headtext span {
	display: block;
	padding-bottom: 10px;
}
.dropdown-menu > li > a > .badge {
	right: 10px;
}
.control2 {
	height: 32px;
}
.page-sidebar .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before {
	content: "\f105";
	margin-right: 10px;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
	padding: 10px;
	border-bottom: 1px solid #4d4d4d;
}
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before {
	margin-right: 3px
}
.page-sidebar .page-sidebar-menu .sub-menu > li.open .btngrpdiv .btn .fa-bars{
    color:#fff;
}
ul.page-sidebar-menu li.open a span.title {
	padding-left: 2px;
}
.page-sidebar-menu ul.firstleval li:first-child a {
	padding-bottom: 6px;
	padding-left: 10px !important;
	/*padding-top: 10px;*/
	padding-right: 6px !important;
}
ul.firstleval {
	margin-bottom: 5px;
	margin-top: 5px
}
.page-sidebar-menu > li > ul.firstleval li > a > .arrow:before {
	float: left !important;
}
.firstleval li a > .arrow:before {
	margin-right: 0 !important;
	float: left;
}
.firstleval li a span.arrow {
	margin-right: 0 !important;
	width: 14px;
	float: left;
}
.firstleval li.open a span.arrow {
	margin-right: 0 !important;
	float: left;
}
.page-sidebar-menu li.open .second {
	display: block !important;
}
.page-sidebar-menu > li > ul.bookmarkdown > li > a {
	padding-left: 10px !important;
}
.page-sidebar-menu > li > ul.workpagedown > li > a {
	padding-left: 5px !important;
}
.settingsright {
	float: left;
	width: 93%;
	padding: 0 8px !important;
	/*border-top: 1px solid #5C5C5C !important;*/
}
.settingsright ul li label {
    margin-bottom:0;
}
.settingsright .tableaction {
	background: none !important;
	border: none !important;
}
.settingsright .fa-cog {
	color: #cccccc;
}
.dropdowndiv li {
	position: relative;
}
.chkpading {
	padding: 6px 0 6px 13px;
}
.padinten {
	padding: 6px;
}
.drpmenu-new li:last-child {
	padding-bottom: 0;
}
.select2-search {
	display: none;
}
.page-sidebar-menu > li > ul.newleval > li > a {
	padding-left: 10px !important;
}
.page-sidebar-menu ul.newleval li .newsecondleval li a {
	padding-left: 40px !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a, .page-sidebar .page-sidebar-menu .sub-menu > li > a {
	color: #222222;
	border: none;
}
.contactlist > li > a {
	padding-left: 34px !important;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
	margin: 0 !important;
	background: #dbdbdb
}
.firstleval li .btngrpdiv {
	top: 8px;
}
.fairdragg .col-md-12 .radio-inline {
	padding-top: 0 !important;
}
.page-sidebar .page-sidebar-menu > li > a {
	font-weight: 600;
	color: #fff;
}
.page-sidebar .page-sidebar-menu > li .btngrpdiv .btn .fa-bars {
	color: #fff;
}
.page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
	background: none !important;
	color: #fff;
}
.page-sidebar .page-sidebar-menu li > a > .arrow:before, .page-sidebar .page-sidebar-menu li > a > .arrow.open:before, .page-sidebar .page-sidebar-menu li > a:hover > .arrow:before, .page-sidebar .page-sidebar-menu li > a:hover > .arrow.open:before {
	color: #fff;
	font-weight: 500;
}
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
	color: #fff;
}
.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
	background: none;
}
.page-sidebar .page-sidebar-menu > li.active + li > a {
	border-top: 1px solid #4d4d4d;
}
.page-sidebar .page-sidebar-menu .sub-menu > li .btngrpdiv .btn .fa-bars {
	color: #222222;
}
.page-sidebar .page-sidebar-menu .sub-menu > li {
	border-bottom: 1px solid #bbbbbb;
}
.page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li {
	border-bottom: none;
}
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
	background: none !important;
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
	font-weight: 500 !important;
}
.page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover {
	background: #c70000; 
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover a .fa-bookmark {
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.active  {
	background: #c70000; 
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.active > a {
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable > li.active > a .fa-bookmark {
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li:hover i.fa-bookmark-o {
  color:#fff;
}
.firstleval li a span.title {
    color: #222222;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a, .page-sidebar .page-sidebar-menu > li:last-child > a {
	border-bottom: 1px solid #bbbbbb;
}
.page-sidebar .page-sidebar-menu li > a > .badge, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .badge{
	margin-right: 6px;
}
.date-filter .input-group-addon {
	min-width: 38px !important;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	background-color: #dbdbdb;
}
.dropdown-menu.dropdown-menu-align-left.pull-right.drpmenu-new a {
	padding: 6px 0 6px 6px;
}
.dropdown-menu.dropdown-menu-align-left.pull-right.drpmenu-new a:hover {
	background: #dbdbdb;
}

/* 0.6.5 fliter styles*/

.filter-box {
	background-color: #f9f9f9;
	border-color: #ececec;
	color: #333333;
	font-size: 14px;
	overflow: hidden;
}
.filter-box .btn-sm, .btn-xs {
	font-size: 14px;
	padding: 4px 10px;
	text-align: left;
	width: 100%;
	position: relative;
}
.filter-box .btn > i {
	font-size: 14px;
	position: absolute;
	right: 8px;
	top: 8px;
}
.filter-box .row .btn-group {
	width: 100%;
}
.filter-box .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5 {
	line-height: 24px;
}
.filter-box .fa {
	color: #666666;
}
.filter-alert {
	border: 1px solid transparent;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 20px;
	border-color: #ECECEC;
}
.filter-pad {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.filter-top-right {
	padding-top: 15px !important;
	padding-right: 15px !important;
}
.filter-log-from span {
	line-height: 26px;
}
.filter-log-from {
	float: left;
	padding-right: 10px;
}
.filter-log-input {
	float: left;
	width: 69% !important;
	height: 30px;
}
.filter-log-date {
	float: left;
}
.filter-log-font {
	font-size: 14px;
	line-height: 26px;
}


/* =============================================================================
* 07 - footer styles
========================================================================== */
.timeline-footer {
	font-size: 12px;
	padding-top: 10px;
	width: 100%;
	clear: both
}

/* =============================================================================
* 08 - theme styles
========================================================================== */

.col-green {
	color: #2ac700 !important;
}
.col-blue {
	color: #008cc7 !important;
}
.col-green a {
	color: #2ac700;
}
.col-blue a {
	color: #008cc7;
}

.color-ash {
	color: #666666;
}
.color-ash-light {
	color: #787878;
	line-height: 26px;
}
.color-ash-inactive {
	color: #d1d1d1;
}
#chk_cnt {
	float: left;
	text-align: center;
	width: 18px;
}
.fg-yellow {
	background-color: #edb200;
}
.fg-red {
	background-color: #c70000;
}
.fg-inactive-bg {
	background: #fdf2f2 !important;
}
.fg-inactive-text {
	color: #d97474;
}
.txt-green {
	color: #1d943b;
}
.gray {
	color: #d1d1d1;
	padding-right: 3px;
}
.open-green {
	background-color: #1d943b;
	cursor: text !important
}
.txt-red {
	color: #d70000 !important;
}
/* need to recheck */

.rightmove {
	width: 19px;
}
.i-cons {
	left: 0;
	position: relative;
	top: -1px;
}
.i-conright {
	position: relative;
	top: 1px;
}

.space .col-md-2 {
	padding-left: 10px;
	padding-right: 0;
}
.space .col-md-3 {
	padding-left: 10px;
	padding-right: 0;
}
.space .col-md-1 {
	padding-right: 0;
	padding-left: 10px;
}
.addandsave .col-md-2 {
	width: 11.667%;
}
.space .col-md-3 {
	width: 22%;
}
.navbar-brand {
	padding: 15px 20px !important;
	height: 45px;
}
.navbar-toggle {
	padding: 4px 10px !important;
	margin-right: 5px;
}
.fg-block-wtone /* .wd31 */{
	width: 31%;
}
.fg-block-weigt /* .wd18 */{
	width: 18%;
}
.fg-block-wethr /* .wd83 */{
	width: 83%;
}
.fg-block-wetet /* .wd88 */{
	width: 88%;
}
.fg-block-mrg-bten /* .mrgbtmten */{
	margin-bottom: 10px;
}
.fg-brtp-one /* .brtopnew */{
	border-top: 1px solid #dddddd;
}
.fg-block-mrgb-twent /* .mrgnbtm20 */{
	margin-bottom: 20px;
}
.fg-block-mrgt-five /* .margntop5 */ {
	margin-top: 5px;
}
.fg-block-whundp /* .fg-wd-100 */{
	width: 100%;
}
.fg-block-wsvnone /* .fg-wd-71 */{
	width: 71%;
}
.fg-wd-60 /* .fg-wd-60 */{
	width: 60%;
}
.fg-wd20 {
	width: 20%
}
.wd76 {
	width: 76%;
}
.wd-100 {
	width: 100%;
}
.wd220 {
	width: 220px;
}
.mrg20 {
	margin-right: 20px;
}
.wid-11 {
	width: 11.3%;
}
.mrgtop-3 {
	margin-top: 3px;
}
.margin-bottom-40 {
	margin-bottom: 40px
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-top-7 {
	margin-top: 7px;
}
.field-pading-15 {
	padding-right: 15px;
}
.margntop20 {
	margin-top: 20px !important;
}
.mrg40 {
	margin-right: 40px;
}
/* button group styles*/

.btngrpdiv {
	position: absolute;
	top: 13px;
	right: 10px;
}
.btngrpdivsub {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.btngrpdivsub .btn {
	background: none !important;
	padding: 0 !important;
	float: right;
}
.btngrpdivsub .btn .fa-bars {
	color: #969696;
	font-size: 17px;
}
.btngrpdiv .btn {
	background: none !important;
	padding: 0 !important
}
.btngrpdiv .btn .fa-bars {
	color: #969696;
	font-size: 17px;
}


/* Table Colums */
.rowchange .col-md-3 .form-group {
	border-bottom: 1px solid #e5e5e5;
}
.rowchange .col-md-3 .form-group:last-child {
	border-bottom: none;
}
.rowchange .col-md-5 .col-md-4 {
	padding-right: 0;
}
.rowchange .col-md-5 .col-md-5 {
	padding-left: 0;
	padding-right: 0;
}
.rowchange .col-md-5 {
	width: 50%;
}
.rowchange .col-md-12 {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 10px;
}
.block-change .col-md-8 {
	width: 70%;
}
.block-change .col-md-4 {
	width: 33%;
}
.wdchange {
	width: 29% !important;
	padding-left: 0;
	padding-right: 0;
}
.btn-change {
	padding: 5px 14px;
}
.rowchange ul.list-group {
	margin-bottom: 0 !important;
}
.rowchange ul.list-group li.list-group-item {
	padding: 8px 15px !important;
}
.delete_color {
	color: #666666;
	line-height: 20px;
}
.paddingzero {
	padding-left: 0 !important;
}

/* on - off Switch */
.switch-bg span.switch-left {
	background-color: #1d943b;
}
.switch-bg span.switch-left:hover {
	background-color: #36ad54;
}
.switch-light input ~ span span:last-of-type {
	color: #333;
}
.switch-light input:checked ~ span span:first-of-type {
	color: #333;
}
.switch-light input:checked ~ span span:last-of-type {
	color: #fff;
}
.switch-toggle input:checked + label {
	color: #fff;
}
.switch-toggle label {
	cursor: pointer;
}
.switch-light-med > span {
	padding-right: inherit !important;
	position: absolute !important;
	top: 2px
}
.switch-light > span span {
	width: 52%;
	line-height: 15px;
	height: 16px;
}
.switch-light > span {
	position: absolute !important;
	top: 1px
}
.switch-bg .switch-left {
	background-color: #1d943b;
}
.switch-bg .switch-left:hover {
	background-color: #36ad54;
}
.switch-bg .has-switch label[disabled] {
	background-color: #1d943b;
}
.switch-light {
	margin-bottom: 0 !important;
	position: relative;
	background-color: #fff;
	width: 100%;
}
.switch-light-sm {
	height: 19px !important;
}
.switch-light-sm > span {
	padding-right: 70px !important;
}
.switch-light-sm > span span {
	font-size: 11px;
	color: #FFF;
	cursor: pointer;
}
.switch-light-sm label, .switch-light-sm > span {
	line-height: inherit !important;
}
.switchmargintop {
	margin-top: 3px;
}
.switch-light-sm .btn-primary {
	background: #1d943b;
}
.switch-light-med > span span {
	font-size: 14px;
	color: #FFF;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 22px;
}
.switch-light-med .btn-primary {
	background: #1d943b;
}
.switch-height-30 {
	height: 30px;
}
.switch-toggle {
	border: 1px solid #E5E5E5;
}
.switch-toggle .btn-primary {
	background: #1D943B;
	color: #fff
}

/* page styles */

.sectionpad {
	width: 3%;
	padding-left: 0;
	padding-right: 0;
}
.brmmrgn {
	margin-bottom: 0;
}
.overview {
	text-align: left !important
}
.backtop {
	margin-top: -5px !important;
}
.btnpadnew {
	padding: 5px 12px !important;
}
.btn-arrownew {
	position: absolute;
	right: 90px;
}
.fadearrow {
	color: #cccccc;
}
.fav-iconsnew {
	float: left;
}
.overviewwidth .fav-iconsnew a {
	display: inline-block;
	padding-top: 8px;
	padding-right: 4px;
}
.overviewwidth .fa-certificate {
	font-size: 18px;
	color: #0d8d00;
}
.overviewwidth .fa-money {
	font-size: 18px;
	color: #edb200;
}
.overviewwidth .fa-envelope {
	font-size: 18px;
	color: #c70000;
}
.overviewwidth .fa-sign-in {
	font-size: 18px;
	color: #1194cb;
}
.avatar-img {
	float: left;
	padding-left: 5px;
}
.default-ash {
	background: #cccccc;
	color: #333333;
	margin-right: 15px;
}
.default-ash:hover {
	background: #e5e5e5;
}
.default-ash .fa-angle-left {
	padding-right: 5px;
}
.adminbtn-ash {
	background: #2e7af7;
	color: #fff;
}
.adminbtn-ash:hover {
	color: #fff;
}
.panel-bg .red {
	background-color: #E02222;
	border-bottom: 1px solid #E02222
}
.panel-bg .green {
	background-color: #1d943b;
	border-bottom: 1px solid #1d943b
}
.panel-bg .fa-building-o {
	padding-left: 5px;
}
.closebtn {
	cursor: pointer;
	float: right;
	margin-right: -5px;
	padding-left: 0;
	margin-top: -5px;
	padding-right: 0;
	width: 1%;
}
.closebtn .fa-times {
	font-size: 18px;
	line-height: 24px;
	color: #666666;
}
.fg-req-new .form-group {
	margin-bottom: 0
}
.childrow {
	padding-bottom: 0 !important
}
.ui-sortable {
	padding-bottom: 0 !important
}
.fieldArea:last-child {
	margin-bottom: 0
}
.admin-br {
	border: 1px solid #dddddd;
	padding: 0 15px;
}
.admin-rightmove {
	margin-right: 12px;
}
.admin-txtdetails {
	color: #000;
}
.admin-txtdetails .fa-building-o {
	color: #999999;
	padding-right: 10px;
}
.admin-txtdetails .fa-envelope-o {
	color: #000;
	padding-right: 10px;
	padding-left: 10px;
}
.admin-txtdetails .fa-crosshairs {
	color: #000;
	padding-right: 10px;
}
.admin-fontsize {
	font-size: 12px;
}
.com-fontsize {
	font-size: 14px;
}

.admin-firstblk {
	width: 20%;
}
.admin-rqdblk {
	width: 21%;
	padding-right: 0;
}
.propertiblk {
	padding-left: 0;
	padding-right: 0;
}
.propertiblk .fa-plus-square-o {
	padding-right: 10px;
	cursor: pointer
}
.propertiblk .fa-minus-square-o {
	padding-right: 10px;
	cursor: pointer
}
.tagsinput {
	border: 1px solid #E5E5E5
}
.control-label span {
	color: #c70000
}
.addash {
	background-color: #eeeeee !important;
	color: #1e1e1e !important;
	border-bottom: 0;
}
.addash h3 {
	font-size: 14px !important;
}
.adminmrgzro {
	margin-bottom: 0 !important;
	border-bottom: none !important;
}
.txtsub {
	display: inline
}
.txticonnew {
	line-height: 22px;
	padding-right: 10px;
	font-size: 12px;
}
.userblk {
	line-height: 21px;
	padding-left: 6px;
	color: #999999
}
.emailblk {
	display: inline-table;
	width: 72%;
}
.catagoryicon {
	float: left;
	color: #f1bdbd;
	line-height: 19px;
	padding-right: 10px;
}
.padgnwediv {
	padding: 4px 15px !important;
}
.linenehght {
	line-height: 28px;
}
.linehgtnew {
	line-height: 23px;
}
.panel-primary > .panel-heading {
	color: #FFF
}
.popouter {
	display: inline-table;
}
.control-aranew {
	display: block;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.control-aranew .fa-check {
	color: #666;
	font-size: 18px;
	line-height: 27px;
	padding-left: 4px;
}
.control-aranew .fa-times {
	color: #666;
	font-size: 18px;
	line-height: 27px;
	padding-left: 3px;
}
.control-aranew .fa-check:hover {
	color: #35aa47;
}
.control-aranew .fa-times:hover {
	color: #c70000;
}
.fg-drag-area {
	position: relative;
}
.fg-txt-area {
	float: left;
	margin-left: 20px;
}
.fg-txt-area span {
	font-size: 13px
}
.fa.fa-th.admin-rightmove.color-ash-light.rightmove.i-conright {
	left: 0;
	position: absolute;
	top: 0;
}
.fg-req-new .control-label.admin-fontsize.propertiblk {
	margin-right: 10px;
	float: left;
}
.fg-req-new .pull-left.propertiblk {
	float: left;
}
.fg-new-select {
	float: left;
	padding-right: 2px;
	width: 100%;
}
.fg-close-btn {
	float: right;
	color: #fff;
}
.fg-select-box {
	float: left;
	width: 92%;
}
.fg-title-area {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
.fg-close-ico {
	display: table-cell;
	height: 27px;
	vertical-align: middle;
	width: 24px;
}
.fg-connection-txt {
	float: left;
	width: 100%;
}
.fg-content-minarea {
	min-height: 156px;
}
.fg-red-border {
	border: 1px solid #c70000;
}
.fg-disable-block {
	background: #f5f5f5;
	min-height: 193px;
	position: relative;
}
.fg-disable-link {
	position: absolute;
	top: 40%;
	width: 100%;
}
.fg-connection-img {
	float: left;
	margin-right: 8px;
}
.fg-disable-link a {
	float: left;
	text-align: center;
	width: 100%;
	padding-bottom: 4px;
}
.sortables {
	padding-bottom: 4px;
	padding-top: 6px;
}
.catFieldSort .admin-br:last-child {
	padding-bottom: 0
}
.catFieldSort .childrow {
	padding-top: 0;
}
.catFieldSort .childrow .admin-br {
	padding-top: 5px;
	padding-bottom: 10px;
}
.catFieldSort .admin-br .fg-drag-area {
	margin-top: 3px;
}
.catFieldSort .admin-br .fg-req-new label {
	padding-top: 3px;
}
.catFieldSort .admin-br .popupClickArea {
	padding-top: 2px;
}
.catFieldSort .admin-br .admin-txtdetails {
	padding-top: 2px;
}
.catFieldSort .admin-br .switchmargintop {
	margin-top: 7px;
}
.catFieldSort .admin-br .switchmargintop .closebtn .closeico {
	padding-top: 5px;
}
.roledivright .propertiblk a {
	line-height: 28px;
}
.roledivright .propertiblk i {
	line-height: 28px;
}
.roledivright .deletediv .closeico label {
	margin-bottom: 0 !important;
	padding-top: 1px;
}
.sortable .catFieldSort .childrow .admin-br:last-child .switchmargintop .closebtn .closeico {
	padding-top: 2px;
}
.sortable .fieldArea .catFieldSort .childrow .admin-br {
	padding-top: 5px;
	padding-bottom: 1px;
}
.sortables .col-md-12 .admin-br {
	border-bottom: 0;
}
.sortables:last-child .col-md-12 .admin-br {
	border-bottom: 1px solid #DDDDDD
}
.disable-field {
	opacity: 0.5;
}
.fg-drag-area .fa-th, .panel-heading .fa-th {
	cursor: pointer;
}
.closebtn .fa-lock {
	color: #666666;
	font-size: 18px;
	line-height: 17px !important;
}
.fg-req-new .selectpicker {
	font-size: 13px;
	padding: 6px 8px;
}
.bootstrap-select .caret:before {
	line-height: 20px;
}
.switch-light input ~ span span:first-of-type {
	color: #fff;
}
.form-group .control-label {
	line-height: 20px
}
.role-font-size {
	font-size: 18px;
	margin-top: 0;
	line-height: 20px !important
}
.panel-bg .panel-title {
	font-size: 16px;
}
.panel-heading div.popover {
	color: #000 !important;
}
.labelmrgn {
	margin-left: 0 !important;
	padding-left: 0
}
.paneldisplay {
	overflow: hidden;
}
.lastbtndiv {
	padding-left: 0;
	padding-right: 0;
	width: 10%;
	text-align: right
}
.deletediv {
	padding-left: 0;
	text-align: right
}
.roledivright {
	padding-right: 0
}
.blkareadiv .roledivright, .colordarkash .roledivright {
	padding-left: 0;
	padding-right: 0
}
.colordarkash .paddingzero {
	padding-right: 0;
}
.colordarkash {
	color: #666666;
}
.colrnewdiv {
	color: #7a7a7a;
}
.blkareadiv {
	padding-bottom: 6px;
	padding-top: 6px;
	border-top: 1px solid #DDDDDD
}
.blklastdiv {
	padding-bottom: 0;
}
.role-br {
	border: 1px solid #DDDDDD;
	padding: 0 15px 5px 15px;
}
.blkareadiv-top {
	padding-bottom: 6px;
	padding-top: 6px;
}
.circle-no {
	background-color: #dddddd;
	color: #111111;
}
.deletediv .red {
	color: #d70000;
}
.deletediv .ash {
	color: #cccccc;
}
.deletediv .green {
	color: #1d943b;
}
.inactiveblock {
	background-color: #fdf2f2
}
.admin-firstblk .yellow {
	color: #F8CB00
}
.roledivright .fa-minus-circle {
	line-height: 22px;
}
div.bookmark input[type=checkbox] {
	display: none;
}
div.bookmark input[type=checkbox] + label i:before {
	font-family: FontAwesome;
	display: inline-block;
}
div.bookmark input[type=checkbox] + label i:before {
	color: #7A7A7A;
	cursor: pointer
}

/* unchecked icon */
div.bookmark input[type=checkbox] + label i:before {
	letter-spacing: 10px;
}

/* space between checkbox and label */
div.bookmark input[type=checkbox]:checked + label i:before {
	color: #F8CB00;
}

/* checked icon */
div.bookmark input[type=checkbox]:checked + label i:before {
	letter-spacing: 5px;
}
div.closeico input[type=checkbox] {
	display: none;
}
div.closeico input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	font-size: 19px
}
div.closeico input[type=checkbox] + label:before {
	content: "\f057";
	color: #7A7A7A;
	cursor: pointer
}

/* unchecked icon */
div.closeico input[type=checkbox] + label:before {
	text-align: right
}

/* space between checkbox and label */
div.closeico input[type=checkbox]:checked + label:before {
	content: "\f01e";
	color: #666666
}

/* checked icon */
div.closeico input[type=checkbox]:checked + label:before {
	text-align: right
}
div.closeico input[type="checkbox"] + label:hover:before, .closeico > label:hover {
	color: #d70000
}
div.closeico input[type="checkbox"]:checked + label:hover:before, .closeico > label:hover {
	color: #1D943B
}
.rowbarbottom {
	border-bottom: 1px solid #DDD;
	padding-bottom: 6px;
	padding-top: 6px;
}
.admin-fontsize .row:last-child .col-md-12 {
	padding-bottom: 0
}
.roledivright .switchmargintop .switch-light > span {
	top: -3px;
}
.bookmarkdown li.subclass a {
	padding-right: 6px !important;
}
.side-right-zro {
	padding-right: 0;
}
.bookmarkdown #subclass_active_contact a {
	padding-left: 23px !important;
}
.panel-bg .red .input-sm {
	height: 23px;
}
#sortrole {
	padding-bottom: 0
}
.icondivarea {
	width: 21px;
	float: left;
	height: 21px
}
.dropdown-menu-align-left li > a {
	padding-left: 10px;
	padding-right: 10px;
}
.dropdown-menu-align-left li:first-child {
	padding-bottom: 0;
}
.dropdown-menu-align-left li:last-child {
	padding-bottom: 10px;
}
.fg-new-select .opt.multiple.checkedDefault {
	padding-left: 8px !important;
}
.fg-new-select .opt.multiple.checkedDefault i {
	margin-right: 12px;
}
.sidebar-search {
	display: none
}
.ui-sortable .fairdragg:first-child {
	border-top: 0
}
.panel-heading div.closeico input[type=checkbox] + label:before {
	color: #FFF !important
}
.contact_area .popover {
	width: 180px
}
.colordarkash .fa-th {
	cursor: pointer
}
.btngrpdivsub ul li label {
	width: 100%
}
.btngrpdivsub ul li label div.checker {
	float: left;
	width: 13%;
	padding-top: 3px;
}
.btngrpdivsub ul li label span.dropdownbtmtext {
	float: left;
	width: 81%;
}
li.active .fa.fa-bars {
	color: #fff
}
ul.second li div.btn-group .fa.fa-bars {
	color: #222222
}
.fg-input-div {
	margin-bottom: 5px;
	clear: left;
	float: left;
	width: 100%;
}
.fg-input-div .fg-new-select {
	color: #888888;
}
.fg-txtarea-right {
	text-align: right;
}
.brand-logo-div {
	margin-left: 35px;
	margin-top: 2px;
	float: left
}
.brand-logo-div a {
	float: left;
	margin-right: 5px;
}
.brand-logo-div img {
	border: 1px solid #dddddd
}
.mrg-bottom-zero {
	margin-bottom: 0;
}
.width-fortyfour {
	width: 44%;
	float: left;
}
.mrgin-top-min-two {
	margin-top: -2px;
}
.margin-right-22 {
	margin-right: 22px;
}

.terminal-br_main {
	border: 1px solid #DDDDDD;
	overflow: hidden
}
.terminal-zro-top {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 10px !important
}
.terminal-br {
	border-bottom: 1px solid #DDDDDD;
	float: left;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
}
.terminal-br:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.timeline > li .timeline-time span.date {
	font-size: 38px !important;
	font-weight: 300;
	line-height: 38px;
	color: #852b99 !important;
	word-wrap: break-word;
}
.timeline > li .timeline-time span.time {
	font-size: 13px !important;
	font-weight: 300;
	line-height: 20px !important;
	color: #747474 !important
}
.timeline > li .timeline-content {
	background: #fff;
	color: #5d5d5d;
	width: 95%;
}
.timeline-content .auto-textarea {
	border: none;
	color: #5d5d5d;
	font-size: 14px;
}

.timeline-close-btn {
	position: absolute;
	right: 2px;
	top: 12px
}
.timeline-close-btn a {
	color: #fff
}
.timeline-content p:last-child {
	margin-bottom: 0
}
ul.timeline li:last-child {
	background: #fff
}
.timeline-page {
	padding-right: 0;
}
.timeline-show-text {
	color: #5d5d5d;
	padding-top: 10px;
	padding-left: 0
}
.page-main-head .page-title {
	line-height: inherit !important
}
div.noteico input[type=checkbox] {
	display: none;
}
div.noteico input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	font-size: 19px
}
div.noteico input[type=checkbox] + label:before {
	content: "\f057";
	color: #fff;
	cursor: pointer
}

/* unchecked icon */
div.noteico input[type=checkbox] + label:before {
	text-align: right
}

/* space between checkbox and label */
div.noteico input[type=checkbox]:checked + label:before {
	content: "\f01e";
	color: #fff
}

/* checked icon */
div.noteico input[type=checkbox]:checked + label:before {
	text-align: right
}
div.noteico {
	position: absolute;
	right: 6px;
	top: 4px;
}
.team-text {
	float: left;
	margin-left: 20px;
	width: 63%;
}
.team-txt-area {
	width: 63%;
}

.fg-txt-area a {
	line-height: 26px;
}
.fg-txt-area span {
	line-height: 26px;
}

.bookmarkdown li .ajaxify {
	padding-right: 6px !important;
}
.page-title {
	line-height: inherit;
	font-size: 18px;
}
.sub-menu li a {
	border-top: 0 !important;
}
.subclass a {
	padding-bottom: 9px;
	padding-left: 10px !important;
	padding-right: 6px !important;
	padding-top: 10px;
}
.fa-asterisk {
	color: #f8cb00
}
.worktxt {
	font-size: 13px;
}
.workimg {
	padding-left: 10px;
	padding-right: 10px;
	float: left
}
.work-group {
	color: #666666;
	padding-top: 6px;
}
.work-grp-ash {
	color: #cccccc;
	padding-right: 3px;
}
.work-mrg-bottom {
	margin-bottom: 0
}
.work-grp-lock {
	width: 4%;
}
.work-grp-btm {
	padding-bottom: 5px !important;
}
.fa-check {
	cursor: pointer
}
.fa-times {
	cursor: pointer
}
.place-holder::-webkit-input-placeholder {
	font-style: italic;
}
.place-holder:-moz-placeholder {
	font-style: italic;
}
.place-holder:-ms-input-placeholder {
	font-style: italic;
}
.mgr-tp-eight {
	margin-top: 8px;
}
.panel-title {
	font-size: 14px;
}
.panel-heading .form-group .checkbox-list label {
	padding-top: 0
}
.panel-contact-right {
	width: 27%;
}
.fa-bookmark, .fa-minus-circle, .fa-times-circle, .fa-plus-square-o, .fa-minus-square-o {
	cursor: pointer
}
.fa-bookmark {
	color: #eeb300;
}
.input-lg {
	height: 32px;
}
.page-breadcrumb.breadcrumb {
	margin-top: 0;
	padding: 5px 10px;
}
.panel-heading {
	padding: 8px 15px;
}
.btn-arrownew a {
	padding-right: 4px;
}
.connan-br-btm {
	border-bottom: 1px solid #e5e5e5
}
.fa-th:before {
	width: 13px;
	height: 21px;
	content: "\f07d";
	float: left;
	color: #d1d1d1;
}
.table-settings-blk {
	padding-right: 0;
	width: 23%;
}
.table-settings-txt {
	width: 23%;
}
.table-settings-right {
	padding-right: 0;
}
.table-set-funct {
	line-height: 16px;
	clear: left;
	padding-bottom: 8px;
	padding-left: 0;
	width: 66%;
}
.table-set-rgt {
	float: right;
	padding-left: 0;
	width: 34%;
	line-height: 18px;
}
.section-new-pad {
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden
}
.section-new-pad .col-sm-5 {
	padding-right: 0
}
.border-line .fa-arrows-v, .border-line-last .fa-arrows-v {
	cursor: pointer;
	float: left;
	height: 27px;
	line-height: 25px;
	text-align: left;
	width: 30px;
	color: #d1d1d1
}
.fa-arrows-v {
	cursor: pointer;
	float: left;
	text-align: left;
	color: #fff;
	padding-right: 10px;
}
.fa-arrows {
	cursor: pointer;
	float: left;
	text-align: left;
	color: #fff;
	padding-right: 10px;
}
.margin-right-15 {
	margin-right: 15px;
}
.border-line {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #dddddd;
	padding: 5px 10px;
	margin-left: 0;
	margin-right: 0;
	position: relative
}
.border-line .fa-minus-circle {
	color: #666666;
}
.page-sidebar .page-sidebar-menu li.active > .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > .sub-menu {
	display: none;
}
.page-sidebar .page-sidebar-menu li.open > .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.open > .sub-menu {
	display: block;
}
.bookmark label {
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 3px;
}
.fa-minus-circle {
	display: table-cell;
	height: 24px;
	vertical-align: middle;
}
.border-line-last {
	border: 1px solid #ddd;
	padding: 5px 10px;
	margin-left: 0;
	margin-right: 0;
	position: relative
}
.switchhwd {
	width: 72px;
	margin-top: 4px;
}
.padding-tp-3 {
	padding-top: 3px;
}
.fa-lock {
	display: table-cell;
	height: 24px;
	vertical-align: middle;
	color: #ccc
}
.closeico label {
	margin-bottom: 0;
}
.closeico {
	height: 25px;
}
.fa-repeat {
	color: #666666;
}
.fa-times-circle {
	color: #7a7a7a;
}
.radio-inline {
	padding-left: 0 !important;
	margin-left: 0 !important;
	padding-right: 10px;
}

.timeline-body .help-block {
	color: #FFFFFF !important;
}
.col-hack {
	padding-left: 30px;
	padding-right: 30px;
}
.col-first-icon {
	position: absolute;
	left: 20px;
	z-index: 2;
}
.col-last-icon {
	position: absolute;
	right: 10px;
	top: 6px
}
.col-last-icon .fa {
	display: table-cell;
	height: 24px;
	vertical-align: middle;
}
.date-filter {
	padding-top: 4px;
	margin-bottom: 4px;
	float: left;
	width: 100%;
}
.drpmenu-new .select2me {
	float: left;
	height: 28px;
	width: 100%;
}
.dataTables_length label {
	margin-top: 3px;
	width: 100%;
}
.border-line:last-child {
	border-bottom: 1px solid #dddddd;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	padding-top: 0;
}
.labelmrgn .div.radio, div.checker {
	margin-left: -2px;
	margin-right: 0;
	padding-top: 4px;
}
.border-line .labelmrgn {
	padding-top: 7px;
}
.line-height-28 {
	line-height: 28px;
}
.team_text {
	width: 63%;
}
.border-line .fa-envelope-o {
	padding-right: 15px;
}
.border-line .fg-txt-area {
	margin-left: 0 !important;
}
.border-line .fg-input-div {
	width: 88%
}
.checkbox-inline .checker {
	margin-top: -4px !important;
	padding-top: 0 !important;
}
.radio-inline .checker {
	margin-top: -4px !important;
	padding-top: 0;
}
.tt-hint, .tt-input {
	padding-left: 28px;
	color: #333333;
}
.pull-left.side-right-zro {
	padding-right: 6px !important;
}
.page-sidebar ul li a span.title {
	padding-right: 13px;
}
.note-border {
	border: 1px solid #e5e5e5;
	max-width: 97%;
	border-radius: 0;
	line-height: 1.42857;
	padding: 6px 12px;
	display: block;
}
.noAnchr {
	float: left;
	height: 20px;
	width: 30px;
}
.divider {
	min-height: inherit !important;
}
.adminbtn-ash:hover, .adminbtn-ash:focus {
	color: #fff;
}