
/* Block out the gap above the scrollbar on the right, when there is a fixed
 * right column
 */
div.DTFC_Blocker {
	background-color: white;
}
.table.dataTable {
margin-top:0px;
}

.DTFC_LeftBodyLiner{overflow-x:hidden!important }
.dataTables_wrapper .col-md-6 .dataTables_length {display:none!important}
.dataTable.table > thead > tr > th, .dataTable.table > tbody > tr > th, .dataTable.table > tfoot > tr > th, .dataTable.table > thead > tr > td, .dataTable.table > tbody > tr > td, .dataTable.table > tfoot > tr > td{
    
  white-space: nowrap !important;  
}

.fg-th-wrap{width:40px}
