
/* =============================================================================
* Page titlebar css
========================================================================== */
/* 06.01 - columns of same height styles */
*.fg-dis-none{
    display: none !important;
}
*.fg-active-IB {
    display: inline-block  !important;
}
.row-same-height {
    display: table;
    width: 100%;
    position: relative;
}

.row-same-height > div{
	height:39px;
}
.fg-action-title.fg-has-menu{
    max-width:calc( 100% - 55px ) !important;
    width: auto;
}
.fg-action-title .page-title{
    margin-bottom: 0;
    padding-bottom: 0 !important;
}
.fg-action-title .page-title .page-title-text{
    
    line-height: 32px;
    font-size: 30px;
    margin: 0;
    display: inline-block;
    color: #444;    
}
.fg-action-menu-wrapper .fg-active-IB{
	vertical-align: bottom;
}
.fg-action-tab.fg-tab-block{
    position: static;
}
.fg-tab-block:before{
    display: none;
}
/*.fg-tab-block:before{*/
.fg-tab-block .fg-moretab-bottom-line{	
   /* height: 1px;
    background: #ddd;*/
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: auto;
    width: 100%;
    bottom: 0px;
    right:0;
	display: block;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}
.fg-nav-links li {
	float: left;
	margin-bottom: -0.1026%;
        margin-right: 2px;
}

.fg-tab-block .nav>li>a,
.fg-action-menu-wrapper  .fg-tab-block .nav>li>a:hover{
        padding: 8px 15px !important;
        margin-right: 0;
}

.fg-action-menu-wrapper .fg-tab-block .nav>li.active>a:hover{
    border-bottom: 0 !important;
    margin-bottom: 1px;
    padding-bottom: 9px !important;
}

.fg-page-title-block-2 {
    margin-bottom: 10px;
}

.img-responsive {
    width: 100%;
}

/* 11.03 - vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
.fg-nav-tab-border:before{
	border-bottom: 1px solid #ddd;
	content: '';
	position: absolute;
	left: 0;
	width: 97.9%;
	bottom: -1px; 
	display: none;
}
.fg-nav-tab-border:first-of-type:before{
	margin-left: 30px;
}
.fg-nav-tab-border ul > li.active {
    margin-top: -2px;
    margin-bottom: 1px !important;
    position: relative;
}
.fg-nav-tab-border ul > li.active  a{
	top:2px;
	cursor: text;
	color: #555555;
	background-color: #fff;
    padding-bottom: 9px !important;
    border-bottom: 0;
    max-height: 39px;
}
.fg-nav-tab-border ul > li.active:before{
    content: '';
    height: 7px;
    left: 1px;
    position: absolute;
    bottom: -4px;
    top: auto;
    background: #FFFFFF;
    z-index: 1;
    display: block;
    right: 1px;
}
.fg-nav-tab-border ul > li.active.fg-truncate span.fg-dev-tab-text{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    
}
/*.fg-nav-tab-border ul > li.active.fg-truncate.has-badge-no span.fg-dev-tab-text{
    max-width: 75%;
}    */
.fg-nav-tab-border ul > li.active.fg-truncate.has-badge-no span.badge-round{
    top: -5px;
}

.fg-nav-tab-border:last-child:before{
	left: -15px;
	margin-right: -30px;
	box-sizing:border-box;
}
.fg-nav-tab-border .nav-tabs, .fg-nav-tab-border .nav-pills{
	margin-bottom: 0;
}
.row-same-height .nav-tabs{
	border-bottom: 0;
}
.fg-portlet-div li.datahideshow ul.dropdown-menu li {
  	width: 100%;
}
.fg-portlet-div .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	border-color: #ddd!important;
}
.fg-dropdown-more li{
    clear:left;
    width:100%;
}
.fg-tab-block {
   margin-left: 20px;
}
.fg-title-first-block {
    max-width: 100%;
    vertical-align: top;
}
.fg-text-block{
	max-width:calc(100% - 45px);
}
.fg-text-block h3 {
  	margin-bottom: 0;
}
.fg-search-last-block {
    float: right;
    position: relative;    
    margin-top: 4px;
}
.fg-search-last-block .tableactionright.fg-col-settings{
    height: 32px;
    float: right !important;
}
.fg-btn-first-block, .fg-title-first-block, .fg-btn-search-block, .fg-tab-block, .fg-search-last-block {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}
.fg-action-menu-wrapper-sub .fg-action-menu i.fa.fa-2x{
	font-size: 20px;
}
.fg-action-menu-wrapper-sub .fg-btn-first-block .tableaction {
 
    margin-right: 10px;
    height: 25px;
    background-color: #ffffff;
    color: #444444;
    margin-left: -4px;
}
.fg-action-menu-wrapper-sub .fg-btn-first-block.open .tableaction {
    background: #cccccc;
    color: #333333;
}
.fg-action-menu.fg-active-IB {
    margin-right: 10px;
    margin-top: 3px;
    height: 35px;
}

.fg-action-menu-wrapper-sub .fg-action-menu.fg-active-IB {
        height: auto;
}
.fg-action-menu-wrapper .fg-action-counter{
    vertical-align: middle;	
}
.fg-btn-first-block ul.dropdown-menu,
.fg-action-menu-wrapper-sub .fg-action-menu ul.dropdown-menu {
    margin-top: 0;
    margin-left: -7px;
}
.fg-action-menu ul.dropdown-menu {
    margin-left: 0;
}
.fg-action-menu i.fa.fa-2x{
    font-size: 23px;    
    margin-top: 6px;
}
.fg-btn-first-block .dropdown-menu li > a {
    font-size: 14px !important;
   	padding: 6px 12px 6px 12px;
    font-weight: 500;
    font-family: 'Open Sans';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;

}
.fg-text-block{
	max-width:calc(100% - 90px);
}
.fg-text-block span {
    margin-left: 10px;
}
.fg-tab-block .nav > li > a {
  	font-size: 14px;
    margin-bottom: 1px;
}
.fg-tab-block  li ul.dropdown-menu li a{
    color:#428bca
}
.fg-tab-block ul.dropdown-menu {
	margin-top: 0;
}
.fg-input-icon {
    float: left;
    position: relative;
    right: 2px;
    left: auto;
}
.fg-action-search.fg-has-filter .fg-input-icon{
    right: 42px;
    
}
.fg-filter-check-icon.fg-action-search-filter {
    right: 40px !important;
}
.fg-search-last-block.fg-action-search.fg-active-IB.fg-has-filter:before {
    content: '';
    display: inline-block;
    float: left;
    height: 20px;
    width: 42px;
}
.fg-search-last-block.fg-action-search .dropdown-menu li:after{
    content: '';
    display: block;
    clear: both;
    float: none;
    height: 0;
}
.fg-search-last-block.fg-action-search .dropdown-menu li#fg-dev-columnsetting-flag{
        margin: 5px 10px;
}
.open .tableactionright {
    background: #cccccc;
    color: #333333;
    border: 1px solid #dddddd;
}
.fg-search-last-block .dropdown-menu {
    margin: 0;
    font-family: 'Open Sans';    
    border-radius: 0;
    top: 33px;
    padding-bottom: 5px;
}
.fg-search-last-block .input-icon > i{
	margin: 9px 2px 4px 10px;
}
.fg-search-last-block .fa-2x{
	font-size: 19px;
}
.control2 {
    height: 32px;
}
.tableactionright {
    background: #eeeeee;
    width: 35px;
    height: 32px;
    display: block;
    color: #676767;
    border: 1px solid #eeeeee;
    padding: 5px 0 0 0 !important;
    line-height: 4px;
}
.fg-action-menu-wrapper .tableaction {
    width: 35px;
    height: 32px;
    display: block;
    color: #666666;
    background: #eeeeee;
    padding: 0 !important;
    line-height: 4px;
    border-radius: 0;
}
.fg-action-menu-wrapper .open .tableaction {
    background: #cccccc;
    color: #333333;
}
.fg-action-menu-wrapper .tableaction#fg-dev-reactivate{

    vertical-align: bottom;
    top: -8px;
    position: relative;
    margin-right: 5px;
}
/*----------  Action menu styles  ----------*/

.fg-action-menu-wrapper{
	margin-bottom:20px;
	position: relative;
        padding: 0 15px;
}
.fg-action-menu-wrapper-sub .fg-action-menu-wrapper{
		margin-bottom:0px;
}
.page-content-wrapper .page-content .fg-action-menu-wrapper-sub .fg-action-menu-wrapper .page-title{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3em;
    padding: 0;
    margin: 0;

}
.panel-heading .panel-title {
    font-size: 18px;
}
.fg-action-menu-wrapper-sub  .fg-action-menu-wrapper .row-same-height > div{
	height: auto;
    vertical-align: middle;
}

.page-content-wrapper .page-content .fg-action-menu-wrapper .page-title .page-title-sub{
    padding-bottom: 0px !important;
}

.page-content-wrapper .page-content .fg-action-menu-wrapper .page-title .page-title-sub .fg-count-text{
    margin-left: 10px;
}
 .fg-title-bar-row-1{
     display: inline-block;
     vertical-align: bottom;
    width: 100%;
    position: relative;
 }
 .fg-action-search .form-control.searchbox {
    width: 246px;
    line-height: 16px;
}
.fg-action-menu.fg-active-IB{

    float: left;
}
.page-content-wrapper .page-content .fg-action-menu-wrapper .page-title{

    display: inline-block;
    margin-top: 0px;
}
.fg-action-language-set .btn-group.fg-language-left {
    margin-bottom: 5px;
}

.fg-action-menu-wrapper .fg-action-title {
    margin-right: 10px;
}

.fg-action-menu-wrapper .fg-nav-tab-border .data-more-tab{
    border: 0;
}
.fg-action-menu-wrapper .fg-title-first-block.fg-action-title{
    width: auto !important;
}
/*.fg-action-menu-wrapper .fg-nav-links >li>a:hover, .fg-action-menu-wrapper .fg-nav-links >li>a:focus {
    padding-bottom: 7px !important;
}
*/
.fg-action-menu-wrapper .fg-nav-links >li .fg-more-icons-nav,
.fg-action-menu-wrapper .fg-nav-links.data-more-tab  >li .badge {
    position: relative;
    margin-left: 10px;
    margin-right: -5px;
    right: 0;
    display: inline-block;
}
.fg-action-menu-wrapper .fg-title-bar-row-1 .fg-dev-addmail {
    display: inline-block;
    margin-right: 5px;
}

.fg-tab-block .fg-nav-tab-border {
    position: relative;
}
.fg-tab-block .fg-nav-tab-border:before{

    border-bottom: 1px solid #ddd !important;
    content: '';
    position: absolute;
    left: 0 !important;
    bottom: 0px;
    right: 0 !important;
    margin: 0 !important;
    display: block;
    width: 100%;
}
.fg-action-menu-wrapper .fg_dev_filter_show {
    line-height: 20px;
    vertical-align: middle;
    margin-top: -1px;
    color: #888888;
    font-size: 14px;
}
.fg-action-language-set.fg-language-set-2.fg-active-IB {
    margin-top: 5px;
} 
.fg-action-menu-wrapper .fg-nav-links.data-more-tab >li.active .badge{
   /* top: -6px;*/
    vertical-align: top;
    top: 3px;
}
.fg-search-last-block .tableactionright.fg-col-settings .fa-table {
    margin-top: 3px;
}
.fg-page-title-link a,
.fg-btn-grey-icon > span,
.fg-btn-grey-icon > a {
    display: inline-block;
    background: #eeeeee;
    color: #666666;
    padding: 10px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

.fg-btn-grey-icon > span:hover,
.fg-btn-grey-icon > a:hover{

    background: #d6d6d6;
    color: #333333;
    text-decoration: none;

}
.fg-page-title-link a i{
    margin-right:5px;
}

.fg-btn-grey-icon > a.fg-event-edit-link {
    padding:7px 10px;
    margin-bottom: 5px;
}
.fg-btn-grey-icon > a.fg-event-edit-link > i{
    position: relative;
    top: 2px;
}
.fg-action-menu-wrapper .fg-title-first-block.fg-action-title #fg-dev-reactivate.fa-undo{
    margin-top: 6px;
}
/* =============================================================================
* Page titlebar Media query
========================================================================== */

@media (max-width: 768px){
    
	.page-content-wrapper .page-content .fg-action-menu-wrapper  .page-title{
		margin-bottom: 0;
	}
        .fg-action-menu-wrapper:after{
            content: '';
            display: block;
            clear: both;
            float: none;
            height:0;
            width:0;
        }
    .page-content-wrapper .page-content .fg-action-menu-wrapper .page-title{

        margin-top: 3px !important;
    }

    .fg-action-menu-wrapper .fg-nav-tab-border #paneltab{
        margin-top: 0px ;
    }
}
@media screen and (max-width:480px){
    
	.fg-tab-block .fg-nav-tab-border ul > li[name=fg-dev-more-tab] {
    	position: static;
	}
	.fg-tab-block .fg-nav-tab-border ul#paneltab{
		position: relative;
	}
	.fg-action-tab.fg-tab-block {
	    position: static;
        margin: 10px 0;
	}
	.fg-search-last-block.fg-action-search.fg-active-IB{
		width:100%;
    	margin-top: 10px;
	}
    .fg-nav-tab-border #paneltab {
        margin-top: 0px;
    }
	.fg-action-search .fg-input-icon{

    	width: 80%;
    	width: calc(100% - 40px);
        right: 0px;
	}
    .fg-action-search.no-col-settings .fg-input-icon{
        float: right;
    }
	.fg-action-search .fg-input-icon .form-control{
		width:100%;
	}
	.tableactionright.pull-left.fg-col-settings{
	    float: right !important;
	}
    .fg-action-search.fg-has-filter .fg-input-icon {
        width: 60%;
        width: calc(100% - 80px);
        right:42px;
    }
    .page-content-wrapper .page-content .fg-action-menu-wrapper .page-title small{
        display: inline;
        clear: none;
    }
}