<script type="text/template" id="template-display-selectedcolumns">

    <% aliasType =  type
    if(docType == 'club'){
        ext='CL'
    }else if(docType == 'team'){
       ext = 'T'
    }else if(docType == 'workgroup'){
        ext = 'WG'
    }else{
         ext = 'CO'
    }
            %>
    <div class="row fg-border-line selectedrow sortables fg-sort-drag-hover">
        <div class="fg-col-first-icon fg-sort-drag" name="fg-dev-sorting"><i class="fa fg-sort ui-draggable handle"></i></div>
        <div class="col-md-12 fg-col-hack"><%= labelName %></div>
        <div class="fg-last-icon">
            <div class="closeico">
              <i class="fa fa-minus-circle fa-2x removeitem" id="<%- id %>" type="<%- type %>"></i>
            </div>
        </div>
        <input type="hidden" id="id" name="id" data-key="id" data-value="<%- id %>" value="" data-sortorder-added="0" />
        <input type="hidden" id="type" name="type" data-key="type" data-value="<%- type %>" value="" data-sortorder-added="0" />
        <input type="hidden" id="club_id" name="club_id" data-key="club_id" data-value="<%- club_id %>" value="" data-sortorder-added="0" />
        <input type="hidden" id="name" name="name" data-key="name" data-type="alias" data-field-type="<%- type %>"  data-value="<%- ext %>_<%- aliasType %>_<%- id %>" value="" data-sortorder-added="0" />
        
    </div>
</script>