.fg-autocomplete-parent .fbautocomplete-main-div {
    padding:3px;
    border:1px solid #e5e5e5;
    cursor:text;
    width: auto;
    max-height: 60px;
    overflow-y: auto;
    background-color: #fff;
    position: relative;
}
ul.ui-autocomplete{
    list-style:none;
    height: 350px;
    overflow-y: auto;
    margin-left: -4px;
    margin-top: 3px;
    z-index: 99999;
}
ul.ui-autocomplete li {
    list-style:none;   
}
.fg-autocomplete-parent .fbautocomplete-main-div input[type="text"] {
    width: 200px; 
    margin:0; 
    padding:0;
    height: 27px;
    position:relative; 
    top:0; 
    text-indent: 3px;
    border:none;
    border-color: transparent; /* ie7 fix */
    display:block;
}

.fg-autocomplete-parent .fbautocomplete-main-div span {
    display:block; 
    padding:0px 20px 4px 8px;
    position:relative; 
    float:left; 
    background-color:#ededed;
    border:1px solid #d9d9d9; 
    -moz-border-radius:7px;
    margin-top: 1px;
    -webkit-border-radius:7px; border-radius:7px;
    color:#666;
    font-family: "Open Sans",sans-serif!important;
    font-size: 13px;
    width:auto;
    text-align:left;
    margin-right: 3px;
}
.fg-autocomplete-parent .fbautocomplete-main-div span a {
    position:absolute; 
    right:4px;
    top:-2px; 
    font-size: 16px;
    color:#ccc;
    font-family: "Open Sans",sans-serif!important; text-decoration:none;
}

.fg-autocomplete-parent .fbautocomplete-main-div span a:hover { color:#767676; }

.ui-menu .ui-menu-item {
    white-space:nowrap; 
    padding:2px 10px 2px 2px;
    font-size:15px; 
}
.ui-menu .ui-menu-item img
{
  width: 24px;
  height: 24px;  
  padding:0;
  vertical-align: middle;
}
.ui-helper-hidden-accessible{
    display: none!important;
}
.ui-widget-content{
    background: none!important;
    border: 0px solid #ebebeb!important;
}
.ui-widget-content li {
    background: #fff;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 2px 2px 2px 2px!important;
}
.ui-widget-content li:first-child {
    border-top: 1px solid #ebebeb;
}
.ui-widget-content li:last-child {
    border-bottom: 1px solid #ebebeb;
}
.ui-widget {
    font-family: "Open Sans",sans-serif!important;
    font-size: 13px!important;
}
.ui-menu .ui-menu-item a {
    padding: 4px 10px;
    display: inline-block;
    width: 100%;
    color: #333;
    white-space: pre-wrap;
}
.ui-menu .ui-menu-item a:hover {
    background: #eee;
    text-decoration: none;
}