<div class="fg-help-topic-list-wrapper">
    <ul class="fg-help-topic-lists">
        <li class="fg-help-topic-list active"  data-target="contact1">
            <div class="fg-help-topic-header">So ist Fairgate aufgebaut</div>
            <div class="fg-help-topic-excerpt">Gewinnen Sie einen Überblick über die Fairgate Lösung und wie sie aufgebaut ist und was wo zu finden ist.</div>
        </li>
        <li class="fg-help-topic-list"  data-target="contact2">
            <div class="fg-help-topic-header">Hilfe finden</div>
            <div class="fg-help-topic-excerpt">Wo finden Sie in FairgateV4 Hilfe und in welcher Form?</div>
        </li>
        <li class="fg-help-topic-list"  data-target="contact3">
            <div class="fg-help-topic-header">Import und Export von Kontakten</div>
            <div class="fg-help-topic-excerpt">Über den Import von neuen Kontakten ins die Fairgateverwaltung und den Export daraus.</div>
        </li>
        <li class="fg-help-topic-list"  data-target="contact4">
            <div class="fg-help-topic-header">QuickTips Videos <i class="fa fa-video-camera" aria-hidden="true"></i></div>
            <div class="fg-help-topic-excerpt">Eine Auswahl von allgemeinen Bedienungselementen und Arbeitsweisen in kurzen Videos erklärt.</div>
        </li>
        <li class="fg-help-topic-list"  data-target="contact5">
            <div class="fg-help-topic-header">Benutzerrechte vergeben</div>
            <div class="fg-help-topic-excerpt">Wie Sie jedem Mitglied und Kontakt Benutzerrechte zuweisen können die genau der Funktion dieser Person entspricht.</div>
        </li>
        <li class="fg-help-topic-list"  data-target="contact6">
            <div class="fg-help-topic-header">Kontaktfelder erstellen</div>
            <div class="fg-help-topic-excerpt">Wie Sie mit eigenen Kontaktfeldern die Kontakte an ihre Bedürfnisse anpassen können.</div>
        </li>

    </ul>
</div>
<div class="fg-help-topic-details-wrapper">
    <div class="fg-help-topic-details-content-scroll-wrapper fg-help-sample-page-wrapper" id="topic-details-content">
        <!-- -----------Overview details form ajax--------- -->
    </div>
</div>
