<div class="row">
    <div class="col-md-12"> 
        <div class="portlet-body" data-sample> 
            <div class="alert alert-info alert-br">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <div class="col-md-4">
                    <strong>{%trans%}SUBSCRIBER_IMPORT_SAMPLETEXT_HEAD{%endtrans%}</strong>
                    <div class="fg-table-wrap">
                        <table class="table fg-import-table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{%trans%}SUBSCRIBER_IMPORT_EMAIL{%endtrans%}</th>
                                    <th>{%trans%}SUBSCRIBER_IMPORT_LANGUAGE{%endtrans%}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{%trans%}SUBSCRIBER_IMPORT_EMAIL_DESC{%endtrans%}</td>                    
                                    <td>{{'SUBSCRIBER_IMPORT_LANGUAGE_DESC'|trans|replace({'%language%': clubLanguages|join(', ')})}}</td>                    
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-7">
                    <strong>{%trans%}SUBSCRIBER_IMPORT_SAMPLETEXT_HEAD2{%endtrans%}</strong>
                    <div class="fg-table-wrap">
                        <table class="table fg-import-table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{%trans%}SUBSCRIBER_IMPORT_SALUTATION{%endtrans%}</th>
                                    <th>{%trans%}SUBSCRIBER_IMPORT_GENDER{%endtrans%}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{%trans%}SUBSCRIBER_IMPORT_SALUTATION_DESC{%endtrans%}</td>                    
                                    <td>{%trans%}SUBSCRIBER_IMPORT_GENDER_DESC{%endtrans%}</td>
                                </tr> 
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- End Table -->
            </div>
        </div>
    </div>
</div>