<script type="text/template" id="newContactnote">
     <li class="timeline-purple">
                              <div class="timeline-time"> <span class="date"> 02.07.2014 </span> <span class="time"> 14:09</span> <span class="time"> David Herzon</span> </div>
                              <div class="timeline-icon"> </div>
                              <div class="timeline-body">
                                <div class=""> <textarea class="auto-textarea timeline-content" id="<%- content.addCount %>" data-key="<%- content.addCount %>"></textarea></div>
                                <div class="tools timeline-close-btn"> <a href="javascript:;" class="remove"> <i class="fa fa-times-circle fa-2x"></i> </a> </div>
                                <div class="timeline-footer"> Last edited on 06.02.2014, 14:13 by Tobias Nafzger </div>
                              </div>
                            </li>
</script>