<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-004">
    <div class="row col-md-12">
        <h1>Beispiele der Mailings</h1>
        <p>Nachfolgend je ein Beispiel eines fertigen Einfach-Mails und eines Newsletters.</p>
    </div>
</div>
<div class="row col-md-12">
    <h2>Einfach-Mail</h2>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_comm/einfachmail_example.png" class="fg-help-img">
        <div class="fg-help-img-footer">Beispiel Einfach-Mail</div>
    </div>
</div>

<div class="row col-md-12">
    <h2>Newsletter</h2>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_comm/newsletter_example.png" class="fg-help-img">
        <div class="fg-help-img-footer">Beispiel Newsletter</div>
    </div>
</div>