<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-004">
    <div class="row col-md-12">
        <h1>QuickTips Videos</h1>
        <p>Nachfolgend finden Sie eine Reihe von kurzen Videos die Ihnen gewisse grundlegende Bedienungsweisen im Fairgate erklären.</p>
    </div>
</div>
<div class="row col-md-12">
    <div class="fg-help-imgbox FL">
        <iframe width="250" height="140" src="https://www.youtube.com/embed/s9fwk1JVYGw?list=PLgZZagYFKiivGxFZJmS6UH0PYNtwFqnTx&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3>Ihr erstes Login</h3>
    <p>Die Aktivierung Ihres Accounts, Bereiche Intern und Verwaltung sowie eine Übersicht über die Menüs und Dashboards</p>
</div>
<div class="row col-md-12">
    <div class="fg-help-imgbox FL">
        <iframe width="250" height="140" src="https://www.youtube.com/embed/GFs4Gvy0PgY?list=PLgZZagYFKiivGxFZJmS6UH0PYNtwFqnTx&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3>Kontaktbearbeitung</h3>
    <p>Wege in die Kontaktübersicht und -bearbeitung, Bearbeitungsmodus direkt in der Tabelle</p>
</div>
<div class="row col-md-12">
    <div class="fg-help-imgbox FL">
        <iframe width="250" height="140" src="https://www.youtube.com/embed/CPH9GDNBhMI?list=PLgZZagYFKiivGxFZJmS6UH0PYNtwFqnTx&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3>Sidebar Favoriten und Übersicht</h3>
    <p>Favoriten setzen, Sidebarbereiche ein- und ausklappen, Sidebarbereiche aus- und einblenden</p>
</div>
<div class="row col-md-12">
    <div class="fg-help-imgbox FL">
        <iframe width="250" height="140" src="https://www.youtube.com/embed/T851R6gdFCE?list=PLgZZagYFKiivGxFZJmS6UH0PYNtwFqnTx&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3>Kontakte aus Teams und Arbeitsgruppen entfernen</h3>
    <p>Kontakte aus Teams und Gruppen entfernen über das Aktionsmenü auch mehrere Kontakte, Zugehörigkeit aus einzelnem Kontakt heraus entfernen</p>
</div>
