<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-006">
    <div class="row col-md-12">
        <h1>Kontaktfelder erstellen</h1>
        <p>Was sind Kontaktfelder und was gilt es dabei zu beachten?</p>
    </div>
</div>
<div class="row col-md-12">
    <p>Kontaktfelder sind alle Felder die einen Kontaktes ausmachen. Das kann nur die Adresse und ein paar obligatorische persönliche Daten sein oder auch Felder beinhalten die für Ihren Verein wichtig und spezifisch sind. Was fehlt erfassen Sie hier. Brauchen Sie eine Geschäftstelefonnummer, oder eine Sportlizenznummer oder ein Eintritts- sowie Austrittsdatum? Dann erstellen Sie diese Felder hier neu für Privatpersonen <i class="fa fa-user" style="color:blue" aria-hidden="true"></i> oder Firmen <i class="fa fa-building-o" style="color:blue" aria-hidden="true"></i>
        .</p>
    <p>Es gibt folgende Typen von Kontaktfeldern:</p>
    <ul>
        <li>Obligatorische Systemfelder (mit <i class="fa fa-star" style="color:red" aria-hidden="true"></i>
            )</li>
        <li>Systemfelder (können nicht gelöscht werden)</li>
        <li>Pflichtfelder (müssen ausgefüllt werden)</li>
        <li>Kundenfelder (vom Verein definiert)</li>
    </ul>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_contact/Kontaktfelder.png" class="fg-help-img">
        <div class="fg-help-img-footer">Kontaktfelderseite mit Pflicht-, System- und Kundenfeldern</div>
    </div>
    <p class="clear">Sie erfassen typischerweise auch neue Kontaktfelder in der Vorbereitung eines Datenimports zu Beginn, damit Ihre <i>alten</i> Daten in die neue Kontaktdatenbank im Fairgate passt.</p>
</div>
<div class="row col-md-12">
    <br/>
    <div class="fg-help-ribbonbox FL w300">
        <div class="mt-element-ribbon bg-grey-steel">
            <div class="ribbon ribbon-color-info uppercase">Merken</div>
            <p class="ribbon-content">Änderungen in Seiten immer mit "Änderungen speichern" abschliessen sonst gehen sie verloren!</p>
        </div>
    </div>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_contact/weiteren_kontakt_erstellen.png" class="fg-help-img">
    </div>

</div>
<br />