<script type="text/template" id="template_sidebar_menu2level"> 
        <%  _.each(data.items,function(rowMenu,key){
            var subMenu = {};
            subMenu.input = {};
           
            if(typeof rowMenu.input!== "undefined"){
                subMenu.input = rowMenu.input;
            }         
            subMenu.showLoading = data.showLoading;
            subMenu.menuType = data.menuType;
            subMenu.heiarchy = 1;
            subMenu.parentMenuId = data.parent.id+'_'+rowMenu.id;            
        %>
            <li id="<%- subMenu.parentMenuId %>">
                <%
                    if(_.size(subMenu.input) > 0){
                %>
                    <a href="javascript:;"> 
                <%
                    }else{
                %>
                    <div class="fg-no-data-sidebar-sub">
                <%
                    }
                %>
                <span class="<% if(_.size(subMenu.input) > 0){ %> arrow pull-left <% } else{ %> fg-without-arrow <% } %>"></span>
                <span class="title"> <%- rowMenu.title %></span>
                <%
                if(_.size(subMenu.input) > 0){
                %>
                    </a>
                <%
                    }else{
                %>
                    </div>
                <%
                    }
                %>
                <ul class="sub-menu sub-page-clickable">
                    {{ include('::clubadmin/sidebar/sidebar-menu2level-level2-template.html.twig') }}                                              
                </ul>
                <% 
                var settings = {};
                settings.menuId = rowMenu.id;
                settings.target = '#'+subMenu.parentMenuId;
                settings.hierarchy = 2;
                settings.categoryId = rowMenu.id;
                
                settings.items = data.settings;
                var showSettings = (typeof rowMenu.hasSettings !== "undefined")? false: true;
                if(typeof rowMenu.hasSettings !== "undefined"){
                    
                }
                if (showSettings && typeof data.settings!== "undefined"){
                    /* FOR CONTACT SIDERBAR ONLY STARTS*/
                    
                    if(typeof rowMenu.functionAssign!== "undefined"){
                        settings.functionCount = 0;
                        settings.functionAssign = rowMenu.functionAssign;
                        switch(rowMenu.functionAssign){
                            case 'none':
                                break;
                            case 'same':                                                                
                                try{
                                    settings.functionCount = rowMenu.input[0]['input'].length;  
                                }catch(err){
                                }
                                break;
                            case 'individual':
                                break;
                                
                        }                        
                    } 
                    /* FOR CONTACT SIDERBAR ONLY ENDS*/ 
                %>    
                    {{ include('::clubadmin/sidebar/sidebar-settings-template.html.twig') }}
                <%
                }
                %>        
            </li>
        <% });%>
</script>