<script type="text/template" id="newAssignmentRolesContact">
        <% arrayRoleName = FgUtility.groupByMulti(normalArray, ['roleId']);  %>
        <% if(element=='Workgroup') {
            var executiveBoardCount=0;
        } %>

        <div class="col-md-3 col-sm-12 col-xs-12 fg-left-zero roleDp fg-dev-right-spacer">
            <select insert-flag="0" class="bs-select form-control fg-select-font roleDropDown">
                <option value="" option-text-role="1">{%trans%}ASSIGNMENT_SELECT_DROPDOWN{%endtrans%}</option>
                <% if(element=='Workgroup') { %>
                    
                    <% _.each(filterArray,function(filterArrayValue,filterArrayKey){ %>
                            <% if(arrayRoleName[filterArrayKey][0]['is_executive_board']== 1 && executiveBoardCount==0) { 
                                executiveBoardCount=1;
                            %>
                                <option name="<%- arrayRoleName[filterArrayKey][0]['catId'] %>_role_<%- filterArrayKey %>" id="<%- arrayRoleName[filterArrayKey][0]['catId'] %>_role_<%- filterArrayKey %>" data-key="<%- arrayRoleName[filterArrayKey][0]['catId'] %>.role.<%- filterArrayKey %>" executive-board="<%- arrayRoleName[filterArrayKey][0]['is_executive_board'] %>" element-type="<%- element %>" category="<%- arrayRoleName[filterArrayKey][0]['catId'] %>" value="<%- filterArrayKey %>">{{fgtwig.getTerminolgyName('Executive Board',singular,'UCF')}}</option>
                            <% } else if(arrayRoleName[filterArrayKey][0]['is_executive_board']== 0) { %>
                                <option name="<%- arrayRoleName[filterArrayKey][0]['catId'] %>_role_<%- filterArrayKey %>" id="<%- arrayRoleName[filterArrayKey][0]['catId'] %>_role_<%- filterArrayKey %>" data-key="<%- arrayRoleName[filterArrayKey][0]['catId'] %>.role.<%- filterArrayKey %>" executive-board="<%- arrayRoleName[filterArrayKey][0]['is_executive_board'] %>" element-type="<%- element %>" category="<%- arrayRoleName[filterArrayKey][0]['catId'] %>" value="<%- filterArrayKey %>"><%- arrayRoleName[filterArrayKey][0]['roleTitle'] %></option>
                            <% } %>
                    <% }); %>
                    
                <% } else {
                    if(element=='Team') { 
                        dummyRolesArray = _(normalArray).filter(function (x) { return (x['teamCatId'] ==category ) ;});
                    } else {
                        dummyRolesArray = _(normalArray).filter(function (x) { return (x['catId'] ==category ) ;});
                    }
                    var previousRoleId = [];
                    var loopFlag=0;    
                    _.each(dummyRolesArray,function(arrayNormalRolesValue,arrayNormalRolesKey){ 
                        if(filterArray[arrayNormalRolesValue['roleId']] != undefined ) { 
                            if($.inArray(arrayNormalRolesValue['roleId'], previousRoleId) == -1) {                            
                                previousRoleId[loopFlag]=arrayNormalRolesValue['roleId'];
                                loopFlag=loopFlag+1;
                                if(element=='Team') { %>
                                    <option name="<%- arrayRoleName[arrayNormalRolesValue['roleId']][0]['teamCatId'] %>_role_<%- arrayNormalRolesValue['roleId'] %>" id="<%- arrayRoleName[arrayNormalRolesValue['roleId']][0]['teamCatId'] %>_role_<%- arrayNormalRolesValue['roleId'] %>" data-key="<%- arrayRoleName[arrayNormalRolesValue['roleId']][0]['teamCatId'] %>.role.<%- arrayNormalRolesValue['roleId'] %>" insert-flag="0" element-type="<%- element %>" category="<%- arrayRoleName[arrayNormalRolesValue['roleId']][0]['teamCatId'] %>" value="<%- arrayNormalRolesValue['roleId'] %>"><%- arrayRoleName[arrayNormalRolesValue['roleId']][0]['roleTitle'] %></option>
                                <% } else { %>
                                    <option name="<%- category %>_role_<%- arrayNormalRolesValue['roleId'] %>" id="<%- category %>_role_<%- arrayNormalRolesValue['roleId'] %>" data-key="<%- category %>.role.<%- arrayNormalRolesValue['roleId'] %>" element-type="<%- element %>" category="<%- category %>" value="<%- arrayNormalRolesValue['roleId'] %>"><%- arrayRoleName[arrayNormalRolesValue['roleId']][0]['roleTitle'] %></option>
                                <% } 
                            }
                        }
                    }); %>
                <% } %>
            </select>
        </div>
</script>