<footer class="container-fluid fg-web-page-footer fg-visible-hidden">

    <div class="container" id="fg-website-footer">

    </div>
</footer>
<a href="#" class="fg-web-go-top hide"><i class="fa fg-icon-arrow-circle-up"></i></a>