
@import '../../global/utilities/variables'; // added variables and functions

.fg-control-aranew {
	padding-top: 5px;
	background-color: $clrDarkWhite;
	margin-top: 5px;
	margin-bottom: -5px;
	padding-bottom: 5px;
	float: left;
	width: 100%;
	> dl {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 0;
		width: 100%;
	}
	dl {
		dt {
			clear: left;
			float: left;
			font-weight: 400;
			min-height: 34px;
			margin-bottom: 10px;
			padding-right: 14px;
			padding-top: 5px;
			text-align: left;
			width: 26%;
		}
		dd {
			float: left;
			margin-bottom: 0;
			margin-right: 20px;
			width: 70%;
		}
	}
}