<div  class=" fg-web-page-content-wrapper  {% if (pagecontentData.sidebar is defined) and (pagecontentData.sidebar|length >0) %}  {% if pagecontentData.page.sidebar.type == 'wide' %} fg-sidebar-layout-2  {% elseif pagecontentData.page.sidebar.type == 'small' %} fg-sidebar-layout-1  {% endif %}  {% if pagecontentData.page.sidebar.type == 'wide' %}col-sm-8   {% elseif pagecontentData.page.sidebar.type == 'small' %}col-sm-10  {% else %} col-sm-12   {% endif %}  {% else %} col-sm-12    {% endif %}  ">
    <div  id="fg-website-content" class="">
        
    </div>
</div> 