<!-- BEGIN SIDEBAR -->
<div  id="fg-website-sidebar" class=" fg-web-page-sidebar-wrapper  {% if pagecontentData.sidebar|length >0 %}  {% if pagecontentData.page.sidebar.type == 'wide' %} col-sm-4 {% elseif pagecontentData.page.sidebar.type == 'small' %} col-sm-2  {% endif %}    {% endif %}  ">

     
</div>
<!-- END SIDEBAR -->