<div class="fg-web-promobox-header">
    <div class="fg-web-promobox-caption">Advertisment</div>
</div>
<div class="fg-web-promobox-body">
    <div class="fg-web-promobox-content">
        <h2 class="fg-web-promo-title">Fairgate Vereinslösung</h2>
        <p>Mitgliederverwaltung, Newsletter, Webseite, Sponsoring und Fakturierung, alles in Einem und webbasiert.</p>
    </div>
</div>
<div class="fg-web-promobox-footer"><a href="http://www.fairgate.ch/" target="_blank" type="button" data-action="close" class="btn fg-btn-link fg-web-promo-toggle-btn">MORE INFO</a><a href="javascript:void(0)" type="button" data-action="close" class="btn fg-btn-remove fg-web-promo-toggle-btn" id="dontDisplayPromo">Don't display anymore</a></div>
<div data-action="open" class="fg-web-promo-drawer-wrapper fg-web-promo-toggle-btn" id="">Fairgate Vereinssoftware<i class="fa fa-angle-double-down fg-arrow"></i></div>