<div class="page-content-wrapper">
    <div class="page-content">
        <div class="fg-error-block">
            <div class="fg-error-left"><h1>{{status_code}}</h1></div>
            <div class="fg-error-right">

                <h3>{{'ERROR_PAGE_NO_ACCESS_HEADING'|trans}}</h3>
                <p>{{'ERROR_PAGE_NO_ACCESS_TEXT'|trans}}</p>
            </div>
        </div>
    </div>
</div>


