/* 
* 01 - min-height:600px
* 02 - min-width: 992px
* 03 - min-width:768px
* 03a - max-width:1024px
* 04 - max-width:992px
* 05 - max-width: 991px
* 06 - max-width: 768px
* 07 - max-width: 767px
* 08 - max-width: 600px
* 09 - max-width:480px
* 10 - max-width:360px
* 11 - max-width:320px
* 12 - max-width:1350px
* 13 - min-width:1200px
* 14 - min-width:992px and max-width:1199px
* 15 - max-width:1100px
* 16 - max-width:1199px
* 17 - min-width:890px and max-width:991px
* 18 - min-width:1200px and max-width:1500px
*/

/* =============================================================================
* 01 - min-height:600px
================================================================================  */

@media screen and (min-height: 600px){
	body.page-footer-fixed {
            padding-bottom: 18px !important;
	}
	.page-footer-fixed .fg-sticky-block {
	    position: fixed;
	    bottom: 32px;
	    width: 100%;
	    padding-right: 40px !important;
	    z-index: 9999;
	}
/*	.page-footer-fixed .fg-bottom-fixed-height {
	    display: block;
	    width: 100%;
	    height: 80px;
	    background-color: #fff;
	}*/
	.page-footer-fixed .page-footer {
		position: fixed;
		left: 0;
		right: 0;
		z-index: 10000;
		bottom: 0;
	}
	body.page-footer-fixed .page-content{
		padding-bottom: 20px;

	}

	body.page-footer-fixed.fg-sticky-save-area .page-content {
	    padding-bottom: 70px !important;
	}
}


/* =============================================================================
* 02 - min-width: 992px
================================================================================ */
@media (min-width: 992px){
	body .page-content-wrapper .page-content,
	body .page-sidebar > .page-sidebar-menu {
/*	    margin-top: 35px;*/
	}
	.page-sidebar-fixed .page-sidebar{
	    top: 40px;
	}

}


/* =============================================================================
* 03 - min-width:768px
================================================================================ */
@media screen and (min-width: 768px){
	.fg-title-first-block {
		max-width : calc(100% - 332px);
	}
	.fg-calendar-app-dtls-wrapper .fg-action-menu-wrapper .fg-title-first-block{
	    max-width: calc(100% - 120px);
    	white-space: normal;

	}
	body.modal-open {
	    overflow-y: hidden;
	}
	.fg-calendar-app-dtls-wrapper .fg-caledar-event-dtls-map-wrapper {
    	height: 500px;

	}
	.timeline.fg-timeline-right:before {
	  left: auto;
	  right: 22.7%;
	  margin-right: -10px;
	  margin-left: 0px;
	}
	.timeline.fg-timeline-right .timeline-purple .timeline-time {
	  right: 0;
	  text-align: left;
	  width: 18%;
	}
	
	.timeline.fg-timeline-right .timeline-purple .timeline-icon {
	  right: 22%;
	  left: auto;
	  margin-right: -25px;
	  margin-left: 0;
	}
	.timeline.fg-timeline-right .timeline-purple .timeline-body {
	  margin: 0 28% 15px 0;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-purple .timeline-body {
	    margin: 0 31% 15px 0;
	}
	.timeline.fg-timeline-right .timeline-purple .timeline-body:after {
	  right: -20px;
	  border-right-color: transparent;
	  border-left-color: #eeeeee;
	}

	.timeline.fg-timeline-right .timeline-purple .timeline-body:after {
		border-left-color: #f5f5f5 !important;
	}

	.fg-cms-nav-wrapper .dd-list .dd-list .fg-pagetitle{
	    padding-right: 25px;	
	}
	.fg-cms-nav-wrapper .dd-list .dd-list .fg-options,	
	.fg-cms-nav-wrapper .dd-list .dd-list .fg-lock-switch{	
	    padding-right: 20px;
	}
	.fg-cms-nav-wrapper .dd-list .dd-list .dd-list .fg-pagetitle{
	    padding-right: 35px;	
	}
	.fg-cms-nav-wrapper .dd-list .dd-list .dd-list .fg-options,
	.fg-cms-nav-wrapper .dd-list .dd-list .dd-list .fg-lock-switch{	
	    padding-right: 25px;
	}
}
/* =============================================================================
* 03a - max-width:1024px
================================================================================ */
@media (max-width: 1024px){
}
/* =============================================================================
* 04 - max-width:992px
================================================================================ */

@media screen and (max-width: 992px){

    .dataTables_scrollHead{
        clear: left;
    }
	.fg-create-calendar-appointment label.col-md-2.text-right{
		text-align: left;
    	clear: both;
		width: 100%;
	}
	.fg-create-calendar-appointment .fg-extra-col{
		padding: 0 15px;
	}
	.fg-news-create-article-wrapper .fg-extra-col{
		padding-left: 15px;
	}
}
/* =============================================================================
* 05 - max-width:991px
================================================================================ */

@media (max-width: 991px){
	.page-container .page-sidebar-wrapper .page-sidebar,
	.page-sidebar-wrapper .page-sidebar .page-sidebar-menu,
	.page-sidebar .page-sidebar-menu > li.sidebar_options_li,
	.page-sidebar .page-sidebar-menu > li.sidebar_options_li .settingsright,
	.page-sidebar .page-sidebar-menu > li.sidebar_options_li .settingsright .custom-drop{
		position: static;
	}
	.page-sidebar .page-sidebar-menu .settingsright #chkitems{
	    bottom: 25px;
	    right: 20px;
	}
	.page-sidebar-wrapper{
		position: relative;
	}
	.page-container .page-sidebar-wrapper .page-sidebar.openSettings{
	    min-height: 175px;
	}

	.page-sidebar.openSettings .page-sidebar-menu > li.sidebar_options_li .settingsright{
		position:absolute;
		right:20px;
		bottom:0px;
	}
	.page-sidebar .page-sidebar-menu .settingsright #chkitems.noContent{

	    height: 0px;
	    overflow: hidden;
	    padding: 0;
	    margin: 0;
	    border: 0;
	}
	ul.page-sidebar-menu.visible-sm.visible-xs.fg-topnav-orientation > li > a{
    	padding-left: 25px;
    	position: relative;

	}
	ul.page-sidebar-menu.visible-sm.visible-xs.fg-topnav-orientation > li > a > span.arrow{
	    position: absolute;
	    left: 10px;
	    right: auto;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    width: 14px;
	    height: 21px;

	}
	.fg-calendar-view-content-wrapper-child{
		margin: 0;
	    float: none;
	    width: 100%;
	}
	.fg-calendar-view-filter-wrapper {
	    float: none;
	    margin: 0 auto;
	    width: 100%;
	}

	.fg-gallery-items.fg-clear.ui-sortable.selected {
	    min-height: 350px;
	}
	.modal-body #gallery_editdesc_form .fg-edit-desc-wrapper{
	    padding-left: 0;
	}

	body .fg-news-overview-wrapper{
		float: left;
	}
}


/* =============================================================================
* 06 - max-width: 768px
================================================================================ */
@media (max-width: 768px){
	.fg-upload-div.fg-document-edit-image{
		position: static;
		margin-top:20px;
	}
	.page-content-wrapper .page-content .fg-action-menu-wrapper  .page-title{
		margin-bottom: 0;
	}
	div.input-group.date input.filter-log-input {
	    width: 85.3% !important;
	}
	.input-group.date {
	    width: 100%;
	}
	.fg-doc-log .pull-left{
		width:50%;
	}
	.dataTables_wrapper .dataTables_paginate{
    	float: right !important;

	}
	.dataTables_wrapper .dataTables_info{

    float: left;
	}
	.page-sidebar .page-sidebar-menu > li > a span.arrow:before, 
	.page-sidebar .page-sidebar-menu > li > a span.arrow.open:before, 
	.page-sidebar .page-sidebar-menu > li.open > a span.arrow:before, 
	.page-sidebar .page-sidebar-menu > li:hover > a span.arrow:before, 
	.page-sidebar .page-sidebar-menu.sub-menu > li.open > a span.arrow:before, 
	.page-sidebar .page-sidebar-menu.sub-menu > li.open > a span.arrow.open:before{

	    right: 10px;
	    left: 0;
	    margin: auto;
	    top: 0;
	    bottom: 0;
	}
	ul.page-sidebar-menu.visible-sm.visible-xs.fg-topnav-orientation > li > a > span.arrow.open{
	    left: 7px;
	}
	.fg-news-create-article-wrapper .fg-files-uploaded-lists-wrapper .fg-files-uploaded-list .fg-file-size{
		margin-top:10px;
	}
	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter .input-group.date{
		width:auto;
	}
	.fg-news-overview-wrapper{
    	margin-right: 290px;
	}
	.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .dd-list .dd-list .fg-lock-switch{
    	padding-right: 24px;
	    padding-left: 5px;
	}
	.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .dd-list .dd-list .dd-list .fg-lock-switch{
			
	    padding-right: 33px;
	    padding-left: 5px;

		
	}
    .form-horizontal .control-label{
		padding:0 15px !important;
		margin-bottom: 2px;
    }
	    
	.page-sidebar .page-sidebar-menu li.open > .sub-menu, 
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.open > .sub-menu {
	    display: block;
	}
	.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.open > a:after ,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:not(.fg-page-new-sidebar):hover .page-sidebar-menu li.open > a:after {
	    content: "\f107";
	}
	.fg-filter-item .filter-content.fg-date-wrapper .input-group.date{
		width:auto;
	}
}

/* =============================================================================
* 07 - max-width: 767px
================================================================================ */
@media (max-width: 767px){
	.page-content-wrapper .page-content {
		width: 100%;
	}
	.fg-profile-left-block{
		display: none;
	}
	.timeline li.timeline-purple div.timeline-body:after {
    	border-bottom-color: #efefef;

	}

    div.dataTables_paginate{
		float: left !important;
		margin-top: 24px !important;
	}
	.fg-forum-topic-content-wrapper .fg-forum-profile {
	    display: table;
	    margin: auto;
	    text-align: center;
	}
	.fg-forum-topic-content-wrapper .fg-forum-avatar {
	    margin: 10px auto;
	}
	.fg-forum-post .fg-forum-post-right-top, 
	.fg-forum-post .fg-forum-post-right-bottom, 
	.fg-forum-topic-content-wrapper .fg-forum-post-edit {
	    position: relative;
	    margin-bottom: 10px;
    	text-align: right;
	}	
	.fg-forum-topic-content-wrapper .fg-forum-post-edit {
		text-align: left;
	}
	.fg-forum-topic-content-wrapper .fg-forum-post-timestamp{
    	text-align: center;

	}
	.fg-forum-topic-content-lists .fg-forum-control-lists li:last-child {
	    margin-right: 0px;
	}
	.fg-forum-topic-content-wrapper .fg-forum-post-content{
    	margin-top: 10px;

	}
	.fg-create-calendar-appointment .fg-datetime-wrapper .fg-datetime-left,
	.fg-create-calendar-appointment .fg-datetime-wrapper .fg-datetime-right{
		margin:0;
		padding: 0 15px;
	    float: none !important;
	    text-align: left;
	}
	.fg-create-calendar-appointment .fg-time{
		float:right;
	}
	.fg-create-calendar-appointment .fg-rule-annualy div[class^='col-lg-']{
		margin-bottom: 5px;

	}
	.fg-calendar-view-content .fg-event-time,
	.fg-calendar-view-content .fg-event-name,
	.fg-calendar-view-content .fg-event-teams,
	.fg-calendar-view-content .fg-event-category{
		margin-bottom: 5px;
	}
	.fg-gallery-upload-item > div[class^="col-sm-"] {
   	 	margin-bottom: 10px;
   	}
   	.fg-nestable.fg-nestable-no-toggle .fg-nestable-row .fg-col-hack .fg-gallery-name{
	    width: 75%;
	    float: left;
	    padding: 0 5px 0 0 ;
		
   	}
   	.fg-nestable.fg-nestable-no-toggle .fg-nestable-row .fg-col-hack .fg-gallery-img-count-wrapper{    
   		width: 25%;
	    float: right;
	    padding: 0 0 0 5px;
		
   	}
   	.fg-create-calendar-appointment .fg-calendar-upload-items .fg-calendar-item-name{
   		padding-right: 50px;
   	}
   	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter .fg-all-areas{
            margin-bottom: 5px;
            margin-top: 5px;
   	}
   	.fg-news-editorial-editable-list-filter .input-group.date{
   		width:auto;
   	}
   	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter .fg-date-bw{
   		margin-bottom: 0;
   	}
   	.timeline.fg-timeline-right .timeline-purple .timeline-time {
   		text-align: left;
   	}

	.timeline.fg-timeline-right .timeline-purple .timeline-body:after {
		border-bottom-color: #f5f5f5 !important;
	}
	.fg-cms-nav-wrapper .fg-nestable-row .fg-switch {
		min-width: 100px;
		margin: 5px auto;
	}
	.fg-cms-nav-wrapper .fg-nestable-row .fg-switch.fg-lock-switch {
		text-align: left;
	}
	.fg-cms-nav-wrapper .dd-list .fg-nestable-row {
	    padding-right: 30px;
	}
	.timeline.fg-timeline-right .timeline-purple .timeline-icon{
		display: none;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-news-top{		
	    margin-bottom: 15px;
	    color: #333;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-news-top .fg-news-control-lists{
		padding: 0;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-news-top .fg-news-control-lists li{
    	padding: 0;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-body:after{
		display: none;
	}
	.fg-news-detail-wrapper .fg-news-editorial-artcl-dtl-comment-wrapper{
    	padding: 0;
	}
	.fg-filter-sidebar-wrapper{

	    margin:0;
	    width: 100%;
	    float: none;
	}
	div.fg-news-overview-wrapper {
		float: none;
		display: block;
		width: 100%;
		margin: 10px auto;
	}
	.fg-news-editorial-editable-list-wrapper  .col-sm-6 .bootstrap-select,
	.fg-news-editorial-editable-list-wrapper  .col-sm-6 input {
		margin-bottom: 5px;
	}
	.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .dd-list .dd-list .fg-lock-switch{
		padding: 0 15px !important;
	}
	.fg-news-editorial-editable-list-filter .fg-created-by{
		margin-bottom: 5px;
	}	

	.fg-gallery-wrapper {
	    margin: 0 auto;
	    max-width: 350px;
	}

	.fg-filter-item .filter-content.fg-date-wrapper .input-group.date,
	.fg-filter-item .filter-content.fg-date-wrapper label{
		float: left;
	    min-width: 100px;
	}

}


/* =============================================================================
* 08 - max-width: 600px
================================================================================ */
@media screen and (max-width:600px){
	.dataTable {
	    display: table;
	    overflow: scroll;
	}
	.internal-sticky-area .form-actions.fluid .btn {
	    margin: 0 5px 10px 0;
	}
	.fg-create-calendar-appointment .fg-rule-monthly .fg-row .selectpicker,
	.fg-create-calendar-appointment .fg-rule-annualy .fg-row .selectpicker{
   		margin-bottom: 5px;
	}
	.fg-create-calendar-appointment .fg-rule-annualy .col-xs-6{
		width:100%;
		margin-bottom: 10px;
	}
	.fg-news-modal-timeperiods-wrapper .fg-form-title{
		width: auto;
		text-align: left;
	}
	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter label,
	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter .input-group.date{
	    margin-bottom: 5px;
	    margin-right: 5px;
	}
	.fg-news-editorial-artcl-dtl-preview-wrapper .left-col,
	.fg-news-editorial-artcl-dtl-preview-wrapper .right-col{
		float: none !important;
		clear: both;
		margin-bottom: 10px;
	}
	.fg-news-editorial-artcl-dtl-preview-wrapper .fg-news-thumb-wrapper {
		text-align: center;
	}

	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter .input-group.date,
	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter .input-group.date input{
		width:100%;
	}
}

/* =============================================================================
* 09 - max-width:480px
================================================================================ */
@media screen and (max-width:480px){
	.fg-member-block{
		width:100%;
	}
	.fg-box-style-01.box .portlet-body{
		height:auto;
		overflow: auto;
	}
	#fg-personal-overview .fg-dashboard-wrap ul li span.fg-forum-blk,
	#fg-personal-overview .fg-dashboard-wrap ul li .fg-doc-right-blk{
	    display: block;
	    width: 100%;
	    max-width: none;

	}
	#fg-personal-overview .fg-dashboard-wrap ul li .fg-doc-right-blk span.fg-doc-size{
		text-align: left;
		width:auto;
	}
	.page-sidebar, .page-sidebar.in {
	    width: 100%;
	    margin: 0 !important;
   		margin-top: 10px !important;
	}
	.page-header-fixed .page-container {
        padding:0 0px 10px 0px !important;
        top: -11px
	}
	.page-content-wrapper .page-content {
	    padding: 20px 15px 10px 15px !important;
	}
	.page-sidebar-wrapper{
    	padding-bottom: 10px;

	}

	.fg-doc-log .pull-left{
		width:100%;
	}

	.fg-forum-post .fg-forum-post-right-top,
	.fg-forum-post .fg-forum-post-right-bottom,
	.fg-forum-topic-content-wrapper .fg-forum-post-edit {
		position: relative;
		margin-bottom: 10px;
	}
	.fg-forum-topic-content-wrapper .fg-forum-control-lists{
    	text-align: right;

	}
	.fg-forum-post .fg-forum-control-lists{
		padding: 0;
	}
	.fg-tab-block .fg-nav-tab-border ul > li[name=fg-dev-more-tab] {
    	position: static;
	}
	.fg-tab-block .fg-nav-tab-border ul#paneltab{
		position: relative;
	}
	.fg-action-tab.fg-tab-block {
	    position: static;
	    margin-top: 10px;
	}

    
	.fg-dashboard-static-wrap .fg-dashboard-static-teaser {
		width:100%;
		margin-top:10px;
	}
	.fg-dashboard-static-wrap .fg-dashboard-static-img {
	    margin: auto;
	    display: block;
	    float: none;
	}
	.fg-action-menu-wrapper .fg-action-menu.fg-active-IB{
		vertical-align: top;
	}
	.fg-action-menu-wrapper .fg-active-IB.fg-action-title{

	    max-width: calc(100% - 50px);
	}
	.fg-action-search .fg-input-icon .form-control,
	.fg-search-last-block.fg-action-search.fg-active-IB{
    	width: 100%;
	}
	.fg-search-last-block.fg-action-search.fg-active-IB.col-settings-only{
		width: auto;
	}
	.fg-action-search .fg-input-icon{
		width: 80%;
	    width: calc(100% - 40px);
	}
	.fg-action-search.fg-has-filter .fg-input-icon{

		width: 80%;
	    width: calc(100% - 80px);
	}
	.fg-search-last-block .tableactionright{
		float: right !important;
	}
	.fg-tab-block:before{
		min-width: 100% ;
	}
	.fg-tab-block .fg-nav-tab-border:before{
		display: none;
	}
	.g-recaptcha{
	    transform: scale(0.73);
	    -webkit-transform: scale(0.73);
	    transform-origin: 0 0;
	    -webkit-transform-origin: 0 0;
	}
	.fg-nestable.fg-nestable-no-toggle .fg-nestable-row{

    	height: 75px !important;
	}
	.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .fg-nestable-row{

    	height: auto !important;
	}
   	.fg-nestable.fg-nestable-no-toggle .fg-nestable-row .fg-col-hack .fg-gallery-name,
   	.fg-nestable.fg-nestable-no-toggle .fg-nestable-row .fg-col-hack .fg-gallery-img-count-wrapper{
	    padding: 0 5px;
	    clear: both;
	    float:none;
	    width: 100%;
		
   	}
   	.fg-nestable.fg-nestable-no-toggle .fg-nestable-row .fg-col-hack .fg-gallery-img-count-wrapper{
   		margin: 5px 0;
   	}
   	.fg-nestable.fg-nestable-no-toggle .fg-nestable-row .fg-col-hack{

	    padding-left: 40px;
	    padding-right: 30px;
   	}
   	.fg-gallery-album-settings-wrapper .fg-gallery-album-name{
    	max-width: 85% !important;

   	}
	.fg-create-calendar-appointment .fg-repeat-type-wrapper .col-xs-6,
	.fg-create-calendar-appointment .fg-repeat-type-wrapper .col-xs-6,
	.fg-create-calendar-appointment .fg-rule-weekly .col-xs-6,
	.fg-create-calendar-appointment .fg-rule-monthly .col-xs-6{
		width:100%;
		margin-bottom: 10px;
	}
	.fg-create-calendar-appointment .fg-repeat-until .fg-date{
		float:right;
	}
	.modal-body #gallery_editdesc_form .fg-edit-desc-wrapper{
   	 	padding-right: 15px;
	}
	.fg-news-editorial-editable-list-wrapper  .fg-news-editorial-editable-list-filter .fg-date input {
	    
	    width: 120px;
	    padding-left: 5px;
	}
	.fg-news-editorial-editable-list-filter .first-label{
		float: none;
		display: block;
	}
   	.fg-news-editorial-editable-list-wrapper .fg-news-editorial-editable-list-filter .fg-all-areas{
   		margin-top: 0;
   	}
}

/* =============================================================================
* 10 - max-width:360px
================================================================================ */
@media screen and (max-width:360px){
	#paneltab .dropdown-menu.pull-right {
		
	    left: 0;
	    right: auto;
	}
	.fg-news-overview-wrapper .fg-news-overview-article-list  .footer-list li{
		margin-bottom: 5px;
	}
}

/* =============================================================================
* 11 - max-width:320px
================================================================================ */
@media screen and (max-width: 320px){
	#fg-popup .form-actions{
	    text-align: center;
	}
	#fg-popup .form-actions .btn{

	    display: inline-block;
	}
	#fg-popup .form-actions > .col-sm-12{
		padding:0;
	}
	
}
/* =============================================================================
* 12 - max-width:1300px
================================================================================ */
@media screen and (max-width: 1350px){

.fg-gallery-upload-items .fg-gallery-decription textarea{
	    width: 250px;
	    height: 75px;
	    max-width: 100%;
	}
}

/* =============================================================================
* 13 - min-width:1200px
================================================================================ */
@media screen and (min-width: 1200px){
	.fg-create-calendar-appointment .fg-datetime-wrapper  .fg-datetime-left,
	.fg-create-calendar-appointment .fg-datetime-wrapper  .fg-datetime-right{
		width:45%;
		margin:0;
	}
	.fg-create-calendar-appointment .fg-datetime-wrapper  .fg-datetime-center{
		width:10%;
	}
	.fg-create-calendar-appointment .fg-datetime-wrapper  .fg-datetime-center .fg-text-to{
	    margin: 0;
	    padding: 0;
	}

	.fg-gallery-album-settings-wrapper .dd-list .dd-list .fg-gallery-img-count-wrapper,
	.fg-gallery-album-settings-drag .dd-list .dd-list .fg-gallery-img-count-wrapper{
	    	margin-left: -10px;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-purple .timeline-body {
	    margin: 0 34.5% 15px 0;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-purple .timeline-time{
    	width: 23%;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right .timeline-purple .timeline-icon{
    	right: 27%;
	}
	.fg-news-detail-wrapper .timeline.fg-timeline-right:before{		
    	right: 27.8%;
	}
	.fg-news-editorial-editable-list-wrapper  .col-sm-6 .bootstrap-select,
	.fg-news-editorial-editable-list-wrapper  .col-sm-6 input{
		width:97.2%;
	}
	.fg-news-editorial-editable-list-filter .fg-created-by{
		width:417px;

	}	
	.fg-news-editorial-editable-list-wrapper  .col-sm-6 .fg-created-by  input{
		width: 100%;
	}
}

/* =============================================================================
* 14 - min-width:992px and max-width:1199px
================================================================================ */
@media only screen and (min-width:992px) and (max-width:1199px) {
	.fg-create-calendar-appointment .fg-active-IB.fg-extra-col{
		    margin-left: 18.3%;
	}
}
/* =============================================================================
* 15 - max-width:1100px
================================================================================ */
@media only screen and  (max-width:1100px) {
	.fg-gallery-upload-wrapper .fg-gallery-scope-wrapper [class*='col-md-'],
	.fg-gallery-upload-wrapper .fg-gallery-upload-details [class*='col-md-']{	
		width: auto;	
		display: inline-block;	
		text-align: left;
	}
	.fg-gallery-upload-wrapper .fg-gallery-upload-item .fg-gallery-upload-progress{
		width: 100%;	
		margin:5px 0;
	}
}
/* =============================================================================
* 16 - max-width:1199px
================================================================================ */
@media only screen and  (max-width:1199px) {
	.fg-news-editorial-editable-list-filter .fg-date-bw{
		margin-bottom: 10px;
	}
	.fg-news-editorial-editable-list-filter .fg-date input{
		width:200px;
	}
	.fg-news-overview-wrapper{		
		float: left;
	}
	.fg-news-overview-wrapper .fg-news-overview-article-list section .footer-list{
		float: left;
	}
	.fg-news-overview-wrapper .fg-news-overview-article-list  .footer-list .fa{
		margin-right: 5px;
	}
	.fg-news-overview-wrapper .fg-news-overview-article-list.fg-common-add-item{
		float: left;
		margin-left: 5px !important;
	}
	.fg-news-overview-wrapper .fg-news-overview-article-list.text-only .fg-common-add-item{
		float: left;
		margin-left: 15px !important;
	}

	.fg-news-overview-wrapper{
		float: none;
	}
}


/* =============================================================================
* 17 - min-width:890px and max-width:991px
================================================================================ */
@media only screen and (min-width:890px) and (max-width:991px) {

	body .fg-news-overview-wrapper{		
	    float: left;
	    margin-right: 0;
	    width: 66%;
	}
}

/* =============================================================================
* 18 - min-width:1200px and max-width:1500px
================================================================================ */


@media only screen and (min-width:1200px) and (max-width:1500px) {
	.fg-box-style-01.portlet.box {
    	height: 290px;
	}
	.fg-box-style-01.portlet.box .portlet-body {
	    height: 228px !important;
	}
}