/* 
* 01 - Global overide style
* 02 - Sidebar Style
* 03 - UI element styles
* 04 - Data table style
* 05 - Data table pagination
* 06 - select2  to bootstrap-select
* 07 - Popup Design // modal
* 08 - MY Data
* 09 - Popover
* 10 - Nestable
* 11 - Time Picker
* 12 - Gallery styles

/* =============================================================================
* 01 - Global overide style
========================================================================== */
.navbar-brand.fg-top-logo-internal {
    padding: 10px 15px;
}
/*body{
    background:#fff;
}*/
body.page-footer-fixed {
    padding-bottom: 12px !important;
}
/* =============================================================================
* 02 - Sidebar Style
========================================================================== */

/*always open side bar css start */
.fg-always-open li, .fg-always-open ul.sub-menu {
    display: block !important;
    height: auto !important;
}
.fg-always-open .page-sidebar .page-sidebar-menu .sub-menu{ 
    margin: 0px !important;
    padding: 0 !important;
    overflow: visible !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu{ 
    margin: 0px !important;
}
.fg-always-open .page-sidebar li .arrow,
.fg-always-open .page-sidebar li .subclass .pull-left{

    display: none;
} 
.fg-always-open .page-sidebar .page-sidebar-menu  li > a{
    cursor: default;
}
.fg-always-open .page-sidebar .page-sidebar-menu .sub-menu.sub-page-clickable li > a{
    cursor: pointer;
}
/*always open side bar css  end*/

.page-sidebar-menu li{
    position: relative;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu li{
    margin: 0 !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu  li > a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu li > a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu li > .sub-menu > li > a{
    padding-left: 10px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu li > .sub-menu > li > a.side-right-zro,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu li a.side-right-zro {
    padding-right: 4px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li .title {
    display: inline-block;
    padding-right: 0 ;
    max-width: 82.5%;
    white-space: normal;
    word-break: break-word;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li > a {
    font-weight: 600;
    color: #fff;
    border:0;
    margin-top: 0px !important;;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li > a span.arrow:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li > a span.arrow.open:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li.open > a span.arrow:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li:hover > a span.arrow:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu.sub-menu > li.open > a span.arrow:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu.sub-menu > li.open > a span.arrow.open:before{
    color: #fff !important;
    margin-left: 2px !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu.sub-menu > li > a span.arrow:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu.sub-menu > li > a span.arrow.open:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li.open > a span.arrow.open:before{
    color: #222222 !important;

}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li > a > .arrow:before{
    content: "\f105";
}

.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li > a > .arrow:before{
    content: "\f105";
}


.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li .btngrpdiv {
    position: absolute;
    top: 10px;
    right: 10px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li .btngrpdiv .btn {
    background: none ;
    padding: 0 ;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu{
    background: #dbdbdb;
    border-bottom: 1px solid #bbbbbb;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .fg-no-data-sidebar + .sub-menu{
    border-bottom:0;    
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval ul{
    border-bottom: 0;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li .btngrpdiv .btn .fa-bars {
    color: #fff;
    font-size: 17px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li .btngrpdiv .btn .fa-bars {
    color: #222222;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li .title{
    color: #222222;    
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li.open > .arrow{
    color: #fff;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li {
    background-color: #dbdbdb;
}


.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li {
    border-bottom: none;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li:hover > a, 
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li.open > a {
    background: none !important;
    color: #fff;
}

.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu  li .fg-no-data-sidebar{
    font-weight: 600;
    color: #FFF;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #4d4d4d;
    cursor: default;
}

.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu  li .fg-no-data-sidebar-sub{
    font-size: 14px;
    padding: 5px 10px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu  li span.fg-without-arrow,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li > a > i {
    display: inline-block;
    width: 15px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li > a > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.open > a > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.active > a > i{

    vertical-align: top;
    position: relative;
    top: 3px;
    color:#777777; 
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li.open > a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li:hover > a{

    background: none !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li:hover > a > i{
    color:#777777 !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.active > a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a{

    background: #c70000 !important;
    color: #fff !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.active > a > .title,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a > .title,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.active > a > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li:hover > a > .arrow:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.active > a > .arrow:before{
    color: #fff !important;

}

.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.article-level1-active a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover.active a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover:hover a  {
    background-color: #c70000 !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover.active a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover.active a > span{
    color: #fff !important;    
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li.fg-sidebar-firstlevel-hover:hover > a > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li.article-level1-active > a > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.article-level1-active a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.article-level1-active a .title,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.article-level1-active i
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover:hover a,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover:hover a .title,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover:hover i{
    color: #fff !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li > a > .title {
    margin-left: 2px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li > ul > li > .fg-no-data-sidebar-sub > .fg-without-arrow {
    display: none;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li > ul.bookmarkdown > li.fg-without-arrow > a > i.fg-empty{
    margin-right: 0px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu.side_main_menu > li > ul.firstleval > li > a.fg-no-data-sidebar-sub > i{
    margin-right: -2px;
}

.page-sidebar:not(.fg-page-new-sidebar) .sidebar_options_li .settingsright .btngrpdivsub .btn{
    background: none;
    color: #ccc;
    padding-right: 8px;
}
.page-sidebar:not(.fg-page-new-sidebar) .sidebar_options_li .settingsright .btngrpdivsub .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
    padding: 3px;
    right: 11px;

}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu > li > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border-bottom: 1px solid #4d4d4d;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li > a{
    border-bottom: none;

}

.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew {
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew .fg-sidebar-input{
    width: 81%;

}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew .fa-check,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew .fa-times {
    color: #666;
    font-size: 18px;
    line-height: 27px;
    padding-left: 2px;
    width: 18px;
    cursor: pointer;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew .fa-check:hover {
    color: #35aa47;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew .fa-times:hover {
    color: #c70000;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew ::-webkit-input-placeholder {
    font-style: italic;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew :-moz-placeholder {    
    font-style: italic;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew ::-moz-placeholder {    
    font-style: italic;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew :-ms-input-placeholder {    
    font-style: italic;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .control-aranew :placeholder-shown {   
    font-style: italic;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu  .drpmenu-new a:hover {
    background: #dbdbdb;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .btn-group > ul.dropdown-menu{    
    margin-top: 0;
}
/*-----Sidebar drag and drop styles */
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.fg-sidebar-not-allowed,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.fg-sidebar-not-allowed *{
    cursor: not-allowed !important;

}
.fg-gallery-img-wrapper-drag.fg-helper-no-thumb{
    margin-top:25px; 
    margin-left:80px;
}
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.fg-sidebar-not-allowed:hover > a,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.fg-sidebar-not-allowed:hover,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.fg-sidebar-not-allowed:hover > a{
    background: none !important;
    color: #222 ;

}
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.fg-sidebar-not-allowed:hover > a  > .title,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.fg-sidebar-not-allowed:hover > a  > .title{
    color: #222222 !important;

}
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.fg-sidebar-not-allowed:hover > a  > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.fg-sidebar-not-allowed:hover > a  > i,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li.fg-sidebar-not-allowed:hover > a  > .arrow:before,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.sub-page-clickable > li.fg-sidebar-not-allowed:hover > a  > .arrow:before{

    color: #777777 !important;
}

.page-sidebar:not(.fg-page-new-sidebar) .fg-sidebar-hover{
    background: #c70000!important;  
    color: #fff!important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    cursor: url("/fgcustom/img/closedhand.cur.ico"), move !important;
}

.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .fg-sidebar-hover,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .fg-sidebar-hover:hover,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li:hover > .fg-sidebar-hover,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li:hover > .fg-sidebar-hover{
    background: #c70000 !important;
    color: #fff !important;

}
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .fg-sidebar-hover,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li.open > a.fg-sidebar-hover{
    background: #c70000 !important;

}
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .fg-sidebar-hover *,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .fg-sidebar-hover ~ .btngrpdiv .btn .fa-bars,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li:hover .fg-sidebar-hover *,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li:hover .fg-sidebar-hover ~ .btngrpdiv .btn .fa-bars,
.fg-dev-drag-active .page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li:hover .fg-sidebar-hover > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li:hover > .fg-sidebar-hover > i,
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li:hover > .fg-sidebar-hover > .arrow:before{
    color: #fff !important;

}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu.sub-menu > li > a.fg-sidebar-hover span.arrow::before, 
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu.sub-menu > li > a.fg-sidebar-hover span.arrow.open::before, 
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu.firstleval > li.open > a.fg-sidebar-hover span.arrow.open::before {
    color: #fff !important;
}

.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li > a > i.fa-warning, 
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li > a > .title > i.fa-warning, 
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li:hover > a > .title > i.fa-warning, 
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li > a > .title > i.fa-warning {
    color: #C70000 ;
    margin-left: 2px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover > a{
    font-size: 14px;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu .sub-menu > li.fg-sidebar-firstlevel-hover > a > .title {
    margin-left: 0px;
}
ul.page-sidebar-menu.sub-menu.sub-page-clickable.open1 {
    display: block !important;
}
.page-sidebar:not(.fg-page-new-sidebar) .page-sidebar-menu li > a > .arrow.open1:before{
   content: "\f107";
}
/*.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li.fg-sidebar-thirdlevel.open1 > ul{
    display: block !important;    
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li.fg-sidebar-thirdlevel.open1 > ul{
    display: block !important;    
}*/
/* =============================================================================
* 03 - UI element styles
========================================================================== */

.bootstrap-select.btn-group .dropdown-menu {
    margin-top: -1px;
    left: 0;
    right: auto;
    width: auto;
    overflow-x: hidden;
}
.fg-dotted-br {
    border-bottom: 1px dotted #212121;
    font-style: normal;
}
/* input shadow reset*/
input[type=search],input[type=text],input[type=password],textarea {
  -webkit-appearance: none;
}

/* border radius reset*/

.btn{
    border-radius:0;
}
.fg-border-line .badge, 
.admin-br .badge, 
.data-more-tab .badge, 
.nonmandatory-exclude-count {
    margin-left: 5px;
}
/*Reset Border radius*/
.form-wizard .progress,.fg-message-wrapper .cke_chrome,.popover .popover-title,.popover,.tokenfield .token,span.label.label-sm.fg-badge,.toast,.alert,.dropdown-menu > li > a,.input-group-addon,.fg-autocomplete-parent .fbautocomplete-main-div span,.panel.panel-primary > .panel-heading,.select2-drop,.select2-container-multi .select2-choices .select2-search-choice,.portlet.box,.label,.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span,.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span,.portlet > .portlet-body,.cke_chrome,
.cke_toolgroup,.select2-container-multi .select2-choices,.datepicker td, .datepicker th,.btn,.fg-nestable-row {

    -webkit-border-radius:0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}
.clearfix {
    display: block;
    clear: both;
    float: none;
}
/*reset clearfix*/

.profileContents .portlet.box:after,
.page-breadcrumb.breadcrumb:after,
.fg-upload-div.fg-document-edit-image a:after,
.fg-page-title-block-2:after,
.fg-forum-topic-content-wrapper:after,
.fg-clear:after,
.fg-forum-topic-content-wrapper .fg-forum-post-content p:after,
.fg-nestable-row:after,
.fg-gallery-admin-wrapper ul.fg-gallery-items:after,
.fg-create-calendar-appointment:after,
.page-sidebar .page-sidebar-menu li.fg-new-element-li .control-aranew:after,
.fg-datatable-pagination:after{
    content: '';
    display: block;
    clear: both;
    float: none;
    height: 0;
    width: 0;
}
div .dropdown-menu{    
    font-family: "Open Sans", sans-serif;
}
.radio-list > label.fg-active-IB{
    display: inline-block !important;        
    padding-right: 20px;
}
.dataTable-dragable td.fghover .fg-sort, .fg-sort-drag .fg-sort {
    cursor: url("/fgcustom/img/openhand.cur.ico"), move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
span.btn.default.btn-file {
    margin-right: 5px;
}
.tokenfield .token .close{

    position: relative;
    top: 5px;
    margin-right: 2px;
}
.fg-action-search .fg-input-icon .form-control{
    width:246px;

}
.fg-action-search button{
    margin-left: 3px;
}
.fg-action-search .fg-input-icon{
    right:0;
}
div.popover{
    font-family: 'Open Sans';
}
.fileinput  .btn-file > input {
    width: auto;
    height:auto;
    transform: translate(-300px, 0) scale(4);
}

#toast-container{
    position: fixed !important;
    top: 40px;
}
.g-recaptcha {
    transform: scale(0.992);
    -webkit-transform: scale(0.992);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.page-loading{
    z-index: 99999;
}

span.input-group-addon.cal.filter-log-date {
    width: auto;
}
.fg-news-create-article-wrapper .radio{    
    min-height: 0;
    position: relative;
    top: -2px;
}
body .input-group.datepicker.date.fg-date.fg-active-IB {
    z-index: 1 !important;
}
.radio-block > label{
    cursor: pointer;
}
/* =============================================================================
* 04 - Data table style
========================================================================== */

.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
	border: transparent;
	border-bottom: 1px solid #ddd;
}
div.DTFC_LeftWrapper table.dataTable, 
div.DTFC_RightWrapper table.dataTable {
    border-bottom: 1px solid #ddd !important;
}
div.DTFC_LeftWrapper table.dataTable.no-footer, 
div.DTFC_RightWrapper table.dataTable.no-footer{
    border-bottom:none !important;
}
.dataTable.table > thead > tr > th,
.dataTable.table > tbody > tr > th,
.dataTable.table > tfoot > tr > th, 
.dataTable.table > thead > tr > td, 
.dataTable.table > tbody > tr > td, 
.dataTable.table > tfoot > tr > td {
    white-space: nowrap ;    
    padding: 8px 5px;
}
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>th, 
.table>caption+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>td, 
.table>thead:first-child>tr:first-child>td {
    outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none repeat scroll 0 0 #eeeeee;      
    color: #428bca !important;               
    text-decoration: underline !important;
}
div.DTFC_LeftWrapper table.dataTable {
        /* margin-top: 2px; */
}
div.dataTables_scrollHead{
    border-bottom: 0 !important;    
}
.dataTable thead > tr > th{color:#000}
#fg-personal-datatable .dataTables_scrollHead{
   border-bottom: 1px solid #ddd !important;  
}
.table.table-bordered thead > tr > th{
    border-left:0;
    border-right: 0;
    padding: 5px 18px 5px 5px;
        height: 20px;
}
.DTFC_LeftHeadWrapper thead > tr > th:last-child{
   border-right: 1px solid #dddddd;    
}
.DTFC_LeftBodyWrapper table tbody td:last-child{
   border-right: 1px solid #dddddd;
}
.dataTables_scrollHeadInner table thead th{
    border:0
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    border-bottom: 0!important;
     /* fix for border bottom mozila issue */
    padding-bottom: 1px; 
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.DTFC_ScrollWrapper {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.DTFC_ScrollWrapper table {    
   border-right:0;
    border-left: 0;
}
i.chk_cnt {
    font-weight: normal;
    font-style: normal;
/*    width: 24px;*/
    display: inline-block;
    font-size: 9px;
    top: -1px;
    text-align: left;
    position: relative;
    min-width:16px;
}
.fg-remove-paddingleft {
    padding-left: 0 !important;
}
table.dataTable{
    margin:0
}
table td.fghover {
    background-color: #f5f5f5;
}
.table-bordered>thead>tr>th 
.table-bordered>thead>tr>td{
    height: 35px;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
    vertical-align: middle;
}
.fg-th-wrap {
    display: inline-block;
    width: 40px;
}

.DTFC_ScrollWrapper {
    border: 1px solid #dddddd;
/*    border-botom:0;*/
    
    overflow: hidden;
}

.DTFC_ScrollWrapper .dataTable.table > tbody > tr:last-child > td,
.DTFC_ScrollWrapper .DTFC_LeftBodyLiner .dataTable.table{
    border-bottom:0;
    
}
.DTFC_ScrollWrapper .dataTables_scrollHeadInner table,
.DTFC_ScrollWrapper .DTFC_LeftHeadWrapper table{
    border-top:0;
    border-bottom: 1px solid #ddd !important;
}
/* fixes for message inbox */
.fg-message-table .dataTables_scroll{
    border-bottom: 1px solid #ddd;
}
.fg-loginstatus-table .dataTables_scroll div.dataTables_scrollHead table, 
.fg-message-table .dataTables_wrapper div.dataTables_scrollHead table{
    border-bottom: 1px solid #ddd;
}
.fg-message-table .dataTables_scrollBody tbody tr:first-child > td,
.fg-message-table .dataTables_scrollBody table{
    border-top:0;
    }  
.fg-message-table .dataTables_scrollBody table tr:last-child td,
#forumlisttable_wrapper .dataTables_scrollBody table tr:last-child td,
.dataTables_scrollBody table.fg-no-table-border-bottom tbody tr:last-child td{
    border-bottom: 0;
}
.dataTable .editable-container .popover-content .editable-input input{
    height: 34px;
    padding-left: 5px;
}
.dataTables_wrapper .col-md-12 .dataTables_length {
    display:none;
}

.fg-datatable-no-fixed .dataTables_wrapper .dataTables_scroll{
        border: 1px solid #ddd;
}
.fg-datatable-no-fixed .dataTables_wrapper .dataTables_scroll div.dataTables_scrollHead table,
.fg-datatable-no-fixed .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody table{
    border:0 !important;

}
.table.dataTable th{
    font-size: 14px;
    font-weight: 600;
}
.fg-no-sorting-cb .fg-sort{
    display: none;
}
.fg-no-sorting-cb.fg-td-wrap div.checker{
    margin-left: 0;
}
.fg-th-wrap.fg-no-sorting-cb {
    padding-left: 8px;
}
body table.dataTable{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#document-version-list_wrapper .dataTables_scroll{
    margin-bottom: 0;
}
#datatable-loginstatus_wrapper table.dataTable tbody th, 
#datatable-loginstatus_wrapper table.dataTable tbody td {
    padding: 5px;
}
#datatable-loginstatus_wrapper .fg-no-sorting-cb.fg-td-wrap div.checker{

    margin-left: 5px;
}

#fg-dev-dataTable-receiver_wrapper .dataTables_scrollBody table tr:last-child td{
    border-bottom: 0;
    
}
#fg-dev-dataTable-receiver_wrapper .dataTables_scrollHead {
    border-bottom: 1px solid #ddd !important;
}
th.fg-checkbox-th {
    padding-right: 0px!important;
}
td.fg-checkbox-td {
    padding-left: 5px !important;
}
td.fg-remove-paddingleft,td.fg-remove-paddingleft{padding-left:0px !important}
.table-responsive .table>thead>tr>th{
    border-bottom: 1px solid #ddd;
}
/* =============================================================================
* 05 - dataTables paginate style
========================================================================== */
.dataTables_paginate {
    border: 1px solid #dddddd;
    display: inline-block;
    margin-top: 10px !important;
    padding-top: 0px !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    background:  #eeeeee !important;
    color: #333333;
    cursor: default;
    border:0;
    border-right:1px solid #dddddd;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button {
    border: 0 !important;
    border-right: 1px solid #dddddd !important;
    color: #999999 !important;
    display: inline-block;
    padding: 5px 10px 4px 10px;
    cursor: pointer;
    margin-left: 0;
}

.paging_full_numbers span > span {
    background: none repeat scroll 0 0 #ffffff;
    border-right: 1px solid #dddddd;
    display: inline-block;
    height: 29px;
    left: 0;
    margin-top: -2px;
    overflow: hidden;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    position: relative;
    bottom: -1px;
    vertical-align: bottom;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{   
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
/*    color: #999999 !important;    */
    color: #428bca !important;
}
/* =============================================================================
* 06 - select2  to bootstrap-select
========================================================================== */
.select2-container .select2-choice .select2-arrow b {
    background: none;
}
.select2-container .select2-choice .select2-arrow b:before {
    content: "\f107";
    display: inline-block;
    border: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.select2-container .select2-choice .select2-arrow{
    border-left:0px solid #fff;
    top: 3px;
    width: 20px;
    background: transparent;
    text-align: left;
}
.select2-container .select2-choice > .select2-chosen{
    text-align: left;
}
.bootstrap-select.btn-group .dropdown-menu {
    margin-top: -1px;
    left: 0;
    right: auto;
    width: auto;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 99999 !important;
}
.select2-choice:hover, .select2-choice:focus, 
.select2-choice:active, .select2-choice.active {
    background-color: #f0f0f0;
}
.form-control .select2-choice{
    padding: 3px 0 0 8px;
}
.select2-results{
    padding: 0;
}
.select2-dropdown-open .select2-choice{
    background-color: #efefef;
    border: 1px solid #999999 ;
}
.select2-drop-active {
    border: 1px solid #e5e5e5;
    margin-top: 0;
}
.select2-results{
    margin: 0;
}
.select2-results .select2-highlighted{
    background: none repeat scroll 0 0 #dbdbdb;    
    color: #444;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #e5e5e5 ;
    margin-top: 3px;
}
.select2-dropdown-open.select2-drop-above .select2-choice, 
.select2-dropdown-open.select2-drop-above .select2-choices {
    border-top: 1px solid #999999;    
    border-radius: 0px !important;
}
.select2-results .select2-result-label{
    font-size: 14px;
    padding: 6px 8px;
}
.dropdown-menu.open .dropdown-menu li > a {
    padding: 6px 8px;
    text-indent: 0;
}
.has-error .select2-container .select2-choice, 
.has-error .select2-container .select2-choices{
    border-color: #a94442;
}
.propertyClick, .contactProfileBlk, .federationBlk{
    cursor: pointer;
}
.fg-icon-span {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    padding-left: 5px;
}
.fg-team-doc-link {
    margin-right: 6px;
}
.has-error .bootstrap-select .btn{
    border-color: #a94442;
}
.fg-error-statistics {
    color: #a94442;
    float: left;
    padding-top: 6px;
}
.fg-dev-separator {
  border-bottom: 1px solid #e5e5e5;
}
.bootstrap-select.btn-group>.disabled {
  background: #eeeeee;
}
.bootstrap-select.btn-group>.disabled span.caret {
  background: #eee;
}
.fg-drpmenu-new li {
    margin-left: 10px;
    margin-right: 10px;
}
.fg-drpmenu-new li:first-child {
    margin-left: 0;
    margin-right: 0;
}
.fg-search-last-block .dropdown-menu li a {
    padding: 6px 12px 6px 12px;
}
.fg-search-last-block .dropdown-menu li label{
    display: block;
    float:none !important;
}
.fg-search-last-block .dropdown-menu li select {
    margin-bottom: 5px;
}
.select2-choice:hover, 
.select2-choice:focus, 
.select2-choice:active, 
.select2-choice.active {
    background-color: #f0f0f0;
}
.fg-search-last-block .dropdown-menu li {
    margin-left: 10px;
    margin-right: 10px;
}
.select2-container .select2-choice {
    border-radius: 0;
    background-image: none;
    padding: 2px 5px !important;
    height: 30px;
    border: 1px solid #e5e5e5;
}
.fg-search-last-block .dropdown-menu li:first-child {
    margin-left: 0;
    margin-right: 0;
}

.fg-search-last-block .dropdown-menu li a:hover{
        background-color: #dbdbdb;
}
.dropdown-menu{

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.select2-container-multi .select2-choices {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    background: none;
}

.selectpicker li   dt {
    width:100%;
    text-align: left;
    padding: 6px 5px 6px 10px;
}
.select2-container-multi .select2-choices .select2-search-choice{
    background-color: #ededed;
    border: 1px solid #d9d9d9;
    background-image: none;
    padding: 4px 18px 5px 5px;
    margin-top: 4px;
    color: #666;
    
}
.select2-container-multi .select2-choices  .select2-search-choice-close{
    left:auto;
    right:3px;
}

.select2-results .select2-disabled .select2-result-label{
    cursor: not-allowed;
}
.bootstrap-select .dropdown-menu.open { /*fixes for bootstrap select overflow to header */
  max-height: 220px !important; 
}
.bootstrap-select .dropdown-menu.open .dropdown-menu.inner{
      max-height: 210px !important; 
}
#fg-calendar-appointment .selectpicker li dt, 
#fg-article-create-form .selectpicker li dt {
    padding: 6px 5px 6px 10px;
}
/* =============================================================================
* 07 - Popup Design // modal
========================================================================== */
#fg-popup .modal-content {
    border-radius: 0;
}
.fg-exprt .form-group .control-label {
    padding-top: 0;
}
button.close {
    background: url("../../assets/global/img/remove-icon-small.png");
}

.modal-content{
    border-radius:0;
}
.fg-arrow-sh {
    padding:5px;
    display:none;  
}
.fg-arrow-sh ul{
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 0 10px;
}
.fg-arrow-sh ul li {
    color: #0d638f;
}
.fg-modal-header .fg-minus-icon{
    display: none;
    float: left;
}
.fg-modal-header .fg-plus-icon{
    background-image:url("/fgcustom/img/fg-plus-icon.png");
    background-repeat: no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}
.fg-modal-header .fg-minus-icon{
    background-image:url("/fgcustom/img/fg-minus-icon.png");
    background-repeat: no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}
.fg-arrowicon span .fg-plus-icon {
    display: none;
}
.fg-arrowicon span .fg-minus-icon{
    display: block;
    float: left;
}
.fg-arrowicon .fg-arrow-sh{
    display: block;
    background-color: #f7f7f7;
    margin-top: 8px;
    margin-bottom: 8px;
}
.fg-modal-header .modal-title span{
    width: 22px;
    float: left;
    padding-top: 7px;
    cursor: pointer;
}


.fg-pop-up-search {
    position: relative;
}
.fg-autocomplete-parent .fg-pop-up-search  .fbautocomplete-main-div input[type="text"]{
    padding-left: 28px;

    width: 100%;
}

.fg-pop-up-search  i.fa.fa-search {
    position:absolute;
    color: #ccc;
    font-size: 16px;
    top: 10px;
    left: 25px;
    z-index: 1;
}
.fg-pop-up-no-search .fa-search {
    display: none;
}
.fg-team-modal .fg-pop-up-no-search #nonmemberContacts{
    width:80px;
    float: left;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.fg-team-modal .btn-group.bootstrap-select.show-tick.bs-select{
    width:100%;
}
.fg-modal-language-switch{

    float: right;
    margin: 0px 19px 0px 0;
}
.modal-body #video_upload_form .fg-video-desc{

    resize: none;
    height: 80px;
}
.modal-body #video_upload_form .fg-videoUrl .control-label{
    margin-top: 7px;

}
.modal-body #gallery_editdesc_form .fg-gallery-img-wrapper {
    position: relative;
    height: 100px;
    overflow: hidden;
}
.modal-body #gallery_editdesc_form .fg-gallery-img-wrapper img{
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.modal-body #gallery_editdesc_form .fg-video-edit-desc{
    height: 100px;
    resize:none;
}


.modal-body #gallery_editdesc_form .fg-edit-desc-wrapper{
    padding-right: 40px;
}
.modal .modal-header .close {
    margin-top: 5px;
    margin-right: 3px;
}
.fg-news-radio .radio {
    margin-right: 5px;
    margin-top: -1px;
}
.fg-modal-has-languagebar .fg-modal-title{
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
}
#fg-popup label.fg-label-valign {
    line-height: 28px;
    margin: 5px 0 0 0;
}
/* =============================================================================
* 08 - MY Data
========================================================================== */
/*---nabila CSS ----*/
.fg-contact-data .nav-tabs > li.has-error > a, 
.nav-tabs > li.has-error > a:focus,
.data-more-tab li.has-error > a,
.data-more-tab li.more-has-error > a{
    color: #c70000;
}
/*---nabila CSS ----*/
.data-more-tab .has-error > a .fg-data-error{
    color: #c70000;
}
.nav-tabs .dropdown.open.more-has-error > .dropdown-toggle{
    color: #c70000;    
}

/* =============================================================================
* 09 - Popover
========================================================================== */
.popover .popover-title{

}

.popover {
    background-color: #f5f5f5;
        font-size: 13px;
    font-weight: 400;
    line-height: 20px;
        -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    padding: 0;

}
.popover.bottom {
    margin-top: 16px;    
    z-index: 10000;
}
.popover-content {
    color: #666;
}
.popover >.arrow:after {
  /*  border-right-color: #f7f7f7 !important;*/

}
/* For solve the scrollbar issue in fixedcolumn hide area*/
div.DTFC_LeftBodyLiner{overflow-x:hidden}
/* For change the color */
div .dataTables_wrapper .dataTables_paginate a.paginate_button.disabled,
div .dataTables_wrapper .dataTables_paginate a.paginate_button{
    color:#999 !important;
}

.tooltip-inner {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}
/* =============================================================================
* 10 - Nestable
========================================================================== */
.fg-nestable-row {
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 5px 11px 5px 5px;
    vertical-align: middle;
  zoom: 1; /* ie 6/7 */
}
.fg-nestable-row:before,
.fg-nestable-row:after {
  content: "";
  display: table;
}
.fg-nestable-row:after {
  clear: both;
}
.fg-nestable button.fg-collapse-icon {
 /*   border: 1px solid #333;*/
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
.fg-nestable button.fg-collapse-icon:before {
    font: normal normal normal 14px/1 FontAwesome;
}
.fg-nestable button.fg-collapse-icon[data-action="collapse"]:before {
    content: "\f147";
}
.fg-nestable button.fg-collapse-icon[data-action="expand"]:before {
    content: "\f196";
}
.fg-nestable.fg-nestable-no-toggle .fg-nestable-row{
   /* height:39px;*/
    margin: 2px 0 -3px 0;
    position: relative;
}
.fg-gallery-album-settings-wrapper li.dd-item.row:last-child > .fg-nestable-row {
    margin-bottom: 2px;
}
.fg-gallery-album-settings-wrapper li.dd-item.row:last-child > .dd-list{
    position: relative;
    top: -5px;    
}
.fg-nestable.fg-nestable-no-toggle .dd-list .dd-list li:last-child .fg-nestable-row{
    margin: 2px 0 2px 0;

}
.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .dd-list .dd-list li:last-child .fg-nestable-row{
    margin: 2px  0 -3px 0;

}
.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .fg-nestable-row + .dd-list{

}
.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .dd-list .dd-list .dd-list li .fg-nestable-row {
    margin-top: 2px;
}
.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .dd-list .dd-list .dd-list li:last-child .fg-nestable-row {
    margin-top: 2px;
}
.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle .dd-list .dd-list .dd-list li:first-child .fg-nestable-row {
    margin-top: 4px;
}
.fg-cms-nav-wrapper .fg-nestable.fg-nestable-no-toggle > .dd-list > li:last-child{
    padding-bottom: 10px;
}
.dd-dragel > .dd-item .fg-nestable-row.dd-handle {
    /*height: 39px;*/
    margin-bottom: 5px;
}
.dd-dragel > .dd-item{
    background: #fff;
}
.dd-placeholder {
    background-color: #eeeeee !important;
    border: 1px dashed #e5e5e5 !important;
    border-top: 1px solid #ddd !important;
    margin:  0 !important;
    top: 0px;
}
li.dd-item.row:last-child .dd-placeholder {
    top: 3px;

}
.fg-nestable .fg-nestable-row .fg-col-last-icon i.fa.fa-2x{
    margin-right: -4px;
    display: block;
    margin-top: 1px;

}
.form-group.fg-gallery-album-name.has-error + .fg-gallery-bookmark {
    margin-top: -17px;

}
.form-group.fg-gallery-album-name.has-error  .help-block {
    margin-top: 2px;
}
/* =============================================================================
* 11 - Time Picker
========================================================================== */
body .fg-timepicker{
    top: 35px !important;
    left: 0 !important;
    background: #fff;
}

.fg-timepicker .dtpicker-header,
.fg-timepicker .dtpicker-buttonCont.dtpicker-singleButton{
    display: none;
}
.fg-timepicker .dtpicker-components {
    font-size: 14px;
}
.fg-timepicker .dtpicker-components .dtpicker-compButton{
    font-size: 18px;
}
.fg-timepicker .dtpicker-overlay{
    
    min-width: 150px;
}
.fg-timepicker .dtpicker-content {
    padding: 0;
    max-width: 175px;
}
.fg-timepicker .dtpicker-components{
    margin: 0;
}
.fg-timepicker .dtpicker-components .dtpicker-comp > *{
    
    height: 20px;
    line-height: 25px;
}
.fg-timepicker.fg-timepicker-frmt-1.dtpicker-overlay,
.fg-timepicker.fg-timepicker-frmt-2.dtpicker-overlay,
.fg-timepicker.fg-timepicker-frmt-4.dtpicker-overlay{
    min-width: 0 !important;
}
.fg-timepicker.fg-timepicker-frmt-3.dtpicker-overlay{
    min-width: 115px !important;
}
.dtpicker-components .dtpicker-comp > *{
    color: #333 !important; 
}

/* =============================================================================
* 12 - Gallery styles
========================================================================== */
.fg-gallery-wrapper .ug-tile-icon.ug-button-play.ug-icon-zoom {
  margin: auto !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}
.ug-gallery-wrapper .ug-tiles-preloader{
    background: none !important;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    font-family:FontAwesome;
    font-size: 30px;
    margin: auto !important;
    top: 0px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0px !important;
    height: 30px !important;
    width: 30px !important;
}
.ug-gallery-wrapper .ug-tiles-preloader:after{
    content: "\f1ce";  
    display: block;
    position: relative;
    top: -6px;
    width: 29px;
    height: 29px;
}

.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-play {
    margin: auto !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}