<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-004">
    <div class="row col-md-12">
        <h1>Analyse</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Alle geplanten und eingegangenen Sponsorenzahlungen pro Jahr haben Sie hier im Überblick. Hier können Sie auf einen sehen welche Leistungen in welchem Jahr geplant oder bereits überwiesen wurden. Auf der zweiten Sicht können Sie alle Sponsoren sehen und welche Leistungen sie sponsern.
        <br/> Diese Sichten können Sie auch über das Aktionsmenü <i class="fa fa-bars" style="color:blue" aria-hidden="true"></i> als <i class="fa fa-file-pdf-o" aria-hidden="true" style="color:blue"></i> PDF- oder <i class="fa fa-file-o" aria-hidden="true" style="color:blue"></i> CSV-Datei auf Ihren Rechner speichern..</p>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_spons/SponsorAnalyse.png" class="fg-help-img">
        <div class="fg-help-img-footer">Analyseseite mit Jahresübersicht der Zahlungen</div>
    </div>

</div> <!-- Row end --->