/* -----------------
Stylesheet for CMS related simple pages 
--------------------------------------*/
.fg-inquiry-list-wrapper{
	.fg-dev-form-row-select{
		margin: -10px 0 3px 0;
		width: 230px;

		.dataTables_length{
			>label{
				width: 100%;
			}
		}
	}
}

#fg_dev_memberlist_row_length{
	.dataTables_length{
		label{
			padding: 5px;
			margin: 0;
		}
	}
}
.fg-dev-color-scheme-popup{
	.control-label{
		line-height: normal;
		@include break-hyphens;
	}
}