/* ------------------------------------Pid = 6
CMS image video elements edit page
---------------------------------------------*/
.fg-cms-image-video-edit-wrapper{
  .fg-img-action{
      height: 34px;
      .switch-toggle{
        height: 34px;
        label {
          width:110px;
          line-height: 30px;
        }

      }

  }
  .control-label{
    line-height: 28px;
  }
  .fg-slider-time{
    width:90px;
    vertical-align: middle;
  }

  .fg-cms-map-zoom-spinner{
    width: 140px;
    float: left;
    padding: 0 15px;
    @include bpMax('767px'){
      float: none;
      vertical-align: middle;
    }
    .spinner-input{
      float: left;
      width: 80px;
      background: #fff;
    }
    .spinner-buttons{
      float: left;
      width:25px;
      border: 1px solid #ddd; 
      border-left: 0;  
      .btn {
        background: #fff;
        display: block;
        width: 24px;
        height: 16px;
        margin:0;
        .fa{
          position: relative;
          top:-3px;
        }
      }
      .spinner-up{
        border-bottom: 1px solid #ddd;  
      }
    }
  }
}