/* ------------------------------------Pid = 4
Styles for CMS Page content preview heading
-----------------------------------------------*/

.fg-cms-elements-head-preview-wrapper {
    border: 1px solid $clrbrdrDflt;
    @extend %clearfix;
    .fg-head-block{
    	@extend %clearfix;
	    margin: 20px auto;
	    h2.fg-header-widget{
	    	padding-bottom: 35px;
	    	position: relative;
	    	&:after{
	    		content: '';
	    		display: block;
	    		width:30px;
	    		height: 2px;
	    		background: $clrBluishGreen;
	    		@include position(absolute,auto,0,0,0);
    		    margin: auto;
	    	}
	    }
    }
}