/* -----------------
Stylesheet for CMS Create page ---- */


.fg-cms-create-page-wrapper {
    list-style: none;
    .fg-page-links {
        li {
            font-size: 14px;

            margin-bottom: 10px;
            .fa {
                position: relative;
                top: 1px;
            }
        }
    }
}
