//- Theme base colors

//-  ----------------------------------------------------------------------------------------------------------------------------------------------
//- Theme 1 Colors
//- ---------------------------------------------------------------------------------------------------------------------------------------------- */
//colors
$clrTopLink : rgba(149, 149, 149,1);
$clrTxtPrimary: rgba(42, 42, 42,1);
$clrLink:#547b97;
$clrMenulvl1:#212b40;
$clrMenulvl1Hover:#c2e078;


//backgrouncolors
$bgbtn:#547b97;




//-  ----------------------------------------------------------------------------------------------------------------------------------------------
//- Theme 2 Colors
//- ------------------------------------------------------------------------------------------------------------------------------------------------- */