<html lang="en"class="no-js"><!--<![endif]--><!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Notification Mail Message</title>
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0"name="viewport"/>
    <meta content=""name="description"/>
    <meta content=""name="author"/>

    <link rel="shortcut icon"href="img/favicon.ico"/>
</head>
<!-- BEGIN BODY -->
<body style="background-color:#eee; margin:17px 0 0 46px; font-family: Calibri, Arial, sans-serif">

    <table cellpadding="0"cellspacing="0"border="0"style="width: 560px;max-width: 100%;">

        <style type="text/css">
        @media only screen and (max-width:480px){
            table,tbody,thead,tfoot{width:100%!important;}
            table,thead,tbody,tfoot,th,td,tr{display:block!important;width:100%!important;}
            a{word-break:break-all;}
        }
        </style>

        <thead>
            <tr>
                <td>
                    <span style="padding-bottom:12px;display: inline-block;vertical-align: middle;">
                        <img src="../img/notification-logo.png"/>
                    </span>
                    <span style="display: inline-block;vertical-align: middle;"><h1 style="margin: 0; padding-left: 28px; font-size: 30px; font-weight: 500; margin-top: -4px;">FC Gerzensee</h1></span>
                </td>

            </tr>

        </thead>   
        <tbody style="background-color:#fff; border:1px solid #e1e1e1;">

            <tr>
                <td style="padding:20px; border-bottom:1px solid #e1e1e1;">
                    <p>New conversation between Nafzger Tobiane,Mesut Abplanalp,Wiley Ginger and Tobias Nafzger on http://www.fcgerzensee.ch</p>
                </td>           
            </tr>
            <tr>
                <td style="padding:20px;">
                    <p>Tobias Nafzger on 19.06.2015 13:47</p>
                </td>  
            </tr> <tr>
            <td style="padding-bottom: 20px;  padding-left: 20px;   padding-right: 20px;"><h2 style="margin: 0; font-size: 24px; font-weight: 500;">Test message</h2></td>  </tr>
            <tr><td style="padding-left:20px; padding-right:20px; padding-bottom:20px;border-bottom:1px solid #e1e1e1;"><p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,no sea takimata sanctus est Lorem ipsum dolor sit amet. </p></td>    
            </tr>
            <tr>
                <td style="padding:20px;border-bottom:1px solid #e1e1e1;"><strong>Attachments:</strong>
                    <ul style="margin:0;">
                        <li><a href="#"style="text-decoration: none;">examplefile_1.png</a></li>
                        <li><a href="#"style="text-decoration: none;">examplefile_2.pdf</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="padding:20px;"><a href="#"style="text-decoration: none;">To answer the message,follow this link:<br/>
                    http://www.fcgerzensee.ch/messages/viewconversation/mid/12147/</a></td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div style="padding-top:10px; font-size:12px; display:inline-block;float:left">
                            <a href="#"style="text-decoration: none;">Manage notifications</a>               
                        </div>  
                        <div style="float:right;padding-top:10px; font-size:12px; display:inline-block"> <span>Message system powered by <a href="#"style="text-decoration: none;">Fairgate</a></span></div>         
                    </td>

                </tr> 
            </tfoot>
        </table>

    </body>
    <!-- END BODY -->
    </html>