<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-001">
    <div class="row col-md-12">
        <h1>Übersicht über die Sponsorenverwaltung</h1>
    </div>
</div>
<div class="row col-md-12">
    <h2>Die Sponsorenübersicht</h2>
    <p>In der Übersichtsseite sehen Sie die Liste der Sponsoren (mit zusätzlichen Spalten wenn Sie dies so ausgewählt haben) und links auf der Sidebar die Einteilung dieser Sponsoren sowie die Leistungen Ihres Vereins die Sponsoren unterstützen können. Leistungen können Bannerwerbungen, Tricots, Logos auf Newsletter usw. umfassen.</p>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_spons/Sponsorenliste_AktiveZuweisungen_small.png" class="fg-help-img">
        <div class="fg-help-img-footer">Die Sponsorenliste</div>
    </div>
</div>
<div class="row col-md-12">
    <h3>Sidebar</h3>
    <p>In der Sidebar links haben Sie alle Zuweisungen im Blick, den Akquisitionsstatus, den Kontakttyp sowie alle Leistungen und wieviele Kontakte ihnen zugewiesen sind. Und sie können wie auch in anderen Modulen hier zuoberst Ihre Favoriten im Schnellzugriff halten. Bei den Leistungen sehen Sie auch ob die Leistung vom Leistungstyp Verein ist, Mannschaft <i class="fa fa-users" style="color:blue" aria-hidden="true"></i> oder Kontakt <i class="fa fa-user" style="color:blue" aria-hidden="true"></i>.</p>
</div> <!-- Row end --->

<div class="row col-md-12">
    <div class="well">
        <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch Links</h4>
        <p>
            <a href="http://handbuch.fairgate.ch/692" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i>  Was ist ein Sponsor</a><br/>
        </p>
    </div>
</div>
