<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-005">
    <div class="row col-md-12">
        <h1>Benutzerrechte vergeben</h1>
        <p>Bei jedem Kontakt <i class="fa fa-user" style="color:blue" aria-hidden="true"></i> können Sie der Person spezielle Zugriffs- und Verwaltungsrechte vergeben. Es sind hierbei sehr feine Zuteilungen möglich die von reinen Lesezugriffen bis zum Hauptadministrator alle Module und Gruppen umfassen. Es kann zum Beispiel ein Mitglied als Verwalter der Sponsoren zugewiesen werden der aber zumindest Lesezugriff zu den Kontakten haben muss. Ein Teamleiter dagegen braucht natürlich Zugriff zu seinem Team und soll vielleicht im internen Bereich auch die Gallerie und den Kalender verwalten.</p>
        <div class="fg-help-imgbox FL">
            <img src="/bundles/commonHelp/images/qw_contact/benutzerrechte_vergeben.png" class="fg-help-img">
            <div class="fg-help-img-footer">Benutzerrechte eines Kontaktes</div>
        </div>
        <p>Viele Kombinationen sind möglich, so wie Sie es brauchen. Schliessen Sie die Zuweisung ab mit “Änderungen speichern” oder brechen Sie ab mit “Änderungen verwerfen”.</p>
    </div>
    <div class="row col-md-12">
        <h2>Alle Benutzerrechte im Verein</h2>
        <p>Gerade als Hauptadministrator will man auch den Überblick behalten wer welche Rechte in der Verwaltung oder den Teams und Gruppen hat. Das können Sie hier auf einen Blick einsehen und verwalten.</p>
        </div>
    <div class="row col-md-12">
        <div class="fg-help-imgbox FL">
            <img src="/bundles/commonHelp/images/qw_contact/vereinsmenue_benutzerrechte.png" class="fg-help-img">
            <div class="fg-help-img-footer">Vereinmenü - Benutzerrechte</div>
        </div>
        <p>Zugang über das Vereinsmenü rechts oben in der Menüleiste und dann <code>Benutzerrechte</code> anwählen.</p>

        <div class="fg-help-imgbox FL clear">
            <img src="/bundles/commonHelp/images/qw_contact/benutzerrechte_verwaltung.png" class="fg-help-img">
            <div class="fg-help-img-footer">Benutzerrechte im ganzen Verein</div>
        </div>
        <p class="clear">So sehen Sie alle Personen die Administratoren- oder Leserechte haben.</p>
    </div>

    <div class="row col-md-12">
        <div class="well">
            <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch Links</h4>
            <p><a href="http://handbuch.fairgate.ch/176" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i>  Benutzerrechte</a> </p>
        </div>
    </div>

</div>
