{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends app.request.xmlHttpRequest ? '::ajax-layout.html.twig' : '::clubadmin/layout_login.html.twig' %}
{% set pageTitle = pageTitle %}
{% block logincontent %}
<!-- BEGIN LOGO -->

<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content">
    <h3 class="form-title">{{ pageFormTitle }}</h3>     
    <p>{{ pageFormMsg }}</p>  
    <button type="button" onclick="window.location.href = '{{ path('fos_user_security_login') }}'" id="back-btn" class="btn">
        {% trans %}LOGIN_BACK_LINK{% endtrans %}</button>                
</div>
{% endblock %}