<script type="text/template" id="templateArticleText">
            <%  if(ArticleData.article.text.default.teaser){ %>
                <p class="fg-FS-15">
                <%= ArticleData.article.text.default.teaser %>
                </p>
            <% } %>    
            <%= (ArticleData.article.text[defaultClubLang]) ? ArticleData.article.text[defaultClubLang].text : ArticleData.article.text.default.text %>
</script>