<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-002">
    <div class="row col-md-12">
        <h1>Sponsor erstellen</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Jeder bestehende Kontakt kann durch eine Zuweisung zum Sponsor werden. Dafür rufen Sie aus dem Aktionsmenü <i class="fa fa-bars" style="color:blue" aria-hidden="true"></i> <code>Erstellen</code> auf und wählen dann einen bestehenden Kontakt aus indem Sie den Namen eingeben oder erstellen Sie einen komplett neuen Kontakt der dann als Sponsor erfasst wird. Dies ist besonders interessant wenn Sie Sponsoren haben die nicht Mitglieder sind.</p>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_spons/SponsorErstellen.png" class="fg-help-img">
        <div class="fg-help-img-footer">Sponsor erstellen</div>
    </div>
    <p class="clear">Danach können Sie dem neuen Sponsor Leistungen zuweisen und Zahlungspläne erstellen.</p>
</div> <!-- Row end --->