<div class="modal-footer">
    <button type="button" class="btn default" id="cancelPopup" data-dismiss="modal">{{ 'CANCEL'|trans }}</button> 
    <button type="button" class="btn green" id="removePopup">{{ 'REMOVE_CHANGES'|trans }}</button>        
</div> 