<div class="modal-footer">
    <button type="button" class="btn default" id="cancelPopup" data-dismiss="modal">{{ 'CANCEL'|trans }}</button> 
    <button type="button" class="btn green" id="{% if (button_id is defined) %}{{button_id}}{% else %}savePopup{% endif %}">{% if (button_val is defined) %}{{button_val}}{% else %}{{ 'SAVE_CHANGES'|trans }}{% endif %}</button>        
</div> 