<script type='template' id='tm-config-step2'>
    <% var src = '/fgassets/website/img/' %>
    <% console.log(src); %>
    <% _.each(data, function(datas,val) { %>
    <li data-id="<%-val%>">
        <img src="<%-src+datas.colorSchemes.colorPreviewImage%>" class="fg-thumb">
    </li>
    <% }) %>
</script>