<tr>
    <td style="padding:20px; font-family: Calibri,Arial,sans-serif;">
        <p>{{ salutation }},</p>
    </td>  
</tr>    
<tr>
    <td style="padding-bottom: 20px;  padding-left: 20px;   padding-right: 20px; font-family: Calibri,Arial,sans-serif;">
        {{ 'NOTIFICATION_MAIL_CONTENT'|trans({'%admin_name%': adminName, '%club_name%':clubTitle ,'%link%':""}) }}                                    
        <p style="margin-bottom: 0px;" ><a href="{{ conversationUrl }}">{{ conversationUrl }}</a></p>
    </td>
</tr>