<tr>
    <td style="padding:20px; border-bottom:1px solid #e1e1e1; font-family: Calibri,Arial,sans-serif;">
        <p>{{ notificationMessage }}</p>
    </td>           
</tr>
<tr>
    <td style="padding:20px; font-family: Calibri,Arial,sans-serif;">
        <p>{{ 'NOTIFICATION_MAIL_SENT_ON'|trans({'%admin_name%': adminName, '%sentOn%':sentOn}) }}</p>
    </td>  
</tr>
<tr>
    <td style="padding-bottom: 20px;  padding-left: 20px;   padding-right: 20px; font-family: Calibri,Arial,sans-serif;">    
        <h2 style="margin: 0; font-size: 24px; font-weight: 500;">{{messageTitle}}</h2>
    </td>
</tr>
<tr>
    <td style="padding-left:20px; padding-right:20px; padding-bottom:20px;border-bottom:1px solid #e1e1e1; font-family: Calibri,Arial,sans-serif;">
        <p style="margin-bottom: 0px;" >{{messageContent|raw}}</p></td>    
</tr>