<script type="text/template" id="fg-dev-add-new-calenderadmin"> 
    <div class="row fg-border-line sortables fg-dev-new-contact-div" >
                        
        <div class="col-md-5 col-sm-8 col-xs-8">
            <div class="input-icon"> <i class="fa fa-search"></i>
                <input id="include-role-admin-<%- randomNumber %>" type="text"  class="form-control input-sm dFExclude" placeholder = "{{'CHOOSE_CONTACT'|trans}}"/>
            </div>
        </div>
        <input class="fg-dev-auto-complete-val hide" name ="new-include-role-admin-<%- randomNumber %>" type="text" id="new-include-role-admin-<%- randomNumber %>" value=""/>
         
        <div class="fg-last-icon new_contact_team_right_rmv">
            <div class="closeico">
                <input type="checkbox" class="make-switch" id="select">
                <label for="select"></label>
            </div>
        </div>
    </div> 
</script>
