{% block pagecontent %}
<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu margintp20 dropdowndiv side_main_menu" id="sidemenu_bar">
        <li id="sidebar_options_li" class="sidebar_options_li"></li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->
{% endblock %}
{% block javascripts %}
{% endblock %}