 <div id="fg-context-menu" class="fg-context-area">
    <ul class="dropdown-menu fg-context-xyposition" role="menu">
        <li><a tabindex="-1" href="#" data-type="assign" id="fg-dev-assign-menu"> </a></li>
        <li><a tabindex="-1" href="#" data-type="move" id="fg-dev-move-menu"> </a></li>
    </ul>
</div>
<div id="fg-context-trigger" data-toggle="context"></div>