
    <div class="form-group fg-marg-btm-0">
        <div class="col-sm-8 col-sm-offset-4">
          <input type="submit" class="btn btn-default fg-form-element-submit" value="<%- _.isUndefined(buttonText) ? 'Save': buttonText %>">
        </div>
    </div>
