<div class=" portlet-body form  fg-marg-top-20">
    <div class="form-actions fluid">
        <div class="col-md-offset-0  col-md-12 col-sm-12 col-xs-12 ">
            
           {% if noBackLinkFlag is not defined %}
                <div class="btn-group pull-right">                
                    {% if (settings is not defined) %}
                    <button type="button" class="btn default-ash bckid fg-backbtn-btm" data-auto="back_button_bottom" data-url="{% if (backLink is defined) %} {{backLink}}  {% endif %}"><i class="fa fg-chevron-left"></i> {%trans%}BACK{%endtrans%}</button>
                   
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<span class="fg-bottom-fixed-height"></span>   


