<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-003">
    <div class="row col-md-12">
        <h1>Leistungen erfassen und zuweisen</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Was auch immer Sie in Ihrem Verein per Sponsoren finanzieren müssen können Sie hier als Leistung erfassen. Dies kann Werbung, Mannschaften, Einzelmitglieder (Kontakt), Materialien, Produkte, Projekte und noch mehr umfassen. Sie sind hier völlig frei Leistungskategorien zu erfassen die passen und Leistungen die Sie benötigen.</p>
    <p>Erstellen Sie eine Leistungskategorie mit dem Aktionsmenü <i class="fa fa-bars" style="color:blue" aria-hidden="true"></i> in der Sidebar links. Danach wählen Sie <code>Leistungen verwalten</code> aus dem entsprechenden Kategorienmenü.</p>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_spons/LeistungenVerwalten.png" class="fg-help-img">
        <div class="fg-help-img-footer">Leistungen verwalten in der Sidebar</div>
    </div>
    <p>Fügen Sie eine Leistung hinzu, geben Sie ihr einen Namen, wählen Sie den Leistungstyp aus und ob Sie einen reglmässigen (wiederkehrenden, periodischen), einen einmaligen oder gar keinen Zahlungsplan für die Leistung wünschen.
        <br>Ein jährlicher Team-Gönnerbeitrag wäre z.b. ein regelmässiger Zahlungsplan der für den Typ Mannschaft gilt.</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_spons/LeistungenErstellen.png" class="fg-help-img">
        <div class="fg-help-img-footer">Leistung erstellen/hinzufügen</div>
    </div>
    <p class="clear">Danach können Sie in der Liste “Aller Sponsoren” diejenigen per <i>Drag&Drop</i> den neuen Leistungen zuweisen.</p>

</div> <!-- Row end --->

<div class="row col-md-12">
    <div class="well">
        <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch und Video Links</h4>
        <p>
            <a href="http://handbuch.fairgate.ch/695" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Leistungen</a><br/>
            <a href="https://youtu.be/vHL-9gMKQW4?list=PLgZZagYFKiivGxFZJmS6UH0PYNtwFqnTx" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> QuickTip Video: Dateien hochladen</a>
        </p>
    </div>
</div>
