
/*:::::Fieldarea ::::*/

.fieldArea .popover {
	max-width: 520px;
	width: 520px;
	.popover-content {
		max-width: 520px;
		background: $clrWhite;
		float: left;
		strong {
			float: left;
			&:last-of-type {
				margin-top: 20px;
			}
		}
	}
	.fg-popover-address {
		float: left;
		width: 65%;
		&:last-of-type {
			width: 35%;
			margin-right: 0;
			float: right;
		}
		p {
			float: left;
			width: 100%;
			line-height: 18px;
			margin-bottom: 0;
			&:last-child {
				padding-bottom: 10px;
			}
		}
	}
}


.fieldArea {
	::-webkit-input-placeholder {
		font-style: italic;
	}
	:-moz-placeholder {
		font-style: italic;
		opacity: 1;
	}
	::-moz-placeholder {
		font-style: italic;
		opacity: 1;
	}
	:-ms-input-placeholder {
		font-style: italic;
	}
	:placeholder-shown {
		font-style: italic;
	}
}


.fg-contact-data {
	.data-more-tab {
		.dropdown-menu {
			li {
				> a {
						white-space: normal;
				}
			}
		}
	}
}