.fg-web-theme-02 {
  /*
  Default values
  Background color: rgba(60, 113, 191, 1)
  Navigation / footer background color: rgba(33, 43, 64, 0.65)
  Navigation / footer text color: rgba(255, 255, 255, 1)
  Active menu item color: rgba(194, 224, 120, 1)
  Box background color: rgba(33, 43, 64, 0.5)
  Main text color: rgba(255, 255, 255, 1)
  Link / button color: rgba(247, 147, 30, 1)
  Page title text color: rgba(255, 255, 255, 1)
  Page title shadow color: rgba(0, 0, 0, 0.75)
  Accent color: rgba(0, 146, 69, 1.0)
  
  
  
  */
  /*Background color*/
  background: #3c71bf;
  /*Main text color*/
  color: white;
}
.fg-web-theme-02 ::-webkit-input-placeholder {
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 :-moz-placeholder {
  /* Firefox 18- */
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 ::-moz-placeholder {
  /* Firefox 19+ */
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 :-ms-input-placeholder {
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 .form-control::-webkit-input-placeholder {
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 .form-control:-moz-placeholder {
  /* Firefox 18- */
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 .form-control::-moz-placeholder {
  /* Firefox 19+ */
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 .form-control:-ms-input-placeholder {
  /*Main text color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-02 a:not(.fg-page-close-link) {
  /*Link / button color*/
  color: #f7931e;
}
.fg-web-theme-02 a:not(.fg-page-close-link):hover {
  /*Accent color*/
  color: #009245;
}
.fg-web-theme-02 .btn {
  /*Main text color*/
  color: white;
  /*Link / button color*/
  background-color: #f7931e;
}
.fg-web-theme-02 .btn:hover {
  /*Accent color*/
  background-color: #009245;
}
.fg-web-theme-02 .fg-web-page-title {
  /*Page title text color*/
  color: white;
  /*Page title shadow color*/
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}
.fg-web-theme-02 .fg-web-page-title-bar .fg-icon-bg .fg-icon {
  /*Page title text color opacity 70%*/
  color: rgba(255, 255, 255, 0.7);
}
.fg-web-theme-02 .fg-web-page-title-bar .fg-icon-bg .fg-icon:hover {
  /*Page title text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-top-nav-wrapper {
  /*Navigation / footer background color*/
  background: rgba(33, 43, 64, 0.65);
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-top-nav-wrapper li > a {
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-top-nav-wrapper li > a:hover {
  /* Active menu item  color*/
  color: #c2e078;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-top-nav-languages > .fg-current-language > a {
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-top-nav-languages > .fg-current-language > a:hover {
  /*Navigation / footer text color*/
  color: white;
  /* Active menu item  color*/
  background: #c2e078;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-header-content .fg-navbar-container {
  /*Navigation / footer background color*/
  background: rgba(33, 43, 64, 0.65);
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-header-content .fg-navbar-container .fg-web-main-nav .navbar-nav > li > a {
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-header-content .fg-navbar-container .fg-web-main-nav .navbar-nav li.active > a, .fg-web-theme-02 .fg-web-page-header .fg-web-header-content .fg-navbar-container .fg-web-main-nav .navbar-nav li:hover > a {
  /* Active menu item color*/
  color: #c2e078;
}
.fg-web-theme-02 .fg-web-page-header .fg-web-header-content .fg-navbar-container .fg-web-main-nav .navbar-nav li.active > a:after, .fg-web-theme-02 .fg-web-page-header .fg-web-header-content .fg-navbar-container .fg-web-main-nav .navbar-nav li:hover > a:after {
  /* Active menu item color*/
  background: #c2e078;
}
.fg-web-theme-02 .fg-web-page-header .dropdown-menu {
  /*Box background color with 98% opacity */
  background-color: rgba(33, 43, 64, 0.98);
}
.fg-web-theme-02 .fg-web-page-header .dropdown-menu li a {
  /* Navigation / footer text color*/
  color: white;
  /*Main text color 20% opacity*/
  border-color: rgba(255, 255, 255, 0.2);
}
.fg-web-theme-02 .fg-web-page-header .dropdown-menu li .fg-dropdown-toggle {
  /* Active menu item color*/
  color: #c2e078;
}
.fg-web-theme-02 .fg-web-page-header .dropdown-menu li.active > a, .fg-web-theme-02 .fg-web-page-header .dropdown-menu li:hover > a {
  /* Active menu item color*/
  color: #c2e078 !important;
}
.fg-web-theme-02 .fg-web-page-header .dropdown-menu li.active > .fg-dropdown-toggle, .fg-web-theme-02 .fg-web-page-header .dropdown-menu li:hover > .fg-dropdown-toggle {
  /* Active menu item color*/
  color: #c2e078 !important;
}
.fg-web-theme-02 .fg-web-main-content .fg-web-page-title-bar .fg-web-page-title {
  /*Page title text color*/
  color: white;
  /*Page title shadow color*/
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}
.fg-web-theme-02 .fg-web-main-content .fg-web-page-title-bar .fg-breadcrumbs li {
  /*Page title text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-main-content .fg-web-page-title-bar .fg-breadcrumbs li a {
  /*Page title text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-main-content .fg-web-page-title-bar .fg-breadcrumbs li a:hover {
  /*Accent color*/
  color: #009245;
}
.fg-web-theme-02 .fg-page-nav-wrapper .fg-nav {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-page-nav-wrapper .fg-nav .fg-icon {
  /*Main text color*/
  color: white;
  /*Main text color*/
  border-color: white;
}
.fg-web-theme-02 .fg-page-nav-wrapper .fg-nav .fg-icon:hover {
  /*Main text color*/
  color: white;
  /*Link / button color*/
  background-color: #f7931e;
  /*Link / button color*/
  border-color: #f7931e;
}
.fg-web-theme-02.fg-header-sticky .fg-web-page-header .fg-web-header-content .fg-navbar-container {
  /*Navigation / footer background color*/
  background: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02.fg-header-sticky .fg-web-page-header .fg-web-header-content .fg-navbar-container .fg-web-main-nav {
  /*Navigation / footer background color*/
  background: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-gallery-page-loading {
  /*Main text color*/
  color: white;
  /*Main text color*/
  border-color: white;
}
.fg-web-theme-02 .fg-gallery-page-loading:hover {
  /*Accent color*/
  background: #009245;
  /*Accent color*/
  border-color: #009245;
}
.fg-web-theme-02 .fg-cat-tags .fg-club-tag {
  /* static color no need to convert*/
  color: white !important;
  /* Navigation / footer background color:  opacity 20%*/
  background: rgba(33, 43, 64, 0.65) !important;
}
.fg-web-theme-02 .fg-widget-block:not(.fg-calendar-event-widget):not(.fg-header-widget):not(.fg-form-widget):not(.fg-article-widget):not(.fg-portrait-widget) {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-header-widget h2 {
  /*Page title text color*/
  color: white;
  /*Page title shadow color*/
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}
.fg-web-theme-02 .fg-header-widget h3, .fg-web-theme-02 .fg-header-widget h4:not(.panel-title), .fg-web-theme-02 .fg-header-widget h5, .fg-web-theme-02 .fg-header-widget h6 {
  /*Box background color: */
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-header-widget h2:after, .fg-web-theme-02 .fg-header-widget h3:after {
  /*Accent color*/
  background: #009245;
}
.fg-web-theme-02 .fg-grid-col-1 .fg-article-widget .fg-article-wrapper:nth-child(odd),
.fg-web-theme-02 .fg-grid-col-2 .fg-article-widget .fg-article-wrapper:nth-child(odd) {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-grid-col-1 .fg-article-widget .fg-article-wrapper:nth-child(even),
.fg-web-theme-02 .fg-grid-col-2 .fg-article-widget .fg-article-wrapper:nth-child(even) {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-grid-col-3 .fg-article-widget .fg-article-wrapper:nth-child(odd) .fg-article-inner-content,
.fg-web-theme-02 .fg-grid-col-4 .fg-article-widget .fg-article-wrapper:nth-child(odd) .fg-article-inner-content,
.fg-web-theme-02 .fg-grid-col-5 .fg-article-widget .fg-article-wrapper:nth-child(odd) .fg-article-inner-content,
.fg-web-theme-02 .fg-grid-col-6 .fg-article-widget .fg-article-wrapper:nth-child(odd) .fg-article-inner-content {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-grid-col-3 .fg-article-widget .fg-article-wrapper:nth-child(even) .fg-article-inner-content,
.fg-web-theme-02 .fg-grid-col-4 .fg-article-widget .fg-article-wrapper:nth-child(even) .fg-article-inner-content,
.fg-web-theme-02 .fg-grid-col-5 .fg-article-widget .fg-article-wrapper:nth-child(even) .fg-article-inner-content,
.fg-web-theme-02 .fg-grid-col-6 .fg-article-widget .fg-article-wrapper:nth-child(even) .fg-article-inner-content {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-grid-col-3 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon,
.fg-web-theme-02 .fg-grid-col-4 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon,
.fg-web-theme-02 .fg-grid-col-5 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon,
.fg-web-theme-02 .fg-grid-col-6 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon {
  /*Main text color */
  color: white;
  /*Main text color */
  border-color: white;
}
.fg-web-theme-02 .fg-grid-col-3 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon:hover,
.fg-web-theme-02 .fg-grid-col-4 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon:hover,
.fg-web-theme-02 .fg-grid-col-5 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon:hover,
.fg-web-theme-02 .fg-grid-col-6 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon:hover {
  /*Main text color*/
  color: white;
  /*Link / button color*/
  background-color: #f7931e;
  /*Link / button color*/
  border-color: #f7931e;
}
.fg-web-theme-02 .fg-grid-col-3 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text):hover .fg-icon,
.fg-web-theme-02 .fg-grid-col-4 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text):hover .fg-icon,
.fg-web-theme-02 .fg-grid-col-5 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text):hover .fg-icon,
.fg-web-theme-02 .fg-grid-col-6 .fg-article-widget .fg-article-wrapper .fg-read-more:not(.fg-readmore-text):hover .fg-icon {
  /*Main text color*/
  color: white;
  /*Link / button color*/
  background-color: #f7931e;
  /*Link / button color*/
  border-color: #f7931e;
}
@media only screen and (max-width: 767px) {
  .fg-web-theme-02 .fg-grid-col-3 .fg-article-widget .fg-article-wrapper:nth-child(odd),
  .fg-web-theme-02 .fg-grid-col-4 .fg-article-widget .fg-article-wrapper:nth-child(odd),
  .fg-web-theme-02 .fg-grid-col-5 .fg-article-widget .fg-article-wrapper:nth-child(odd),
  .fg-web-theme-02 .fg-grid-col-6 .fg-article-widget .fg-article-wrapper:nth-child(odd) {
    /*Box background color with opacity current value X 80% */
    background-color: rgba(33, 43, 64, 0.52) !important;
  }
  .fg-web-theme-02 .fg-grid-col-3 .fg-article-widget .fg-article-wrapper:nth-child(even),
  .fg-web-theme-02 .fg-grid-col-4 .fg-article-widget .fg-article-wrapper:nth-child(even),
  .fg-web-theme-02 .fg-grid-col-5 .fg-article-widget .fg-article-wrapper:nth-child(even),
  .fg-web-theme-02 .fg-grid-col-6 .fg-article-widget .fg-article-wrapper:nth-child(even) {
    /*Box background color with opacity current value X 100% */
    background-color: rgba(33, 43, 64, 0.65) !important;
  }
}
.fg-web-theme-02 .fg-contact-table-widget .fg-contact-table-header .fg-btn-grey-icon,
.fg-web-theme-02 .fg-nl-archive-widget .fg-contact-table-header .fg-btn-grey-icon {
  /*Main text color*/
  color: white !important;
  /*Main text color 30% opacity*/
  background: rgba(255, 255, 255, 0.3) !important;
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.fg-web-theme-02 .fg-contact-table-widget .dataTables_scroll td, .fg-web-theme-02 .fg-contact-table-widget .dataTables_scroll th,
.fg-web-theme-02 .fg-nl-archive-widget .dataTables_scroll td,
.fg-web-theme-02 .fg-nl-archive-widget .dataTables_scroll th {
  /*Main text color 20% opacity*/
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.fg-web-theme-02 .fg-contact-table-widget .dataTables_paginate,
.fg-web-theme-02 .fg-nl-archive-widget .dataTables_paginate {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-contact-table-widget .dataTables_paginate a.paginate_button,
.fg-web-theme-02 .fg-nl-archive-widget .dataTables_paginate a.paginate_button {
  /*Main text color */
  color: white !important;
}
.fg-web-theme-02 .fg-contact-table-widget .dataTables_paginate a.paginate_button.disabled,
.fg-web-theme-02 .fg-nl-archive-widget .dataTables_paginate a.paginate_button.disabled {
  /*Main text color 70% opacity*/
  color: rgba(255, 255, 255, 0.7) !important;
}
.fg-web-theme-02 .fg-contact-table-widget .dataTables_paginate a.paginate_button.current, .fg-web-theme-02 .fg-contact-table-widget .dataTables_paginate a.paginate_button:not(.disabled):hover,
.fg-web-theme-02 .fg-nl-archive-widget .dataTables_paginate a.paginate_button.current,
.fg-web-theme-02 .fg-nl-archive-widget .dataTables_paginate a.paginate_button:not(.disabled):hover {
  /* Accent color*/
  color: #009245 !important;
}
.fg-web-theme-02 .fg-form-widget fieldset > legend,
.fg-web-theme-02 .fg-nl-subscription-widget fieldset > legend {
  /*Main text color*/
  color: white;
}
.fg-web-theme-02 .fg-form-widget fieldset:nth-child(odd),
.fg-web-theme-02 .fg-nl-subscription-widget fieldset:nth-child(odd) {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-form-widget fieldset:nth-child(even),
.fg-web-theme-02 .fg-nl-subscription-widget fieldset:nth-child(even) {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-supplementary-widget .panel-group i.fg-arrow {
  /*Link / button color*/
  color: #f7931e;
}
.fg-web-theme-02 .fg-supplementary-widget .panel-group i.fg-arrow:hover {
  /*Accent color*/
  color: #009245;
}
.fg-web-theme-02 .fg-supplementary-widget .panel-group .panel-heading.active {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-supplementary-widget .panel-group .panel-heading.active > .panel-title > a {
  /*Accent color*/
  color: #009245;
}
.fg-web-theme-02 .fg-supplementary-widget .panel-group .panel-heading.active > .panel-title > i.fg-arrow {
  /*Accent color*/
  color: #009245;
}
.fg-web-theme-02 .fg-supplementary-widget .panel-group li.active > a {
  /*Accent color*/
  color: #009245;
}
.fg-web-theme-02 .fg-supplementary-widget .panel-group li.active > i.fg-arrow {
  /*Accent color*/
  color: #009245;
}
.fg-web-theme-02 .fg-calendar-event-widget .fg-event-block {
  /*Main text color*/
  color: white;
}
.fg-web-theme-02 .fg-calendar-event-widget .fg-event-block:nth-child(odd) {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-calendar-event-widget .fg-event-block:nth-child(even) {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-calendar-event-widget .fg-event-block .fg-event-date,
.fg-web-theme-02 .fg-calendar-event-widget .fg-event-block .fg-event-title {
  /*Main text color*/
  color: white;
}
.fg-web-theme-02 .fg-portrait-widget {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-pagination .simple-pagination {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-pagination .simple-pagination li > span, .fg-web-theme-02 .fg-pagination .simple-pagination li > a {
  /*Main text color*/
  color: white;
}
.fg-web-theme-02 .fg-pagination .simple-pagination li > span:hover, .fg-web-theme-02 .fg-pagination .simple-pagination li > a:hover {
  color: #c2e078;
}
.fg-web-theme-02 .fg-pagination .simple-pagination li.active > span, .fg-web-theme-02 .fg-pagination .simple-pagination li.active > a {
  color: #c2e078;
}
.fg-web-theme-02 .dataTables_wrapper .dataTable tr.fg-hover {
  /*Main text color 10% opacity*/
  background: rgba(255, 255, 255, 0.1);
}
.fg-web-theme-02 .form-control, .fg-web-theme-02 textarea, .fg-web-theme-02 input[type="text"] {
  /*Main text color*/
  color: white;
  /*Main text color 10% opacity*/
  background: rgba(255, 255, 255, 0.1);
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .form-group .input-group-btn .icon-span-filestyle {
  /*Main text color*/
  color: white;
}
.fg-web-theme-02 .form-group .input-group-addon {
  /*Main text color*/
  color: white;
  /*Main text color 30% opacity*/
  background: rgba(255, 255, 255, 0.3);
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .form-group .input-group-addon > i {
  /*Main text color*/
  color: white;
}
.fg-web-theme-02 .form-group .fg-upload-btn {
  /*Main text color*/
  color: white !important;
  /*Main text color 30% opacity*/
  background: rgba(255, 255, 255, 0.3) !important;
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.fg-web-theme-02 .fg-input-plus-minus input[type=number], .fg-web-theme-02 .fg-input-plus-minus input[type=text] {
  /*Main text color*/
  color: white;
  /*Main text color 10% opacity*/
  background: rgba(255, 255, 255, 0.1);
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .bootstrap-select .selectpicker.dropdown-toggle {
  /*Main text color*/
  color: white;
  /*Main text color 10% opacity*/
  background: rgba(255, 255, 255, 0.1);
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .bootstrap-select .selectpicker.dropdown-menu a:hover {
  /* Accent  color:  opacity 50% */
  background: rgba(0, 146, 69, 0.5);
}
.fg-web-theme-02 .bootstrap-select .bootstrap-timepicker-widget input[type="text"] {
  /*Navigation / footer background color:  */
  color: #212b40;
}
.fg-web-theme-02 .fg-article-detail-wrapper #article-content .fg-article-contents {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-article-detail-wrapper #article-content .fg-article-details-block-top {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-article-detail-wrapper #article-content .fg-article-details-block-bottom {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-article-detail-wrapper .fg-web-article-comments-wrapper .fg-title {
  /*Page title text color*/
  color: white;
  /*Page title shadow color*/
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}
.fg-web-theme-02 .fg-article-detail-wrapper .fg-web-article-comments-wrapper .fg-title:after {
  /*Accent color*/
  background: #009245;
}
.fg-web-theme-02 .fg-article-detail-wrapper .fg-web-article-comments-wrapper .fg-web-article-comment-block:nth-child(odd) {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-article-detail-wrapper .fg-web-article-comments-wrapper .fg-web-article-comment-block:nth-child(even) {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-web-article-comments-wrapper .fg-web-article-comment-block:nth-child(odd) .fg-article-inner-content {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-web-article-comments-wrapper .fg-web-article-comment-block:nth-child(even) .fg-article-inner-content {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
.fg-web-theme-02 .fg-calendar-special-contents-wrapper #fg-calendar-fullcalendar .fc-toolbar .fc-button-group button {
  /*Main text color*/
  color: white;
  /*Main text color 10% opacity*/
  background: rgba(255, 255, 255, 0.1);
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .fg-calendar-special-contents-wrapper .fg-content {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-calendar-special-contents-wrapper .fg-content .fg-rows {
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li {
  /*Main text color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .fg-calendar-detail-wrapper .fg-article-contents .fg-description {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-gallery-special-page-wrapper .fg-gallery-album-wrapper,
.fg-web-theme-02 .fg-gallery-special-page-wrapper .fg-gallery-photos-wrapper {
  /*Box background color*/
  background-color: rgba(33, 43, 64, 0.5);
}
.fg-web-theme-02 .fg-gallery-album .fg-image:after {
  /*Main text color */
  border-color: transparent transparent white transparent;
}
.fg-web-theme-02 .fg-article-special-contents-wrapper .fg-article-wrapper:nth-child(odd) .fg-article-inner-content {
  /*Box background color with opacity current value X 80% */
  background-color: rgba(33, 43, 64, 0.52);
}
.fg-web-theme-02 .fg-article-special-contents-wrapper .fg-article-wrapper:nth-child(even) .fg-article-inner-content {
  /*Box background color with opacity current value X 100% */
  background-color: rgba(33, 43, 64, 0.65);
}
@media only screen and (max-width: 767px) {
  .fg-web-theme-02 .fg-article-special-contents-wrapper .fg-article-wrapper:nth-child(odd) {
    /*Box background color with opacity current value X 80% */
    background-color: rgba(33, 43, 64, 0.52) !important;
  }
  .fg-web-theme-02 .fg-article-special-contents-wrapper .fg-article-wrapper:nth-child(even) {
    /*Box background color with opacity current value X 100% */
    background-color: rgba(33, 43, 64, 0.65) !important;
  }
}
.fg-web-theme-02 .fg-article-special-contents-wrapper .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon {
  /*Main text color */
  color: white;
  /*Main text color */
  border-color: white;
}
.fg-web-theme-02 .fg-article-special-contents-wrapper .fg-article-wrapper .fg-read-more:not(.fg-readmore-text) .fg-icon:hover {
  /*Main text color*/
  color: white;
  /*Link / button color*/
  background-color: #f7931e;
  /*Link / button color*/
  border-color: #f7931e;
}
.fg-web-theme-02 .fg-article-special-contents-wrapper .fg-article-wrapper .fg-read-more:not(.fg-readmore-text):hover .fg-icon {
  /*Main text color*/
  color: white;
  /*Link / button color*/
  background-color: #f7931e;
  /*Link / button color*/
  border-color: #f7931e;
}
.fg-web-theme-02 .fg-article-inner-content .fg-read-more:hover > i {
  /*Main text color*/
  color: white;
  /*Accent color*/
  background-color: #009245;
  /*Accent color*/
  border-color: #f7931e;
}
.fg-web-theme-02 h2.fg-page-subtitle {
  /*Page title text color*/
  color: white;
  /*Page title shadow color*/
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}
.fg-web-theme-02 h2.fg-page-subtitle:after {
  /*Accent color*/
  background: #009245;
}
.fg-web-theme-02 .fg-web-page-footer {
  /*Navigation / footer background color*/
  background: rgba(33, 43, 64, 0.65);
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-footer .form-control::-webkit-input-placeholder {
  /*Navigation / footer text color 50% opacity */
  color: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-02 .fg-web-page-footer .form-control:-moz-placeholder {
  /* Firefox 18- */
  /*Navigation / footer text color 50% opacity */
  color: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-02 .fg-web-page-footer .form-control::-moz-placeholder {
  /* Firefox 19+ */
  /*Navigation / footer text color 50% opacity */
  color: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-02 .fg-web-page-footer .form-control:-ms-input-placeholder {
  /*Navigation / footer text color 50% opacity */
  color: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-02 .fg-web-page-footer .fg-cat-tags .fg-club-tag {
  /*Background color*/
  color: #3c71bf !important;
  /* background color:  opacity 20%*/
  background: rgba(60, 113, 191, 0.2) !important;
}
.fg-web-theme-02 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block {
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-date,
.fg-web-theme-02 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-title {
  /*Navigation / footer text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .fg-btn-grey-icon,
.fg-web-theme-02 .fg-web-page-footer .fg-nl-archive-widget .fg-contact-table-header .fg-btn-grey-icon {
  /*Navigation / footer text color*/
  color: white !important;
  /*Navigation / footer text  30% opacity*/
  background: rgba(255, 255, 255, 0.3) !important;
  /*Navigation / footer text  color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.fg-web-theme-02 .fg-web-page-footer .fg-contact-table-widget .dataTables_scroll td, .fg-web-theme-02 .fg-web-page-footer .fg-contact-table-widget .dataTables_scroll th,
.fg-web-theme-02 .fg-web-page-footer .fg-nl-archive-widget .dataTables_scroll td,
.fg-web-theme-02 .fg-web-page-footer .fg-nl-archive-widget .dataTables_scroll th {
  /*Navigation / footer text  20% opacity*/
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.fg-web-theme-02 .fg-web-page-footer .fg-contact-table-widget .dataTables_paginate a.paginate_button,
.fg-web-theme-02 .fg-web-page-footer .fg-nl-archive-widget .dataTables_paginate a.paginate_button {
  /*Navigation / footer text */
  color: white !important;
}
.fg-web-theme-02 .fg-web-page-footer .fg-contact-table-widget .dataTables_paginate a.paginate_button.disabled,
.fg-web-theme-02 .fg-web-page-footer .fg-nl-archive-widget .dataTables_paginate a.paginate_button.disabled {
  /*Navigation / footer text  70% opacity*/
  color: rgba(255, 255, 255, 0.7) !important;
}
.fg-web-theme-02 .fg-web-page-footer .form-control, .fg-web-theme-02 .fg-web-page-footer textarea, .fg-web-theme-02 .fg-web-page-footer input[type="text"] {
  /*Navigation / footer text color*/
  color: white;
  /*Navigation / footer text  10% opacity*/
  background: rgba(255, 255, 255, 0.1);
  /*Navigation / footer text  30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .fg-web-page-footer .form-group .input-group-btn .icon-span-filestyle {
  /*Navigation / footer  text color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-footer .form-group .input-group-addon {
  /*Navigation / footer text  color*/
  color: white;
  /*Navigation / footer text  color 30% opacity*/
  background: rgba(255, 255, 255, 0.3);
  /*Navigation / footer text  color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .fg-web-page-footer .form-group .input-group-addon > i {
  /*Navigation / footer text  color*/
  color: white;
}
.fg-web-theme-02 .fg-web-page-footer .form-group .fg-upload-btn {
  /*Navigation / footer text  color*/
  color: white !important;
  /*Navigation / footer text  color 30% opacity*/
  background: rgba(255, 255, 255, 0.3) !important;
  /*Navigation / footer text  color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.fg-web-theme-02 .fg-web-page-footer .fg-input-plus-minus input[type=number], .fg-web-theme-02 .fg-web-page-footer .fg-input-plus-minus input[type=text] {
  /*Navigation / footer text color*/
  color: white;
  /*Navigation / footer text  color 10% opacity*/
  background: rgba(255, 255, 255, 0.1);
  /*Navigation / footer text  color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .fg-web-page-footer .bootstrap-select .selectpicker.dropdown-toggle {
  /*Navigation / footer text  color*/
  color: white;
  /*Navigation / footer text  color 10% opacity*/
  background: rgba(255, 255, 255, 0.1);
  /*Navigation / footer text  color 30% opacity*/
  border-color: rgba(255, 255, 255, 0.3);
}
.fg-web-theme-02 .fg-web-page-footer .bootstrap-select .bootstrap-timepicker-widget input[type="text"] {
  /* Background color  */
  color: #3c71bf;
}
