.fg-web-theme-01 {
  /*background color */
  background: #c0ecff;
  /*inverse color */
  color: #2a2a2a;
}
.fg-web-theme-01 .btn:not(.selectpicker) {
  /*background color */
  color: #c0ecff;
  /*button color */
  background: #547b97;
}
.fg-web-theme-01 .btn:not(.selectpicker):hover {
  /*Highlighting color color */
  background: #245273;
}
.fg-web-theme-01 a {
  /*link color */
  color: #547b97;
}
.fg-web-theme-01 a:hover {
  /*Highlighting color color */
  color: #245273;
}
.fg-web-theme-01 caption {
  /*inverse color */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-login-widget .form-group input {
  /*background color */
  background: #c0ecff;
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.3) !important;
}
.fg-web-theme-01 .form-control::-webkit-input-placeholder {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .form-control:-moz-placeholder {
  /* Firefox 18- */
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .form-control::-moz-placeholder {
  /* Firefox 19+ */
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .form-control:-ms-input-placeholder {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-header {
  /*inverse color 20% opacity */
  border-color: rgba(42, 42, 42, 0.2);
  /*background color */
  background: #c0ecff;
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper {
  /*inverse color 10% opacity */
  border-color: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li a {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li.active > a, .fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li:hover > a {
  /*accent color*/
  color: #c2e078;
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language > a {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language .dropdown-menu li a {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
  /*background color */
  background: #c0ecff;
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language .dropdown-menu li a:hover {
  /*accent color*/
  color: #c2e078;
  /*inverse color 10% opacity */
  background: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language .dropdown-menu li.active > a {
  /*accent color*/
  color: #c2e078;
  /*inverse color 10% opacity */
  background: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language:hover > a, .fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language.active > a {
  /*accent color*/
  color: #c2e078;
  /*inverse color 10% opacity */
  background: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li a {
  /*inverse color*/
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li a:hover {
  /*accent color*/
  color: #c2e078;
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li.active > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li.hover > a {
  /*accent color*/
  color: #c2e078;
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu {
  /*background color 50% opacity */
  /*inverse color*/
  /*---do not convert to dynamic for moment*/
  background: #2c3137;
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li {
  /*background color 50% opacity */
  color: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li a {
  /*background color 50% opacity 
  ---do not convert to dynamic for moment*/
  color: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li a:hover {
  /*accent color*/
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li.active > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li.hover > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li:hover > a {
  /*accent color*/
  color: #c2e078 !important;
  background: #24282d;
}
@media only screen and (max-width: 991px) {
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav {
    /*background color for responsive menu */
    /*
    ---do not convert to dynamic for moment*/
    background: #394048;
  }
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li {
    /*background color 30% opacity */
    /*
    ---do not convert to dynamic for moment*/
    border-color: #404851 !important;
    /*background color */
    /*
    ---do not convert to dynamic for moment*/
    color: #fff;
  }
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li a {
    /*background color */
    /*
    ---do not convert to dynamic for moment*/
    color: #fff;
  }
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li a:hover {
    	/*
    ---do not convert to dynamic for moment*/
    color: #29bfd4;
  }
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li .fg-dropdown-toggle {
    /*---do not convert to dynamic for moment*/
    color: #fff;
  }
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.active > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.hover > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li:hover > a {
    /*accent color*/
    color: #c2e078 !important;
    background: none !important;
  }
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.active > .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.active > .fg-dropdown-toggle, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.hover > .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.hover > .fg-dropdown-toggle, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li:hover > .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li:hover > .fg-dropdown-toggle {
    /*accent color*/
    color: #c2e078 !important;
  }
  .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu {
    /*background color for responsive menu */
    /*
    ---do not convert to dynamic for moment*/
    background: #394048;
    /*background color 30% opacity */
    /*
    ---do not convert to dynamic for moment*/
    border-color: #404851  !important;
  }
}
.fg-web-theme-01 .fg-web-page-title-bar {
  /*inverse color 10% opacity */
  background: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-web-page-container h2 {
  /*inverse color  */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-page-container .fg-calendar-event-widget .fg-event-block .fg-event-title {
  /*inverse color  */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-page-container .fg-calendar-event-widget .fg-event-block .fg-event-date {
  /*inverse color  */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-page-footer {
  /*inverse color  */
  background: #2a2a2a;
  /*background color */
  color: #c0ecff;
}
.fg-web-theme-01 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-title {
  /*background color */
  color: #c0ecff;
}
.fg-web-theme-01 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-date {
  /*background color */
  color: #c0ecff;
}
.fg-web-theme-01 .fg-web-go-top {
  /*background color 20% opacity */
  color: rgba(255, 255, 255, 0.2);
}
.fg-web-theme-01 .fg-calendar-event-widget .fg-event-block {
  /*inverse color  10% opacity */
  border-color: rgba(51, 51, 51, 0.1);
}
.fg-web-theme-01 .fg-article-widget .fg-article-wrapper footer {
  /*inverse color  10% opacity */
  border-color: rgba(51, 51, 51, 0.1);
}
.fg-web-theme-01 .fg-article-widget .fg-article-wrapper footer .fg-cat-tags > span {
  /*accent color*/
  background: #c2e078;
}
.fg-web-theme-01 .fg-header-widget h2:after {
  /*accent color*/
  background: #c2e078;
}
.fg-web-theme-01 .fg-login-widget .fg-back-button {
  color: #727272;
}
.fg-web-theme-01 .fg-supplementary-widget .panel-group {
  /*inverse color  10% */
  border-color: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-supplementary-widget .panel-heading {
  /*background color 50% opacity */
  background: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-01 .fg-supplementary-widget .panel-heading.active {
  /*inverse color  5% */
  background: rgba(42, 42, 42, 0.05);
}
.fg-web-theme-01 .fg-supplementary-widget .panel-body {
  /*background color 50% opacity */
  background: rgba(255, 255, 255, 0.5);
}
.fg-web-theme-01 .fg-supplementary-widget a {
  /*inverse color  */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-supplementary-widget .active > a,
.fg-web-theme-01 .fg-supplementary-widget .active > .fg-arrow,
.fg-web-theme-01 .fg-supplementary-widget a:hover {
  /*accent color*/
  color: #c2e078;
}
.fg-web-theme-01 .fg-supplementary-widget .panel-heading:hover,
.fg-web-theme-01 .fg-supplementary-widget .panel-heading:hover a,
.fg-web-theme-01 .fg-supplementary-widget .panel-heading.active .fg-arrow,
.fg-web-theme-01 .fg-supplementary-widget .panel-heading.active a {
  /*accent color*/
  color: #c2e078;
}
.fg-web-theme-01 .fg-article-detail-wrapper .fg-article-details-block .fg-cat-tags > span.fg-club-tag,
.fg-web-theme-01 .fg-article-special-contents-wrapper .fg-article-content-block .fg-footer .fg-cat-tags > .fg-club-tag {
  /*accent color*/
  background: #c2e078;
}
.fg-web-theme-01 .fg-article-special-contents-wrapper .fg-article-content-block .fg-footer .fg-cat-tags > .fg-cat-tag {
  /*inverse color */
  color: #2a2a2a;
  /*inverse color 20% opacity */
  background: rgba(42, 42, 42, 0.2);
}
.fg-web-theme-01 .fg-article-detail-wrapper .fg-article-details-block,
.fg-web-theme-01 .fg-article-special-contents-wrapper .fg-article-content-block .fg-footer {
  /*inverse color 10% opacity */
  border-color: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li .fg-area-tags > span {
  /*accent color*/
  background: #c2e078;
  /* no dynamic color */
  color: #fff;
}
.fg-web-theme-01 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li {
  /*inverse color 10% opacity */
  border-color: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-gallery-album .fg-image:after {
  /*background color  */
  border-bottom-color: white;
}
.fg-web-theme-01 h2.fg-page-subtitle:after {
  /*accent color*/
  background: #c2e078;
}
.fg-web-theme-01 .fg-web-page-title-bar ::-webkit-input-placeholder {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-title-bar :-moz-placeholder {
  /* Firefox 18- */
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-title-bar ::-moz-placeholder {
  /* Firefox 19+ */
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-title-bar :-ms-input-placeholder {
  /*inverse color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-title-bar input[type="text"], .fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select {
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.3);
  /*background color  */
  background: #c0ecff;
  /*inverse color  */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker {
  /*background color  */
  background: #c0ecff;
  /*inverse color  */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker > li > a {
  /*inverse color  */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker > li > a:hover {
  background: none;
  /*Highlighting color color */
  color: #245273;
}
.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker > li.selected > a {
  background: none;
  /*Highlighting color color */
  color: #245273;
}
.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .dropdown-menu {
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.3);
}
.fg-web-theme-01 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li .fg-cat-tags > span {
  /*inverse color 20% opacity */
  background: rgba(42, 42, 42, 0.2);
}
.fg-web-theme-01 .fg-breadcrumb-block .fg-breadcrumbs li a {
  /*inverse color */
  color: #2a2a2a;
}
.fg-web-theme-01 .fg-web-main-nav-bar .fg-web-nav-icon {
  /*inverse color 10% opacity */
  background: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .form-group .form-control {
  /*background color */
  background: #c0ecff;
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.3) !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-toggle {
  /*background color */
  background: #c0ecff;
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.3) !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-menu {
  /*background color */
  background: #c0ecff;
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.3) !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-menu > li > a {
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-menu > li > a:hover {
  /*background color */
  color: #c0ecff !important;
  /*inverse color 100% opacity */
  background: #2a2a2a !important;
}
.fg-web-theme-01 .bootstrap-select .filter-option {
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-calendar-month-block .fg-content .fg-event-title,
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-calendar-month-block .fg-content .fg-event-title a,
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .popover .fg-calendar-popover .panel-heading .panel-title,
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .popover .fg-calendar-popover .panel-heading .panel-title > a {
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-event-cats .fg-cat {
  /*inverse color 20% opacity */
  background: rgba(42, 42, 42, 0.2);
}
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-calendar-month-block .fg-border-rows > .fg-rows {
  /*inverse color 10% opacity 
  	replace color rgba(42, 42, 42,.1) with variable
  */
  border-color: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-web-article-comments-wrapper .fg-web-article-comment-block .fg-content-wrapper .form-group > input[type='text'],
.fg-web-theme-01 .fg-web-article-comments-wrapper .fg-web-article-comment-block .fg-content-wrapper #comment-text-area_new {
  /*background color */
  background: #c0ecff;
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.3) !important;
}
.fg-web-theme-01 .fg-contact-table-widget .form-control {
  /*background color */
  background-color: #c0ecff;
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .bootstrap-select {
  /*background color */
  background-color: #c0ecff;
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .selectpicker, .fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .dropdown-menu {
  /*background color */
  background-color: #c0ecff;
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .selectpicker li > a, .fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .dropdown-menu li > a {
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .fg-export {
  /*inverse color */
  color: black;
  /*inverse color 10% opacity*/
  background-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled):before {
  /*inverse color 10% opacity*/
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled):after {
  /*inverse color 10% opacity*/
  border-top-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled).sorting_asc:before {
  /*inverse color */
  border-bottom-color: black;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled).sorting_desc:after {
  /*inverse color*/
  border-top-color: black;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable thead th, .fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable thead td {
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable tbody tr.fg-hover {
  /*accent color 10% opacity*/
  background: rgba(0, 225, 255, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable tbody tr td {
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable tbody tr td .fa:not(.fa-star) {
  /*link color */
  color: #547b97;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable tbody tr td .fa:not(.fa-star):hover {
  /*Highlighting color color */
  color: #245273;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder {
  /*inverse color 10% opacity*/
  background-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder .fa {
  /*inverse color*/
  color: black;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable.no-footer {
  /*inverse color 10% opacity*/
  border-color: rgba(0, 225, 255, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr td:first-child:before, .fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr th:first-child:before {
  /*link color */
  color: #547b97;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr.parent td:first-child:before, .fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr.parent th:first-child:before {
  /*Highlighting color color */
  color: #245273;
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_paginate .paginate_button {
  /*inverse color */
  color: black !important;
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_paginate .paginate_button:hover:not(.disabled), .fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_paginate .paginate_button.current, .fg-web-theme-01 .fg-data-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  /*accent color */
  color: #fff !important;
  border-color: #00e1ff;
  background: #00e1ff;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .form-control {
  /*inverse color */
  background-color: #c0ecff;
  /*background color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
  /*background color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .bootstrap-select {
  /*inverse color */
  background-color: #c0ecff;
  /*background color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
  /*background color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .selectpicker, .fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .dropdown-menu {
  /*inverse color */
  background-color: #c0ecff;
  /*background color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
  /*background color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .selectpicker li > a, .fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .dropdown-menu li > a {
  /*background color 100% opacity */
  color: #2a2a2a !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .fg-export {
  /*background color */
  color: black;
  /*background color 10% opacity*/
  background-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .dataTables_wrapper .dataTable tbody tr td {
  /*background color 10% opacity*/
  border-color: rgba(192, 236, 255, 0.1) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder {
  /*background color 10% opacity*/
  background-color: rgba(192, 236, 255, 0.1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder .fa {
  /*background color*/
  color: #c0ecff;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .dataTables_paginate .paginate_button {
  /*background color */
  color: #2a2a2a !important;
  /*background color 10% opacity*/
  border-color: rgba(42, 42, 42, 0.1);
}
.fg-web-theme-01 .fg-portrait-widget .form-control {
  /*background color */
  background: #c0ecff;
  /*inverse color 100% opacity */
  color: #2a2a2a !important;
  /*inverse color 30% opacity */
  border-color: rgba(42, 42, 42, 0.1) !important;
}
.fg-web-theme-01 fieldset {
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 fieldset > legend {
  /*inverse color 10% opacity*/
  background-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-pagination li a, .fg-web-theme-01 .fg-pagination li span {
  /*inverse color */
  color: black !important;
  /*inverse color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-pagination li:not(.disabled) a:hover, .fg-web-theme-01 .fg-pagination li:not(.disabled) a.current, .fg-web-theme-01 .fg-pagination li:not(.disabled) a.current:hover, .fg-web-theme-01 .fg-pagination li:not(.disabled) span:hover, .fg-web-theme-01 .fg-pagination li:not(.disabled) span.current, .fg-web-theme-01 .fg-pagination li:not(.disabled) span.current:hover {
  /*accent color */
  color: #fff !important;
  border-color: #00e1ff;
  background: #00e1ff;
}
.fg-web-theme-01 .fg-web-page-footer .form-control::-webkit-input-placeholder {
  /*background color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-footer .form-control:-moz-placeholder {
  /* Firefox 18- */
  /*background color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-footer .form-control::-moz-placeholder {
  /* Firefox 19+ */
  /*background color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-footer .form-control:-ms-input-placeholder {
  /*background color 50% opacity */
  color: rgba(42, 42, 42, 0.5);
}
.fg-web-theme-01 .fg-web-page-footer .fg-portrait-widget .form-control {
  /*inverse color 100% opacity */
  background: #c0ecff;
  /*background color */
  color: #2a2a2a !important;
  /*background color 30% opacity */
  border-color: rgba(42, 42, 42, 0.1) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-pagination li a, .fg-web-theme-01 .fg-web-page-footer .fg-pagination li span {
  /*background color */
  color: black !important;
  /*background color 10% opacity*/
  border-color: rgba(0, 0, 0, 0.1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-pagination li:not(.disabled) a:hover, .fg-web-theme-01 .fg-web-page-footer .fg-pagination li:not(.disabled) a.current, .fg-web-theme-01 .fg-web-page-footer .fg-pagination li:not(.disabled) a.current:hover, .fg-web-theme-01 .fg-web-page-footer .fg-pagination li:not(.disabled) span:hover, .fg-web-theme-01 .fg-web-page-footer .fg-pagination li:not(.disabled) span.current, .fg-web-theme-01 .fg-web-page-footer .fg-pagination li:not(.disabled) span.current:hover {
  /*accent color */
  color: #fff !important;
  border-color: #00e1ff;
  background: #00e1ff;
}
