@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
/*font-family: 'Lato', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,600);
/*font-family: 'Source Sans Pro', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
/*font-family: 'PT Sans', sans-serif;*/
.fg-web-theme-02 > header *,
.fg-web-theme-02 > main *,
.fg-web-theme-02 > footer *,
.fg-body-ckeditor.fg-web-theme-01 * {
  /* main txt */
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}

.fg-web-theme-02 em {
  font-style: italic !important;
}
.fg-web-theme-02 em * {
  font-style: italic !important;
}
.fg-web-theme-02 strong {
  font-weight: bold !important;
}
.fg-web-theme-02 strong * {
  font-weight: bold !important;
}
.fg-web-theme-02 .fg-calendar-event-widget .fg-event-block .fg-event-title {
  /* main txt */
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}
.fg-web-theme-02 .form-group *:not(.fa) {
  /* main txt */
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}
.fg-web-theme-02 .ug-gallery-wrapper .ug-textpanel-description {
  /* main txt */
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.fg-web-theme-01 .ug-gallery-wrapper {
  /* main txt */
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.fg-web-theme-01 {
  /* heading style override on  other elements */
}
.fg-web-theme-01 header h1, .fg-web-theme-01 header h2, .fg-web-theme-01 header h3, .fg-web-theme-01 header h4, .fg-web-theme-01 header h5, .fg-web-theme-01 header h6, .fg-web-theme-01 main h1, .fg-web-theme-01 main h2, .fg-web-theme-01 main h3, .fg-web-theme-01 main h4, .fg-web-theme-01 main h5, .fg-web-theme-01 main h6, .fg-web-theme-01 footer h1, .fg-web-theme-01 footer h2, .fg-web-theme-01 footer h3, .fg-web-theme-01 footer h4, .fg-web-theme-01 footer h5, .fg-web-theme-01 footer h6 {
  /* heading  txt */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
}
.fg-web-theme-01 .fg-title > .comments-count {
  /* heading  txt */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
}
.fg-web-theme-01 .fg-login-widget .form-group .fg-submit {
  /* heading  txt */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.fg-web-theme-01 .fg-web-main-nav li a {
  /* nav txt */
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.fg-web-theme-01 .fg-web-top-nav-languages .fg-web-language-list * {
  /* nav txt */
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.fg-web-theme-01 .fg-article-widget .fg-article-wrapper .fg-content {
  /*other overide section */
  font-weight: normal;
}

.fg-web-theme-01 .fa {
  /* use same font , do not change just copy and paste */
  font-family: FontAwesome !important;
  font-style: normal;
}

.fg-web-theme-01 .glyphicon:not(.fa) {
  /* use same font , do not change just copy and paste */
  font-family: 'Glyphicons Halflings' !important;
  font-style: normal;
}

.icon-magnifier {
  /* use same font , do not change just copy and paste */
  font-family: 'simple-line-icons' !important;
}

.fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li > .fg-right a,
.fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li > .fg-right span {
  font-weight: lighter;
}
