doctype html
html
  head
    title Bootstrap 101 Template
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='../../assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='../css/fg-web-404.css', rel='stylesheet')

  body
      

        .container-fluid
            .fg-web-coming-soon-wrapper
                figure
                  img(src="../img/comingsoon-logo.jpg")
                h1.fg-page-title A new website is coming soon!
                 Internal area
                a(href='#').fg-read-more
                    i.fa.fa-arrow-circle-right
                    |  Internal area
                    
