extends _helpers/layout.jade

block vars
  - var bodyClass = 'fg-web-theme-01 fg-header-sticky';
block title
    title Article Title

block page-level-header
      link(href='theme-based-styles/theme-01-color-schemes.css', rel='stylesheet', media='screen')
      link(href='theme-based-styles/theme-01-config.css', rel='stylesheet', media='screen')
block header
    .row.fg-web-top-nav-wrapper
        .container
            .FR
                ul.fg-web-top-nav-links.list-inline
                    li
                        a(href='#') FAQ
                    li
                        a(href='#') Contact
                    li
                        a(href='#') Map
                ul.fg-web-top-nav-languages.list-inline
                    li
                        a(href='#') EN
    .row.fg-web-main-nav-bar
        .container
            .fg-logo-wrapper
                a(href='#').fg-logo
                  //img(src="http://www.fauchard.org/system/ckeditor_assets/pictures/101/content_pfa_portrait_logo-300print.jpg")
            .fg-web-nav-icon.visible-xs
                i.fa.fa-bars.fa-3x
            nav.navbar.navbar-default.fg-web-main-nav
                ul.nav.navbar-nav
                    li.active                                    
                        a(href='#') Home     
                    li
                        a(href='#') Club
                    li
                        a(href='#') Teams
                    li
                        a(href='#') News
                    li.dropdown
                        a(href='#')
                            | Photos 
                        span.caret.dropdown-toggle(href='#', data-toggle='dropdown', role='navigation', aria-haspopup='true', aria-expanded='true')
                        ul.dropdown-menu
                            li
                                a(href='#') Second level menu
                            li
                                a(href='#') Second level menu
                            li.dropdown-submenu
                                a(href='#')
                                    | Second level Dropdown Second level Dropdown 
                                span.fg-dropdown-toggle
                                ul.dropdown-menu.fg-web-open-right
                                    li
                                        a(href='#') Third level menu
                                    li
                                        a(href='#') Third level menu

                                    li.dropdown-submenu
                                        a(href='#')
                                            | Third level Dropdown 
                                        span.fg-dropdown-toggle
                                        ul.dropdown-menu.fg-web-open-left
                                            li
                                                a(href='#') Fourth level menu
                                            li
                                                a(href='#') Fourth level menu
                                            li
                                                a(href='#') Fourth level menu
                                            li
                                                a(href='#') Fourth level menu
                                    li
                                        a(href='#') Third level menu
                            li
                                a(href='#') Second level menu
                            li
                                a(href='#') Second level menu
              
                    li
                        a(href='#') Contact
block content
        .row.fg-web-page-title-bar
            .container
                .fg-web-titlebar-left-col.pull-left
                      .fg-titlebar-block.fg-web-page-title-block
                          h1.fg-web-page-title
                            | How to contact us

                .fg-web-titlebar-right-col.pull-right

                      .fg-titlebar-block.fg-icon-bg.fg-page-prev.hidden-xs
                            i.fg-icon

                      .fg-titlebar-block.fg-icon-bg.fg-page-close
                            i.fg-icon

                      .fg-titlebar-block.fg-icon-bg.fg-page-next.hidden-xs
                            i.fg-icon
                .clearfix

        .container
            .row.fg-web-page-container
                .fg-article-detail-wrapper.fg-layout3.row
                    .col-md-9.fg-article-contents
                      .col-sm-3.left-col.pull-left.fg-pad-left-0.fg-marg-btm-10
                        figure.fg-article-thumb-wrapper.fg-marg-btm-10
                          img(src='../../internal/img/news-article-thumb-01.png')
                          figcaption
                        figure.fg-article-thumb-wrapper.fg-marg-btm-10
                          img(src='../../internal/img/news-article-thumb-02.png')
                          figcaption.fg-marg-top-5 Fig.2 - A view of the pulpit rock in Norway.
                      p.fg-FS-15.strong
                        | Martin „Tinu“ Prachar, der erfahrene Abwehr-Spezialist und Kreisläufer des BSV Bern Muri, wechselt zum HSC Suhr Aarau. Er erhält einen Jahresvertrag mit beidseitiger Option.
                      p
                        | Ich freue mich auf Tinu, er wird unser Abwehrzentrum mit seiner Grösse, seiner Kraft und seiner Erfahrung massiv verstärken“, sagt Markus Jud, der Cheftrainer des HSC Suhr Aarau zum Transfer des ambitionierten B-Ligisten, der in der Saison 2015/16 den sofortigen und direkten Wiederaufstieg in die NLA anpeilt.
                      p
                        | Der ehemalige tschechische Nationalspieler (45 Einsätze) Martin Prachar (35) imponiert mit seinem Gardemass von 2.04 Metern und seinem Gewicht von 115 kg. Aber auch mit seiner grossen Routine macht er jede Abwehr zu einem schwer überwindbaren Bollwerk. Seine langjährige Erfahrung holte er sich während vielen Jahren in den höchsten Ligen Tschechiens, Spaniens, Rumäniens, Dänemarks und der Schweiz sowie auch in internationalen Wettbewerben wie der Champions League und dem EHF Cup. Zuletzt war er während vier Saisons beim BSV Bern Muri im Einsatz. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo. Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo.
                      p
                        | Der ehemalige tschechische Nationalspieler (45 Einsätze) Martin Prachar (35) imponiert mit seinem Gardemass von 2.04 Metern und seinem Gewicht von 115 kg. Aber auch mit seiner grossen Routine macht er jede Abwehr zu einem schwer überwindbaren Bollwerk. Seine langjährige Erfahrung holte er sich während vielen Jahren in den höchsten Ligen Tschechiens, Spaniens, Rumäniens, Dänemarks und der Schweiz sowie auch in internationalen Wettbewerben wie der Champions League und dem EHF Cup. Zuletzt war er während vier Saisons beim BSV Bern Muri im Einsatz. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo. Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo.

                    .col-md-3.col-sm-4
                        .fg-article-details-block
                            p By   DANIEL SCHWERI
                            p on 25.07.2013 18:51
                            p.fg-comments-count 
                              strong 4 comments
                            .fg-cat-tags
                                span.fg-club-tag Club
                                span.fg-club-tag Team A
                                br
                                span.fg-cat-tag Top news
                                span.fg-cat-tag Trending
                                span.fg-cat-tag Article
                        .fg-article-details-block
                            h5.fg-title ATTACHMENTS
                            ul.no-style.fg-attachments
                              li
                                a(href='#') document1.docx
                                span.fg-size (120 KB)
                              li
                                a(href='#') document2.docx
                                span.fg-size (620 KB)
                    .clearfix
                    .col-md-12
                      .fg-web-article-comments-wrapper
                          h2.fg-title.text-center COMMENTS (4)
                          ul.fg-web-article-comments-list  
                            li.fg-web-article-comment-block
                                .fg-avatar
                                    img(src="https://placeholdit.imgix.net/~text?txtsize=33&&w=55&h=55")
                                .fg-content-wrapper
                                    .fg-comment-details
                                        p 
                                          strong.fg-author Tobias nafzagar 
                                          | on 25.07.2013 18:51
                                    .fg-comment  
                                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                      p Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.
                            li.fg-web-article-comment-block
                                .fg-avatar
                                    img(src="https://placeholdit.imgix.net/~text?txtsize=33&&w=55&h=55")
                                .fg-content-wrapper
                                    .fg-comment-details
                                        p 
                                          strong.fg-author Tobias nafzagar 
                                          | on 25.07.2013 18:51
                                    .fg-comment  
                                      p Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi purslane collard greens spring onion squash lentil.
                                      p Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.
                            li.fg-web-article-comment-block
                                .fg-avatar
                                    img(src="https://placeholdit.imgix.net/~text?txtsize=33&&w=55&h=55")
                                .fg-content-wrapper
                                    .fg-comment-details
                                        p 
                                          strong.fg-author Tobias nafzagar 
                                          | on 25.07.2013 18:51
                                    .fg-comment  
                                        form.fg-post-new-comment
                                            textarea#editor1.ckeditor(cols='80', name='editor1', rows='10')
                                            .fg-button
                                                  button#singlebutton.btn.btn-primary.fg-submit(name='singlebutton') SUBMIT
                    

block footer
    .container
        .row
            .col-sm-4.fg-grid-col-2
                .fg-header-widget.fg-widget-block
                    h3 VISUAL AND PRACMATIC
                .fg-text-widget.fg-widget-block.fg-dev-element-box
                      span.fg-elementtype-class.hide
                        i.fa.fa-align-left(aria-hidden='true')
                        .fg-text TEXT
                      article.fg-text-widget-wrapper.fg-text-left-img
                        .col-sm-4.fg-thumb
                          figure
                            img(src='http://192.168.0.39:12004/uploads/8762/gallery/width_300/hd.jpg ', alt='')
                            figcaption 6
                        p
                          | All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.
                        .clearfix

            .col-sm-4.fg-grid-col-2
                .fg-header-widget.fg-widget-block
                    h3 VISUAL AND PRACMATIC

            .col-sm-4.fg-grid-col-2
                .fg-header-widget.fg-widget-block
                    h3 VISUAL AND PRACMATIC

                .fg-login-widget.fg-widget-block.fg-dev-element-box.elementBox
                  form.form-horizontal
                    .form-group.fg-input-box-left
                      input.form-control.input-md(name='dummyText', type='text', placeholder='E-mail address')
                    .form-group.fg-input-box-right
                      input.form-control.input-md(name='dummyPwd', placeholder='Password')
                    .form-group.fg-button-block
                      .fg-checkbox
                        label.radio-inline(for='loggedIn')
                          input#loggedIn(type='checkbox', name='loggedIn', value='1').uniform
                          | Keep me logged in.
                      .fg-button
                        button#singlebutton.btn.btn-primary.fg-submit(name='singlebutton') Login
                      .clearfix
                    .fg-footer-block
                      .fg-first
                        h4 First time login?
                        p
                          a#forget-password(href='#') Click here
                          |                     and active your account
                      .fg-last
                        h4 Lost password?
                        p
                          a#forget-password(href='#') Click here
                          |                      to reset


block after-footer
    a(href='#').fg-web-go-top
        i.fa.fa-arrow-circle-up
    span.helper asd
    .fg-web-bg-wrapper
        //-.fg-web-bg(style="background-image:url('http://www.sambeauvois.be/blog/wp-content/uploads/2010/06/bg.gif');z-index:1;")
        //- .fg-web-bg.fg-web-bg-no-repeat.fg-web-pos-left(style="background-image:url('http://www.sambeauvois.be/blog/wp-content/uploads/2010/06/bg.gif');z-index:2;")
        //- .fg-web-bg.fg-web-bg-no-repeat.fg-web-pos-right(style="background-image:url('http://school.esanpt1.go.th/wwk/VDO/images/BG-Top.gif');z-index:3;")
        //-  .fg-web-bg.fg-web-bg-no-repeat.fg-web-pos-center.fg-web-pos-middle(style="background-image:url('http://media.treehugger.com/assets/images/2016/04/tracy-johnson-hummingbirds-1.jpg.662x0_q70_crop-scale.jpg');z-index:4;")
        //-   .fg-web-bg.fg-web-bg-no-repeat.fg-web-pos-left.fg-web-pos-bottom(style="background-image:url('http://www.tipsquirrel.com/wp-content/uploads/2011/06/Background-small.jpg');z-index:5;") 
        .fg-web-bg(style="background-image:url('http://www.easyfreepatterns.com/patterns/238/this-light-yellow-background-pattern-consists-of-an-irregular--238266.jpg');z-index:6;")


    .fg-web-promobox-wrapper
        .fg-web-promobox-header
          .fg-web-promobox-caption
            | Advertisment


        .fg-web-promobox-body
            .fg-web-promobox-content
                h2.fg-web-promo-title Fairgate Verhuls
                p Clicking on any of the buttons will let the box disappear completely on xs screens (use some slide-to-bottom animation), and replaced by a narrow tab on larger screens (use a slide-to-left animation). Only this will be replaced also after reloading the page, thus the state needs to be stored in a cookie.
        .fg-web-promobox-footer
            a(href='#').btn.fg-btn-link(type='button') MEHR INFO
            a(href='#').btn.fg-btn-remove.fg-web-promo-toggle-btn(type='button',data-action="close") Don't display anymore
        .fg-web-promo-drawer-wrapper.fg-web-promo-toggle-btn(data-action="open")
            | Fairgate
            i.fa.fa-angle-double-down.fg-arrow



block page-level-footer
    script(src='../../assets/global/plugins/ckeditor/ckeditor.js')
    script.
      jQuery(document).ready(function () {
        CKEDITOR.editorConfig = function( config ) {
        config.toolbarGroups = [
          { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
          { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
          { name: 'links', groups: [ 'links' ] },
          { name: 'insert', groups: [ 'insert' ] },
          { name: 'tools', groups: [ 'tools' ] },
          { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
          { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
          { name: 'forms', groups: [ 'forms' ] },
          { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
          { name: 'others', groups: [ 'others' ] },
          '/',
          { name: 'styles', groups: [ 'styles' ] },
          { name: 'colors', groups: [ 'colors' ] },
          { name: 'about', groups: [ 'about' ] }
        ];

        config.removeButtons = 'Subscript,Superscript,Strike,Outdent,Cut,Undo,Scayt,Anchor,HorizontalRule,SpecialChar,Table,Source,Indent,Blockquote,Copy,Paste,PasteText,PasteFromWord,Redo';
      };
      });

      $(window).load(function(){
          //function for responsive nav open
          $('.fg-web-nav-icon').click(function(){
              if($('body').hasClass('fg-navbar-open')){
                    $('body').removeClass('fg-navbar-open');
                    $('.fg-web-main-nav').animate({
                          'min-height':0
                    },350);

              }else{
                  var ulHeight = $('.fg-web-main-nav > .navbar-nav').outerHeight();
                  $('.fg-web-main-nav').animate({
                        'min-height':ulHeight
                  },350,function(){
                        $('body').addClass('fg-navbar-open');
                  });
              }
                
          });
           //function for responsive nav submenu open
          $('.dropdown-submenu .fg-dropdown-toggle').on("click", function(e){
            if($(window).width()<768){
                $(this).parent('li').toggleClass('open'); 
                $(this).toggleClass('open');  
                e.stopPropagation();
                e.preventDefault();
            }
          });


          //function for fixing menubar overflow to viewport
              $(".fg-web-main-nav .dropdown,.fg-web-main-nav .dropdown-submenu").on('mouseenter mouseleave tap', function (e) {
                  
                  if ($(this).children('ul').length) {
                        var elm = $(this).children('ul');
                        var off = elm.offset();
                        var l = off.left;
                        var w = elm.width();
                        var docH = $(window).height();
                        var docW = $(window).width();
                        var isEntirelyVisible = (l + w <= docW);
                        console.log(elm)
                        if (!isEntirelyVisible) {
                            
                            elm.removeClass('fg-web-open-right').addClass('fg-web-open-left');

                        } else {

                           // $(this).removeClass('edge');
                        }
                  }
              });
        /* 
        * Promo box relate script
        */
        $('.fg-web-promobox-wrapper').addClass('open');

        $('.fg-web-promo-toggle-btn').click(function(e){
            e.stopPropagation();
            var action = $(this).attr('data-action');
            console.log(action)
            if(action == 'close'){
                console.log('a')
                $('.fg-web-promobox-wrapper').removeClass('open');
            }else {
                console.log('b')
                $('.fg-web-promobox-wrapper').addClass('open');
            }
              
        })
      });