//-  ----------------------------------------------------------------------------------------------------------------------------------------------
//- Theme 1 Color schemes
//- ------------------------------------------------------------------------------------------------------------------------------------------------ */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
/*font-family: 'Lato', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,600);
/*font-family: 'Source Sans Pro', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
/*font-family: 'PT Sans', sans-serif;*/
.fg-web-theme-02  >header *,
.fg-web-theme-02  >main *,
.fg-web-theme-02  >footer *,
.fg-body-ckeditor.fg-web-theme-01 *{
		//-----------------------------------------------------------------
		//-Main text style related elements
		//-------------------------------------------------------------------*/
		/* main txt */
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
}
.fg-web-theme-02{

		em {

			font-style: italic !important;
			*{
				font-style: italic !important;
			}
			
		}
		strong {
			font-weight: bold !important;
			*{
				font-weight: bold !important;
			}
			
		}
	//- main text style override on  other elements */
	.fg-calendar-event-widget .fg-event-block .fg-event-title{
		/* main txt */
		font-family: 'Lato', sans-serif;
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
	}
	.form-group *:not(.fa){
		/* main txt */	
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
	}
	.ug-gallery-wrapper .ug-textpanel-description{
		/* main txt */
		font-family: 'Lato', sans-serif;
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
	}

}
.fg-web-theme-01{
	.ug-gallery-wrapper{
		/* main txt */
		font-family: 'Lato', sans-serif;
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
	}
}
//-----------------------------------------------------------------
//-header section 
//--------------------------------------------------------------------*/
.fg-web-theme-01{
	
	header,main,footer{
		
		h1,h2,h3,h4,h5,h6{
			/* heading  txt */
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: bold;
			font-style: italic;
			margin-top: 0;
		}
	}
	.fg-title > .comments-count{

		/* heading  txt */
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		font-style: italic;
		margin-top: 0;
	}
	/* heading style override on  other elements */
	.fg-login-widget .form-group .fg-submit{
		/* heading  txt */
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bold;
		font-style: italic;
	}
}
//-/*----------------------------------------------------------------
//-nav sectionstyle related elements
//--------------------------------------------------------------------*/
.fg-web-theme-01{
	.fg-web-main-nav li a{
		/* nav txt */
		font-family: 'PT Sans', sans-serif;
		text-transform: uppercase;
	}
	.fg-web-top-nav-languages .fg-web-language-list *{
		/* nav txt */
		font-family: 'PT Sans', sans-serif;
		text-transform: uppercase;
	}
}
.fg-web-theme-01{
	
	.fg-article-widget .fg-article-wrapper .fg-content{
		/*other overide section */
		font-weight: normal;
	}

}
.fg-web-theme-01 .fa{

	/* use same font , do not change just copy and paste */
	font-family:  FontAwesome !important;
	font-style: normal;
}
.fg-web-theme-01 .glyphicon:not(.fa) {
/* use same font , do not change just copy and paste */
  font-family: 'Glyphicons Halflings' !important;
  font-style: normal;
}
.icon-magnifier{
	/* use same font , do not change just copy and paste */
	font-family: 'simple-line-icons' !important;
}

//-/*----------------------------------------------------------------
//-Calendar pages font configuration 
//--------------------------------------------------------------------*/
.fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li > .fg-right a,
.fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li > .fg-right span{
	font-weight: lighter;
}