<div id="gc-legalterms" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{'GN_SETTINGS_GOTCOURT_API_LEGAL_TERMS_HEADER'|trans}}</h4>
            </div>
            <div class="modal-body">
                  <div class="fg-block">
                    <h2 class="fg-title">Allgemeine Geschäftsbedingungen von Fairgate AG</h2>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>1  </span>Geltungsbereich, Annahme und Änderung der Allgemeinen Geschäftsbedingungen</h3>
                      <p>Diese Allgemeinen Geschäftsbedingungen regeln das Rechtverhältnis zwischen Fairgate AG (nachfolgend „Fairgate“ genannt) und dem Kunden, welcher die Software von Fairgate nutzt.</p>
                      <p>Mit der Bestellung der Software akzeptiert der Kunde die vorliegenden Allgemeinen Geschäftsbedingungen. Die Software von Fairgate darf vom Kunden nicht benutzt werden, wenn er mit den vorliegenden Allgemeinen Geschäftsbedingungen nicht einverstanden ist.</p>
                      <p>Fairgate behält sich die jederzeitige Änderung dieser Allgemeinen Geschäftsbedingungen vor. Die neuen Allgemeinen Geschäftsbedingungen werden dem Kunden schriftlich oder in anderer geeigneter Weise bekannt gegeben. Erfolgt innert 20 Tagen kein Widerspruch, gelten die neuen Allgemeinen Geschäftsbedingungen als vom Kunden akzeptiert.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>2 </span>Vertragsgegenstand</h3>
                      <ul>
                        <li>
                          <h4 class="fg-title"><span>2.1 </span>Nutzung der Software</h4>
                          <p>Fairgate stellt über seinen Server die Nutzung von Software (Basis- und Zusatzmodule) für die Administration von Vereinen oder Verbänden zur Verfügung. Der Leistungsumfang der Software ist auf der Webseite www.fairgate.ch zu entnehmen.</p>
                          <p>Fairgate erteilt dem Kunden für die Dauer dieses Vertrages das nicht übertragbare Recht, die auf ihrem Server betriebene Software über eine Telekommunikationsverbindung zu nutzen.</p>
                          <p>Soweit Fairgate dem Kunden Drittsoftware, d.h. von Dritten erstellte Software zur Nutzung überlässt, sind die dem Kunden eingeräumten Nutzungsrechte dem Umfang nach auf die Nutzungsrechte beschränkt, welcher der Dritte Fairgate eingeräumt hat.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>2.2 </span>Aktualisierungen und Änderungen der Software</h4>
                          <p>Der Kunde ist zur Nutzung der jeweils aktuellsten Version der Software verpflichtet. Ein Anspruch des Kunden auf die Nutzung einer bestimmten Version der Software besteht nicht.</p>
                          <p>Fairgate ist berechtigt, die Software oder Teile davon jederzeit mit oder ohne vorherige Mitteilung an den Kunden zu ändern.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>2.3 </span>Systemvoraussetzungen</h4>
                          <p>Zur Benutzung der Fairgate Dienstleistung sind ein kompatibles Gerät, ein aktueller Browser und Internetzugang erforderlich. Aktueller Browser: Internet Explorer 8 oder höher sowie aktuellste Versionen von Firefox, Chrome oder Safari. Internetzugang: Breitbandinternet.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>2.4 </span>Verfügbarkeit</h4>
                          <p>Fairgate legt äusserst grossen Wert auf eine sehr hohe Zuverlässigkeit und ist bestrebt, im Rahmen ihrer zur Verfügung stehenden betrieblichen und technischen Ressourcen eine hohe störungsfreie Verfügbarkeit der Software zu gewährleisten. Fairgate kann jedoch nicht ausschliessen, dass der Zugang zum Server aufgrund technischer Probleme kurzfristig unmöglich oder gestört sein kann. Fairgate behält sich vor, jederzeit Unterhaltsarbeiten am Server auszuführen, die zu Betriebsunterbrüchen führen können. Für diese Zeit der Unterbrechung oder Beeinträchtigung der Erreichbarkeit hat der Kunde keinen Anspruch auf Rückerstattung seines Entgeltes oder auf Ersatz allfällig dadurch entstehenden Schadens.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>2.5 </span>Sicherheit</h4>
                          <p>Fairgate ergreift geeignete, wirtschaftlich zumutbare Massnahmen, um den Server gegen nicht autorisierte Zugriffe oder Angriffe wie Phishing, DoS-Attacking, Hacking oder Malware, Computerviren etc. nach dem aktuellen technischen Stand zu schützen. Fairgate übernimmt jedoch keine Gewährleistung für einen Schutz gegen nicht autorisierte Fremdeingriffe.</p>
                        </li>
                      </ul>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>3 </span>Pflichten des Kunden</h3>
                      <ul>
                        <li>
                          <h4 class="fg-title"><span>3.1  </span>Pflichten bei der Anmeldung</h4>
                          <p>Der Kunde bestätigt, dass die beim Registrationsprozess abgegebenen oder später geänderten Informationen der Wahrheit entsprechen. Der Kunde verpflichtet sich, diese Informationen während der Laufzeit des Vertrages auf dem aktuellsten Stand zu halten.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>3.2 </span>Vertragsgemässe Nutzung</h4>
                          <p>Der Kunde ist zur vertragsgemässen Nutzung der Software verpflichtet. Er ist zudem dafür verantwortlich, dass bei der Nutzung der Software die anwendbaren gesetzlichen Bestimmungen und allfällige Nutzungsvorschriften Dritter eingehalten werden.</p>
                        </li>
                        <li>	
                          <h4 class="fg-title"><span>3.3  </span>Beachtung der gesetzlichen Bestimmungen und der Nutzungsvorschriften Dritter</h4>
                          <p>Der Kunde ist dafür verantwortlich, dass bei der Nutzung der Software die anwendbaren gesetzlichen Bestimmungen eingehalten werden.</p>
                          <p>Bestimmte Komponenten oder Funktionen der Software, die von Fairgate bereitgestellt werden, unterliegen möglicherweise separaten Software- bzw. Lizenzvereinbarungen oder Nutzungsbedingungen. Der Kunde ist dafür verantwortlich, dass bei der Nutzung dieser Komponenten oder Funktionen die entsprechenden anwendbaren Vereinbarungen oder Bedingungen eingehalten werden.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>3.4 </span>Inhalt der Daten</h4>
                          <p>Der Kunde ist für den Inhalt sämtlicher von ihm auf den Server von Fairgate übermittelten und dort abgelegten Daten oder Links verantwortlich. Der Kunde verpflichtet sich, keine rechts- oder sittenwidrigen Daten oder Links auf den Server von Fairgate zu übermitteln oder dort abzulegen.</p>
                          <p>Fairgate ist für den Inhalt der vom Kunden übermittelten und abgelegten Daten in keiner Weise verantwortlich oder haftbar und ist nicht verpflichtet, den Inhalt dieser Daten zu prüfen. Fairgate behält sich jedoch das Recht vor, jederzeit zu prüfen, ob der Inhalt dieser Daten rechts- und vertragskonform ist. Fairgate ist berechtigt, jederzeit und ohne vorherige Ankündigung die Nutzung der Software zu unterbinden, wenn der Inhalt dieser Daten gegen gesetzliche Bestimmungen oder gegen diese Allgemeinen Geschäfts­bedingungen verstösst, ohne dass hieraus eine Haftungs- oder Entschädigungspflicht für Fairgate erwächst.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>3.5  </span>Sicherheit</h4>
                          <p>Der Registrationsprozess erfordert die Eingabe einer Nutzeridentifikation und eines Passwortes. Nutzeridentifikationen und Passwörter sind vom Kunden geheim zu halten und vor unberechtigtem Zugriff Dritter zu schützen.Der Kunde hat dafür zu sorgen, dass er ein sicheres Passwort wählt.</p>
                          <p>Der Kunde trifft alle notwendigen und zumutbaren Massnahmen um zu verhindern, dass bei der Übermittlung oder Speicherung von Daten auf dem Server von Fairgate Viren etc. verbreitet werden.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>3.6 </span>Datensicherung</h4>
                          <p>Der Kunde trägt die alleinige Verantwortung dafür, dass alle wichtigen Daten, welche der Kunde auf dem Server von Fairgate ablegt oder auf die der Kunde über den Server von Fairgate zugreift, auf seinem Computer oder auf einem anderen Massenspeichergerät gesichert werden.</p>
                          <p> Fairgate übernimmt keine Gewährleistung oder Haftung für die Beschädigung oder den Verlust von auf dem Server von Fairgate abgelegten Daten.</p>
                        </li>
                      </ul>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>4 </span>Leistungen des Kunden</h3>
                      <p>Der Kunde verpflichtet sich, Fairgate oder seinen Partnern die nachfolgenden Werbe­flächen zum freien Gebrauch zur Verfügung zu stellen, sofern die entsprechenden Zusatzmodule bestellt werden:</p>
                      <ol>
                        <li>–   eine Werbefläche in Form eines Artikels im Newsletter und</li>
                        <li>–   eine Werbefläche in Form eines Rectangle (300x250 Pixel) auf der Startseite der Webpräsenz.</li>
                      </ol>
                      <p>Der Kunde hat das Recht, jederzeit online eine Branchensperre zu definieren. In diesem Fall ist es Fairgate oder seinen Partnern untersagt, auf den vorerwähnten Werbeflächen irgendwelche Werbung im Bereich dieser Branche zu publizieren.</p>
                      <p>Sodann ist Fairgate berechtigt, auf der Webseite und den Newslettern des Kunden einen Link zur Webseite von Fairgate zu platzieren.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>5 </span>Datenschutz</h3>
                      <p>Verarbeitet der Kunde im Rahmen dieses Vertragsverhältnisses personenbezogene Daten, so ist er für die Einhaltung der datenschutzrechtlichen Vorschriften verantwortlich. Fairgate wird die vom Kunden übermittelten Daten nur im Rahmen der Weisungen des Kunden verarbeiten.</p>
                      <p>Der Kunde hat davon Kenntnis, dass Fairgate aus technischen Gründen sämtliche Daten jederzeit einsehen kann.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>6 </span>Geheimhaltung</h3>
                      <p>Jede Partei verpflichtet sich, vertrauliche Informationen, Dokumente und Daten, die ihr während der Zusammenarbeit zur Kenntnis gelangen, strikte geheim zu halten, d.h. Unbefugten nicht zugänglich zu machen und vor unerlaubtem Zugriff zu schützen.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>7 </span>Nutzungsgebühren</h3>
                      <ul>
                        <li>
                          <h4 class="fg-title"><span>7.1 </span>Höhe</h4>
                          <p>Der Kunde schuldet Fairgate für die Nutzung der Software eine einmalige und/oder jährliche Nutzungsgebühr, sofern die Software nicht kostenlos zur Verfügung gestellt wird.</p>
                          <p> Die Höhe der Gebühren für die einzelnen Basis- und Zusatzmodule sind im Modulbuchungsbereich ersichtlich. Die Gebühren verstehen sich exklusive Mehrwertsteuer.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>7.2 </span>Zahlungsmodalitäten/Verzug</h4>
                          <p>Die Nutzungsgebühr ist im Voraus zu entrichten und 20 Tage nach Erhalt der Rechnung ohne Abzug und unter Ausschluss der Verrechnung zur Zahlung durch den Kunden fällig. Nach Ablauf dieser Zahlungsfrist befindet sich der Kunde ohne Mahnung in Verzug.</p>
                          <p>Leistet der Kunde fällige Zahlungen nicht, ist Fairgate berechtigt, die Nutzung der Software bis zur vollständigen Bezahlung der geschuldeten Gebühr einzustellen.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>7.3 </span>Änderungen der Gebühren</h4>
                          <p> Fairgate ist berechtigt, jeweils auf den Beginn einer Vertragsperiode die Gebühren für die Nutzung der Software anzupassen oder für bisher vergütungsfrei zur Verfügung gestellte Software  eine Gebühr einzuführen.</p>
                          <p>Änderungen der Gebühren werden spätestens einen Monat vor Ablauf der laufenden Vertragsperiode schriftlich oder auf dem elektronischen Wege mitgeteilt. Ist der Kunde mit einer solchen Preisänderung nicht einverstanden, kann er die Basis- oder Zusatzmodule kündigen (downgraden). Erfolgt keine Kündigung, gilt dies als Einwilligung der Gebührenänderung.</p>
                        </li>
                      </ul>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>8  </span>Dauer und Beendigung des Vertrages</h3>
                      <ul>
                        <li>
                          <h4 class="fg-title"><span>8.1 </span>Vertragsbeginn und Vertragsverlängerung</h4>
                          <p>Dieser Vertrag tritt mit der Bestellung eines Basismoduls in Kraft und dauert ein Jahr. Der Vertrag verlängert sich jeweils automatisch um ein weiteres Jahr, sofern er nicht vor Ablauf der festen Vertragsdauer von einer Partei gekündigt wird.</p>
                          <p>Die einzelnen Zusatzmodule können jeweils nur pro rata temporis für die laufende feste Vertragsdauer bestellt werden. Verlängert sich der Vertrag um ein weiteres Jahr, verlängert sich auch die Bestelldauer der Zusatzmodule um die gleiche Dauer, sofern der Kunde die Zusatzmodule nicht vor Ablauf der festen Bestelldauer online abbestellt, d.h. ein Downgrading vornimmt.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>8.2 </span>Kündigung/Downgrading durch den Kunden</h4>
                          <p>Der Kunde ist berechtigt, den Vertrag (Basismodul) oder die Zusatzmodule jederzeit zu kündigen. Der Kunde hat jedoch keinen Anspruch auf Rückerstattung der für die laufende Vertragsperiode fälligen Gebühren.</p>
                          <p>Der Vertrag (Basismodul) ist schriftlich und eingeschrieben zu kündigen. Eine Kündigung der Zusatzmodule oder ein Downgrading des Basismoduls hat online zu erfolgen.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>8.3 </span>Kündigung durch Fairgate</h4>
                          <p>Fairgate ist berechtigt, den Vertrag (Basismodul) oder die Zusatzmodule jeweils auf das Ende einer Vertragsperiode zu kündigen. Vorbehalten bleibt eine fristlose Kündigung aus wichtigen Gründen. Als wichtige Gründe gelten insbesondere gravierende Verletzungen von wichtigen Bestimmungen dieser Allgemeinen Geschäftsbedingungen.</p>
                          <p>Sowohl die Kündigung des Vertrages (Basismodul) als auch der Zusatzmodule hat schriftlich zu erfolgen.</p>
                        </li>
                        <li>
                          <h4 class="fg-title"><span>8.4 </span>Folgen der Kündigung</h4>
                          <p>Bei Kündigung des Vertrags (Basismodul) verliert der Kunde jeglichen Zugriff auf den Server und damit auf die auf dem Server abgelegten Daten. Darüber hinaus wird Fairgate alle Daten löschen, die in den Zusatzmodule abgelegt sind.</p>
                          <p>Bei Kündigung eines Zusatzmoduls verliert der Kunde den Zugriff auf das entsprechende Zusatzmodul und die darin abgelegten Daten werden unwiderruflich gelöscht.</p>
                        </li>
                      </ul>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>9 </span>Gewährleistung</h3>
                      <p>Fairgate gewährleistet, dass die Software bei vertragsgemässer Nutzung die in der Anwenderdokumentation beschriebenen Funktionen erfüllt.</p>
                      <p>Der Kunde hat Mängel sofort und unter einwandfreier Fehlerdokumentation zu reklamieren (Störungsmeldung). Der Kunde hat Anspruch auf Behebung des Mangels innert angemessener Frist. Als zulässige Behebung eines Mangels gilt auch die Umgehung oder Unterdrückung des Mangels. Schlägt die Behebung mehrfach fehl, ist der Kunde berechtigt, nach einer schriftlich gesetzten Nachfrist von mindestens 30 Tagen vom Vertrag zurückzutreten. Mit der Ausübung des Rücktrittsrechts durch den Kunden endet sein Nutzungsrecht an der Software.</p>
                      <p>Weitergehende Gewährleistungsansprüche – einschliesslich des Rechts auf Herabsetzung der Nutzungsgebühr oder auf Schadenersatz – sind ausdrücklich ausgeschlossen.</p>
                      <p>Der Kunde erklärt sich ausdrücklich damit einverstanden, dass er die Software auf sein eigenes Risiko nutzt.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>10 </span>Haftung</h3>
                      <p>Der Kunde ist für sämtliche Schäden haftbar, welche Fairgate oder Dritten durch die rechts- oder vertragswidrige Nutzung der Software entstehen.</p>
                      <p>Die Haftung von Fairgate sowohl für direkte als auch indirekte Schäden (insbesondere auch für entgangenen Gewinn) wird – soweit gesetzlich zulässig – ausgeschlossen. Der Haftungsausschluss gilt sowohl für vertragliche als auch für ausservertragliche bzw. quasivertragliche Ansprüche. Vorbehalten bleibt die Haftung für Schäden, die durch vorsätzliches oder grob fahrlässiges Verhalten von Fairgate verursacht wurden.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>11  </span>Information über Kundenbeziehungen</h3>
                      <p>Fairgate ist es erlaubt, Dritte über die vorliegende Kundenbeziehung im Sinne einer Referenz zu informieren, insbesondere auf deren Internetseite und in Werbeunterlagen.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>12 </span>Salvatorische Klausel</h3>
                      <p>Sollte sich eine oder mehrere Bestimmungen dieser allgemeinen Geschäftsbedingungen für nichtig oder ungültig erweisen, tangiert dies die restlichen Bestimmungen nicht. Diese bleiben unverändert bestehen und behalten ihre Gültigkeit. Die nichtige(n) Bestimmung(en) ist (sind) durch möglichst gleichwertige, rechtmässige Bestimmungen zu ersetzen.</p>
                    </fg-inner-block>
                    <fg-inner-block>
                      <h3 class="fg-title"><span>13 </span> Anwendbares Recht und Gerichtsstand</h3>
                      <p>Dieser Vertrag untersteht dem schweizerischen Recht. Ausschliesslicher Gerichtsstand für alle Rechtsstreitigkeiten aus oder im Zusammenhang mit diesem Vertrag ist Winterthur.</p>
                    </fg-inner-block>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gc-api-video" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{'GN_SETTINGS_GOTCOURT_API_VIDEO'|trans}}</h4>
            </div>
            <div class="modal-body">
                <iframe  height="315" src="https://www.youtube.com/embed/7gH0-djGSzY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    $('#gc-api-video').modal({
        show: false
    }).on('hidden.bs.modal', function(){
         $('iframe').attr('src', $('iframe').attr('src'));
    });
</script>                      
<style>
    #gc-legalterms .modal-body{max-height:80%;max-height:70vh;overflow:auto}#gc-legalterms h2.fg-title{font-size:26px;margin:30px auto}#gc-legalterms h3.fg-title{font-size:23px}#gc-legalterms h4.fg-title{font-size:20px}#gc-legalterms p.terms{line-height:1.5}#gc-legalterms ol,#gc-legalterms ul{list-style:none;background:rgba(221,221,221,.18);padding:10px}#gc-legalterms ul li span{margin-right:10px;display:inline-black}#gc-legalterms span:after{content:':';margin-left:-5px;margin-right:5px}#gc-legalterms ul>li>h4{margin-top:0}
    #gc-api-video  .modal-body iframe{width:100%}
</style>

      