<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-001">
    <div class="row col-md-12">
        <h1>Dokumente organisieren</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Das Modul Dokumente ermöglicht es Ihnen Dateien hochzuladen die dann an verschiedenen Orten in der Fairgate-Lösung verwendet werden können als Ablage dienen für folgende Bereiche … :</p>
    <ul>
        <li>Kontakte</li>
        <li>Arbeitsgruppe</li>
        <li>Teams</li>
        <li>gesamter Verein</li>
        <li>interner Bereich (Intranet/F1)</li>
    </ul>
    <p>Im jeweiligen Bereich finden Sie die Liste aller Dokumente mit zahlreichen Zusatzinformationen wie z.b. wer sie hochgeladen hat, wo sie hinterlegt sind und wer sie sehen kann. In der Verwaltung der Dokumentbereiche können Sie, wie auch unter der Kontaktverwaltung zur besseren Strukturierung Kategorien und Unterkategorien erstellen. Für den schnellen Zugriff können Sie auch hier aus diesen Kategorien Favoriten markieren die dann immer zuoberst erscheinen.</p>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_doc/Dokumentliste.png" class="fg-help-img">
        <div class="fg-help-img-footer">Dokumentliste in der Verwaltung mit den Sichtbarkeitsbereichen und weiteren Informationen</div>
    </div>
</div> <!-- Row end --->
<div class="row col-md-12">
    <div class="well">
        <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch Links</h4>
        <p>
            <a href="http://handbuch.fairgate.ch/595" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i>  Dokumentenverwaltung</a><br/>
        </p>
    </div>
</div>
