<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-002">
    <div class="row col-md-12">
        <h1>Dokumente im internen Bereich</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Im internen Bereich, sofern Sie dieses Modul gebucht haben, können ihre Mitglieder die Dokumente sehen die für ihre Mannschaften, ihre Arbeitsgruppen oder für sie persönlich abgelegt wurden. Hier ein paar Beispiele:</p>

    <div class="fg-help-imgbox FL inline">
        <img src="/bundles/commonHelp/images/qw_doc/PersoenlicheDokumente.png" class="fg-help-img">
        <div class="fg-help-img-footer">Persönliche Dokumente</div>
    </div>
    <div class="fg-help-imgbox FL inline">
        <img src="/bundles/commonHelp/images/qw_doc/Mannschaftsdokumente.png" class="fg-help-img">
        <div class="fg-help-img-footer">Mannschaftsdokumente</div>
    </div>
    <div class="fg-help-imgbox FL inline">
        <img src="/bundles/commonHelp/images/qw_doc/Arbeitsgruppendokumente.png" class="fg-help-img">
        <div class="fg-help-img-footer">Arbeitsgruppendokument</div>
    </div>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_doc/DokumentlisteMannschaft.png" class="fg-help-img">
        <div class="fg-help-img-footer">Dokumentenliste einer Mannschaft</div>
    </div>
    <p class="clear">Ein Klick auf die Datei in der obigen Liste startet den Download. Andere mögliche Aktionen stehen im Aktionsmenü <i class="fa fa-bars" style="color:blue" aria-hidden="true"></i> zur Verfügung.</p>
</div> <!-- Row end --->