<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-001">
    <div class="row col-md-12">
        <h1>Die Arten des Versands</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Über das Menü Kommunikation können Sie einen Versand eines <b>Newsletters</b> und eines <b>Einfach-Mailings</b> erstellen.</p>
    <ul>
        <li><b>Newsletter</b>: Erstellen Sie hier verschieden designte wiederverwendbare Newsletter</li>
        <li><b>Einfach-Mail</b>: Erstellen Sie hier einen einmaligen Informationsversand per eMail</li>
    </ul>
    <p>Die Empfängerliste, welche bequem und präzise mittels Filtern aufgebaut wird, kann mit Abonnentenlisten kombiniert werden und ermöglicht es Ihnen so flexibel eine gezielte Leserschaft anzusprechen.</p>
</div>

<div class="row col-md-12">
    <h2>Einfach Mail</h2>
    <p>Für einmalige Anlässe oder Informationen, wie z.B. Aufruf um Mithilfe für einen einmaligen Anlass, können Sie die Einfach-Mail verwenden. Sie ist einfacher aufgebaut und so schneller erstellt.</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_comm/einfach-mail.png" class="fg-help-img">
        <div class="fg-help-img-footer">Einfach-Mail, die 5 Versandschritte</div>
    </div>
</div>

<div class="row col-md-12">
    <h2>Newsletter</h2>
    <p>Bei wiederkehrenden Informationsschreiben oder Anlässen, wie z.B. Quartalsinfo oder Matchtermine, können Sie einen Newsletter verwenden der immer das gleiche Design haben wird (mit Templates) und neuen Inhalten. Die Templates gestalten die immer gleichen Newsletter die Sie brauchen.</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_comm/newsletter-5-schritte.png" class="fg-help-img">
        <div class="fg-help-img-footer">Newsletter-Wizard, die 5 Versandschritte</div>
    </div>
</div>

<div class="row col-md-12">
    <div class="well">
        <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch Links</h4>
        <p>
            <a href="http://handbuch.fairgate.ch/550" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Unterschied zwischen Einfach-Mail und Newsletter</a><br/>
            <a href="http://handbuch.fairgate.ch/537" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Empfängerlisten</a><br/>
            <a href="http://handbuch.fairgate.ch/510" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Abonnenten</a><br/>
            <a href="http://handbuch.fairgate.ch/542" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Newsletter erstellen</a><br/>
            <a href="http://handbuch.fairgate.ch/549" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Einfach-Mail erstellen</a><br/>
        </p>
    </div>
</div>
