<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-003">
    <div class="row col-md-12">
        <h1>Import und Export von Kontakten</h1>
    </div>
</div>
<div class="row col-md-12">
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_contact/aktive_kontakte.png" class="fg-help-img">
        <div class="fg-help-img-footer">Aktionsmenü in Aktive Kontakte</div>
    </div>
    <p>Über das Hamburgermenü <i class="fa fa-bars" style="color:blue" aria-hidden="true"></i> in den aktiven Kontakten können Sie neue Kontakte in die Fairgateverwaltung importieren oder bestehende daraus exportieren.</p>
</div>
<div class="row col-md-12">
    <h2>Import</h2>
    <p>Der Import ist besonders zu Beginn, wenn Sie die Verwaltung frisch aufbauen, sehr hilfreich und spart Ihnen viel Zeit die Sie sonst mit manuellem Erstellen von Kontakten verbringen würden. Wenn Ihre Kontaktliste für den Import vorbereitet wurde (zum Beispiel im Excel oder LibreOffice), dann dauert der Import von selbst hunderten von Kontakten keine Minute. Die Kontaktliste muss allerdings sorgfältig für den Import vorbereitet werden. Dazu finden Sie mehr im Handbuch oder können sich direkt an unseren Support wenden der Ihnen gerne dabei hilft.</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_contact/aktive_kontakte_importieren.png" class="fg-help-img">
        <div class="fg-help-img-footer">Kontakte importieren - Assistent</div>
    </div>
    <br />
    <div class="fg-help-ribbonbox FL w300">
        <div class="mt-element-ribbon bg-grey-steel">
            <div class="ribbon ribbon-vertical-left ribbon-color-danger uppercase">
                <i class="fa fa-warning"></i>
            </div>
            <p class="ribbon-content">Nur bei einer guten Vorbereitung Ihrer Daten kann der Import reibungslos und zügig von statten gehen. Beachten Sie deshalb die Hinweise genau.</p>
        </div>
    </div>
</div>
<div class="row col-md-12">
    <h2>Export</h2>
    <p>Der Export von Kontakten aus der Fairgateverwaltung gesteltet sich überaus simpel. Wählen Sie z.b. eine Selektion aus Rollen oder Filter oder Arbeitsgruppen aus, dann rufen Sie exportieren auf und erhalten dann eine CSV-Datei die Sie dann im Excel/LibreOffice öffnen und bearbeiten können und, falls nötig, danach wieder ins Fairgate importieren können als Aktualisierung.</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_contact/excel_export.png" class="fg-help-img">
        <div class="fg-help-img-footer">Beispiel der exportierten Kontakte in einer Tabellenkalkulation</div>
    </div>
    <br />
    <div class="fg-help-ribbonbox FL w300">
        <div class="mt-element-ribbon bg-grey-steel">
            <div class="ribbon ribbon-color-info uppercase">Tip</div>
            <p class="ribbon-content">Erfassen Sie 2-3 Kontakte manuell vor dem Import und exportieren sie dann, so haben Sie eine gute Vorlage für die Vorbereitung Ihrer Daten für den Import!</p>
        </div>
    </div>
</div>
<div class="row col-md-12">
    <div class="well">
        <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch Links</h4>
        <p>
            <a href="http://handbuch.fairgate.ch/223" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Kontakte importieren</a><br/>
            <a href="http://handbuch.fairgate.ch/79" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Kontakte exportieren</a>
        </p>
    </div>
</div>

