<script type="text/template" id="newAssignmentFedRow"> 
    <%  arrayCategoryName = FgUtility.groupByMulti(normalArray, ['catId']); 
        var previousCatId='';
        var previousRole='';
        var loopFlag=0;       
        _.each(normalArray,function(normalArrayValue,normalArrayKey){
            if(filterArray[normalArrayValue['catId']] != undefined ) { 
                if(previousCatId != normalArrayValue['catId']) { 
                    previousCatId=normalArrayValue['catId']; %>                            
                    <div class="row fg-border-line fg-list-group-inline-form new_asgn_blk_fed">
                        <div class="col-md-4 col-sm-4 fg-left-right-move categoryDp" data-name="fg-dev-cat-dp">
                            <select insert-flag="0" class="bs-select form-control fg-select-font catDropDown" disabled>
                                <option><%- arrayCategoryName[normalArrayValue['catId']][0]['catTitle'] %></option>
                            </select>
                        </div>                
                        <% filterDummyArray=filterArray[previousCatId];
                        arrayRoleName = FgUtility.groupByMulti(normalArray, ['roleId']);  %>                
                        <div class="col-md-4 col-sm-4 fg-left-right-move roleDp" data-name="fg-dev-role-dp">
                            <select insert-flag="0" class="bs-select form-control fg-select-font roleDropDown">
                                <option value="" option-text-role="1">{%trans%}ASSIGNMENT_SELECT_DROPDOWN{%endtrans%}</option>
                                <% dummyRolesArray = _(normalArray).filter(function (x) { return (x['catId'] ==previousCatId ) ;});
                                var previousRoleId = [];                                   
                                _.each(dummyRolesArray,function(arrayNormalRolesValue,arrayNormalRolesKey){                                     
                                    if (filterDummyArray[arrayNormalRolesValue['roleId']] != undefined) { 
                                        if($.inArray(arrayNormalRolesValue['roleId'], previousRoleId) == -1) {
                                            previousRoleId[loopFlag] = arrayNormalRolesValue['roleId']; 
                                            loopFlag=loopFlag+1;%>
                                            <option name="<%- previousCatId %>_role_<%- arrayNormalRolesValue['roleId'] %>" id="<%- previousCatId %>_role_<%- arrayNormalRolesValue['roleId'] %>" data-key="<%- previousCatId %>.role.<%- arrayNormalRolesValue['roleId'] %>" element-type="<%- elementtype %>" category="<%- previousCatId %>" value="<%- arrayNormalRolesValue['roleId'] %>"><%- arrayRoleName[arrayNormalRolesValue['roleId']][0]['roleTitle'] %></option>
                                        <% }
                                    }
                                }); %>
                            </select>
                        </div>   
                        <input type="hidden" data-type="key_element" />                        
                    </div>
                <% } 
            } 
        }); 
    %>     
</script>
