<!DOCTYPE html>
<html>
<head>
    <link href="{{ asset('fgassets/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>local Gelöscht!!</title>
</head>
<body>
    <div class="container">
      <div class="fg-web-clear-localstorage-wrapper">
            <div class="fg-left">              
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>    
            <div class="fg-right">
                <h4 class="">{{'LOCAL_STORAGE_CLEAR_TEXT'|trans}}
                </h4>
                <p class="">{{'LOCAL_STORAGE_DELETE_MESSAGE'|trans}}
                </p>
            </div>
      </div>
    </div>
    
</body>
</html>
<style rel="stylesheet"  type="text/css">
    
 html,body{
        height:99%;
    }
    .container{
        height:100%;
    }
    body{
        font-family: 'Open Sans', sans-serif;
    }
    .fg-web-clear-localstorage-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;    
        align-content: stretch;
        height: 100%;
        color: #333;
    }
    .fg-web-clear-localstorage-wrapper .fg-left .fa{
        color:#26C281;
        font-size: 5.8em;
        
    }
    
    .fg-web-clear-localstorage-wrapper .fg-left{
            margin-right: 40px;
        
    }
    .fg-web-clear-localstorage-wrapper .fg-right{
        max-width: 325px;
    }
    .fg-web-clear-localstorage-wrapper .fg-right h4{
    	margin: 0 auto;
    	font-weight: 600;
    	font-size: 17px;
    }
    .fg-web-clear-localstorage-wrapper .fg-right p{
    	font-weight: 400;
    	font-size: 13px;
        margin: 8px auto 10px auto;
    }
</style>
<script type="text/javascript" >
    localStorage.clear();
</script>
