{% block pagecontent %}
<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR -->
<div class="page-sidebar-wrapper fg-page-sidebar">
    <div class="page-sidebar fg-page-new-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul data-keep-expanded="true" data-slide-speed="200" class="page-sidebar-menu page-header-fixed sidebar-level1" id="sidemenu_bar">
            <li id="sidebar_options_li" class="sidebar_options_li"></li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>    
<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->
{% endblock %}
{% block javascripts %}
{% endblock %}
