<script type="text/template" id="sidebarSettingsTemplate">
    <div class="btn-group fg-sidebar-menu-button">
        <button data-toggle="dropdown" aria-expanded="true" class="btn"><i class="fa fa-bars"></i></button>
        <ul class="dropdown-menu dropdown-menu-align-left pull-right drpmenu-new">
            <li><a href="<%- settingsMenuUrl %>" url="#"><%- settingsMenuTitle %></a></li>
        </ul>
    </div>
</script>


<script type="text/template" id="sidebarSettingsArticleCatTemplate">
    <div class="btn-group fg-sidebar-menu-button">
        <button data-toggle="dropdown" aria-expanded="true" class="btn"><i class="fa fa-bars"></i></button>
        <ul class="dropdown-menu dropdown-menu-align-left pull-right drpmenu-new">
            <li class="create_new_element"  element_type="<%- sideContentType %>" data-target="#<%- sideContentType %>_li" data-catid="<%- categoryId %>" > <a href="javascript:void(0)"><%- createTitle %></a> </li>
            <li><a href="<%- settingsMenuUrl %>" url="#"><%- settingsMenuTitle %></a></li>
        </ul>
    </div>
</script>
<script type="text/template" id="sidebarSettingsArticleTimeTemplate">
    <div class="btn-group fg-sidebar-menu-button">
        <button data-toggle="dropdown" aria-expanded="true" class="btn"><i class="fa fa-bars"></i></button>
        <ul class="dropdown-menu dropdown-menu-align-left pull-right drpmenu-new">
            <li><a href="javascript:void(0);" class="fg-dev-timeperiod-link" url="#"><%- settingsMenuTitle %></a></li>
        </ul>
    </div>
</script>

