// BEGIN THEME STYLES

link(href='../../../fgassets/assets/global/css/components.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/global/css/plugins.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/layouts/layout/css/layout.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/layouts/layout/css/themes/default.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/global/plugins/typeahead/typeahead.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css', rel='stylesheet', type='text/css')
link(href='../../../fgcustom/css/bootstrap-toggle-switch.css', rel='stylesheet', type='text/css')
link(href='../../../fgcustom/tokenfield/css/bootstrap-tokenfield.css', rel='stylesheet', type='text/css')
link(href='../../../fgassets/global/css/animate.min.css', type='text/css', rel='stylesheet')

// END THEME STYLES
