    <div class="modal fade" id="fg-form-element-popup" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="formElementDontUse" aria-hidden="true"></button>
                <h4 class="modal-title">{{'FORM_ELEMENT_CREATE_TITLE'|trans}}</h4>
            </div>
            <div class="modal-body form-horizontal" id="fg-form-element-popup-content"> 
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" id="formElementDontUse">{{'CANCEL'|trans}}</button>
                <button type="button" class="btn green" id="formElementUseTemplate">{{'CONTINUE'|trans}}</button>
            </div>
        </div>
    </div>
</div>