/* -----------------
Website front end stylesheet ---- 
* 01 - 404 page styles
* 02 - admin navbar
* 03 - Common plugin overrides
*/


@import '../global/utilities/variables'; //- added variables and functions
@import 'https://fonts.googleapis.com/css?family=Open+Sans';


/* -------------------------------------------------------------------------
* 01 - 404 page styles
-----------------------------------------------------------------------------*/

body{
font-family: 'Open Sans', sans-serif;
}
.fg-web-coming-soon-wrapper{
  text-align: center;
  margin-top: 20%;
  padding: 20px;
}
.fg-page-title{
  font-size:24px;
  font-weight:lighter;
}
a{
  color:#0071BC;
  text-decoration:none;
}
.fg-read-more i{
  margin-right:5px;
}

/* -------------------------------------------------------------------------
* 02 - admin navbar
-----------------------------------------------------------------------------*/
@import '_partials/_admin-navbar';

/* -------------------------------------------------------------------------
* 03 - Common plugin overrides
-----------------------------------------------------------------------------*/
@import '_partials/fg-web-plugin-override';
