.page-header.navbar.navbar-inverse.navbar-fixed-top.fg-page-header
  // BEGIN TOP NAVIGATION BAR
  .header-inner
    // BEGIN LOGO
    a.navbar-brand.fg-navbar-brand(href='index.html')
      img.img-responsive(src='../../global/img/fairgate-small-logo.jpg', alt='logo')
    // END LOGO
    // BEGIN RESPONSIVE MENU TOGGLER
    a.navbar-toggle(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
      img(src='../../global/img/menu-toggler.png', alt='')
    // END RESPONSIVE MENU TOGGLER
    // BEGIN DROPDOWN
    .fg-dropdown-nav
      ul#demo-1.nav.navbar-nav
        li.dropdown
          a.fg-dropdown-head(href='#', data-toggle='dropdown')
            | INTERNAL
            i.fa.fa-angle-down
          ul.dropdown-menu.animated(data-animation='fadeIn')
            li
              a(href='#') WEBSITE
            li
              a(href='#') INTERNAL
            li
              a(href='#') BACKEND
      ul.fg-logut-block
        li
          a.fg-logout-icon(href='#')
            i.fa.fg-fa-sign-in
    // END DROPDOWN
    // BEGIN HORIZANTAL MENU
    .hor-menu.hidden-sm.hidden-xs
      ul.nav.navbar-nav
        li
          a(href='index.html', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
            | Pages  
            i.fa.fa-angle-down
            span.selected  
          ul.dropdown-menu.hold-on-click
            li
              .input-icon.margin-top-10.searchmenudiv.searchico
                i.fa.fa-search
                input.form-control.input-sm(type='text', placeholder='Find contact')
            li
              a(href='#')
                | Contacts
                span.badge.badge-round.badge-important  251 
            li
              a(href='#')
                | Draft Contacts 
                span.badge.badge-round.badge-important  4
            li
              a(href='#')
                | Contact changes to be confirmed 
                span.badge.badge-round.badge-important  3 
            li
              a(href='#')
                | Archived contacts 
                span.badge.badge-round.badge-important  122 
            li.dropdown-submenu
              a(href='javascript:;') Settiings 
              ul.dropdown-menu.hold-on-click
                li
                  a(href='index.html') Contact fields
                li
                  a(href='index.html') Contact connections
        li
          a(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='')
            | News  
            i.fa.fa-angle-down
          ul.dropdown-menu.hold-on-click
            li
              a(href='#') Section 1
            li
              a(href='#') Section 2
            li
              a(href='#') Section 3
            li
              a(href='#') Section 4
            li
              a(href='#') Section 5
            li.dropdown-submenu
              a(href='javascript:;')  More options 
              ul.dropdown-menu.hold-on-click
                li
                  a(href='#') Second level link
                li.dropdown-submenu
                  a(href='javascript:;') More options
                  ul.dropdown-menu.hold-on-click
                    li
                      a(href='index.html') Third level link
                    li
                      a(href='index.html') Third level link
                    li
                      a(href='index.html') Third level link
                    li
                      a(href='index.html') Third level link
                    li
                      a(href='index.html') Third level link
                li
                  a(href='index.html') Second level link
                li
                  a(href='index.html') Second level link
                li
                  a(href='index.html') Second level link
        li
          a(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='')
            | Events  
            i.fa.fa-angle-down
          ul.dropdown-menu.hold-on-click
            li
              a(href='index.html') About Us
            li
              a(href='index.html') Services
            li
              a(href='index.html') Pricing
            li
              a(href='index.html') FAQs
            li
              a(href='index.html') Gallery
            li
              a(href='index.html') Registration
        li
          a(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='')
            | Gallery 
            i.fa.fa-angle-down
          ul.dropdown-menu.hold-on-click
            li
              a(href='index.html') About Us
            li
              a(href='index.html') Services
            li
              a(href='index.html') Pricing
            li
              a(href='index.html') FAQs
            li
              a(href='index.html') Gallery
            li
              a(href='index.html') Registration
    .hor-menu.hidden-sm.hidden-xs.fg-block-right.pull-right
      ul.nav.navbar-nav
        li
          // BEGIN HEADER SEARCH BOX
          form.search-form(method='GET', action='extra_search.html')
            .input-group
              input.form-control(type='text', name='query', placeholder='Search...')
              span.input-group-btn
                a.btn.submit(href='#')
                  i.icon-magnifier
          // END HEADER SEARCH BOX
        li
          a(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='#')
            | My team 
            i.fa.fa-angle-down
        li
          a(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='#')
            | My workgroup 
            i.fa.fa-angle-down
        li.active
          a(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='#')
            | Tobias Nafzger 
            span.badge  6 
            i.fa.fa-angle-down
            span.selected  
        li
          a.fg-logout-icon(href='#')
            i.fa.fg-fa-sign-in
    // END HORIZANTAL MENU
  // END TOP NAVIGATION BAR
