<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-002">
    <div class="row col-md-12">
        <h1>Newsletter Versandtypen</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Beim Newsletter kann man zwischen zwei Typen auswählen:</p>
    <ul>
        <li><b>Standard</b> (Versand gemäss Abonnement)</li>
        <li><b>Obligatorisch</b> (kann nicht abbestellt werden)</li>
    </ul>
    <p><b>Standard</b> erlaubt nur den Versand an Kontakte mit einer bestehenden primären eMail und erlaubt den Empfängern somit den Empfang aller zukünftiger abonnierter Newsletter zu unterbinden mit dem Abbestell-Link. Wohingegen Sie bei <b>Obligatorisch</b> in der Zusammenstellung der Empfänger völlig frei sind und auch selbst erstellte eMail-Felder verwenden können. Dafür können die Empfänger dann aber diese Newsletter nicht abbestellen.</p>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_comm/newsletter-erstellen.png" class="fg-help-img">
        <div class="fg-help-img-footer">Newsletter-Wizard, erster Schritt</div>
    </div>
    <p class="clear">Bei beiden Versandarten werden Sie durch einen Wizard durch 5 Schritte geleitet. Am Schluss steht der Versand und damit können Sie das Mailing sofort oder terminiert auslösen.</p>
</div> <!-- Row end --->
<div class="row col-md-12">
    <div class="well">
        <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch Links</h4>
        <p>
            <a href="http://handbuch.fairgate.ch/519" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Obligatorische + nicht-obligatorische Newsletter</a><br/>
        </p>
    </div>
</div>
