<div class="alert alert-danger display-none">
    <button class="close" data-dismiss="alert"></button>
    <span data-error>{%trans%}FORM_ERROR_DISPLAY{%endtrans%}</span>
</div>
<form id="form-tab2" method="post" data-url="" skipDirtyCheck data-validation="false" onsubmit="return false;" autocomplete="off" novalidate="novalidate" class="form-horizontal">
<h3 class="block">Choose your contacts</h3>
<dl>
    <dt>Recipients list</dt>
    <dd>
        <select class="form-control">
            <option>Select…</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
        </select>
    </dd>
    <dt>Manal selection</dt>
    <dd>
        <input type="text" name="username" class="form-control">
        <div class="fg-newsletter-inner-div">
            <dl>
                <dt> If none avilable,</dt>
                <dd>
                    <select class="form-control">
                        <option>E-mail 1, E-mail 2</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </dd>
                <dt> If none avilable,</dt>
                <dd>
                    <select class="form-control">
                        <option>If none avilable, substitute by:</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </dd>
            </dl>
        </div>
    </dd>
</dl>
<div class="alert alert-info">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
    <strong>Note:</strong> Contacts without email address won't be added to recipients </div>
<div class="row">
    <div class="col-md-12">
        <button class="btn green preview" type="button">Preview</button>
        <!-- Table -->
        <div class="fg-table-wrap hidden-settings">
            <div class="row">
                <div class="col-md-7 fg-common-top">
                    <div class="fg-title-wrapper">
                        <h3 class="page-title fg-page-title fg-left-zero">
                            <div class="page-title-sub">Recipients Preview</div>
                        </h3>
                    </div>
                </div>
                <div class="col-md-5 fg-common-top">
                    <div class="input-icon fg-search-div">
                        <div class="input-icon"> <i class="fa fa-search"></i>
                            <input type="text" placeholder="Search table" class="form-control control2">
                        </div>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn tableactionright" data-toggle="dropdown"> <i class="fa fa-table fa-2x"></i> </button>
                        <ul class="dropdown-menu pull-right fg-drpmenu-new dropdown-menu-form padinten hold-on-click">
                            <li> Columns… </li>
                            <li>
                                <select class="form-control select2me" data-placeholder="Contact fields">
                                    <option value="">Standard </option>
                                    <option value="AL">Category2</option>
                                    <option value="WY">Category3</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control select2me" data-placeholder="Contact fields">
                                    <option value="">50 rows</option>
                                    <option value="AL">Category2</option>
                                    <option value="WY">Category3</option>
                                </select>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox">
                                    Filter </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox">
                                    Edit mode </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <table class="table fg-import-table table-striped table-hover">
                <thead>
                    <tr>
                        <th> E-mail address </th>
                        <th> E-mail field </th>
                        <th> Contact </th>
                        <th>Salutation</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> info@fairgate.ch </td>
                        <td> E-mail </td>
                        <td> Faigate AG </td>
                        <td> Dear Sir or Madam </td>
                        <td><div class="fg-table-delete">
                                <div class="fg-last-icon">
                                    <div class="closeico">
                                        <input type="checkbox" class="make-switch" id="select">
                                        <label for="select"></label>
                                    </div>
                                </div>
                            </div></td>
                    </tr>
                    <tr>
                        <td> father@family.ch </td>
                        <td> E-mail </td>
                        <td> Simpson Horner </td>
                        <td> Dear Horner </td>
                        <td><div class="fg-table-delete">
                                <div class="fg-last-icon">
                                    <div class="closeico">
                                        <input type="checkbox" class="make-switch" id="select">
                                        <label for="select"></label>
                                    </div>
                                </div>
                            </div></td>
                    </tr>
                    <tr>
                        <td> father@family.ch </td>
                        <td> Parent email </td>
                        <td> Simpson Bart </td>
                        <td> Dear Bart </td>
                        <td><div class="fg-table-delete">
                                <div class="fg-last-icon">
                                    <div class="closeico">
                                        <input type="checkbox" class="make-switch" id="select">
                                        <label for="select"></label>
                                    </div>
                                </div>
                            </div></td>
                    </tr>
                    <tr>
                        <td> daniel.schweri@fairgate.ch </td>
                        <td> Email business </td>
                        <td> Schweri Daniel </td>
                        <td>Dear Daniel</td>
                        <td><div class="fg-table-delete">
                                <div class="fg-last-icon">
                                    <div class="closeico">
                                        <input type="checkbox" class="make-switch" id="select">
                                        <label for="select"></label>
                                    </div>
                                </div>
                            </div></td>
                    </tr>
                </tbody>
            </table>
            <div class="fg-datatable-info">Showing <span>1</span> to <span>4</span> of <span>4</span> entries</div>
            <div class="pull-right">
                <ul class="pagination pagination-sm">
                    <li> <a href="#"> <i class="fa fa-angle-left"></i> </a> </li>
                    <li class="active"> <a href="#"> 1 </a> </li>
                    <li> <a href="#"> 2 </a> </li>
                    <li> <a href="#"> 3 </a> </li>
                    <li> <a href="#"> 4 </a> </li>
                    <li> <a href="#"> <i class="fa fa-angle-right"></i> </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</form>
