<h3 class="block">Add your sidebar content</h3>
<div class="row fg-border-line  sortables">
    <div class="fg-col-first-icon"><i class="fa fa-arrows-v color-ash"></i></div>
    <div class="col-md-12 fg-col-hack fg-tab-ckedit">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-11 cktext"> Sponsors </div>
            <div class="col-md-4 pull-right">
                <div class="col-lg-3 col-sm-6 col-md-2 col-xs-12 cktext"></div>
                <div class="col-lg-3 col-sm-6 col-md-2 col-xs-12 cktext"> </div>
                <div class="col-md-4 col-sm-6 col-xs-6 pull-right cktext">
                    <i class="fa fg-plus-icon-log fa-plus-square-o"></i> Settings 
                </div>
            </div>
        </div>
    </div>                        
    <div class="fg-col-last-icon">
        <div class="col-md-2 pull-right deletediv ">
            <div class="closeico">
                <input type="checkbox" class="make-switch">
                <label for="select4"></label>
            </div>
        </div>
    </div>                         
</div>
<div class="row fg-border-line  sortables">
    <div class="fg-col-first-icon"><i class="fa fa-arrows-v color-ash"></i></div>
    <div class="col-md-12 fg-col-hack fg-tab-ckedit">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-11 cktext"> Sponsors </div>
            <div class="col-md-4 pull-right">
                <div class="col-lg-3 col-sm-6 col-md-2 col-xs-12 cktext"></div>
                <div class="col-lg-3 col-sm-6 col-md-2 col-xs-12 cktext"> </div>
                <div class="col-md-4 col-sm-6 col-xs-6 pull-right cktext">
                    <i class="fa fg-plus-icon-log fa-plus-square-o"></i> Settings 
                </div>
            </div>
        </div>
    </div>                        
    <div class="fg-col-last-icon">
        <div class="col-md-2 pull-right deletediv ">
            <div class="closeico">
                <input type="checkbox" class="make-switch">
                <label for="select4"></label>
            </div>
        </div>
    </div>                         
</div>
