<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-001">
    <div class="row col-md-12">
      <h1>So ist Fairgate aufgebaut</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Sobald Sie sich anmelden gelangen Sie zuerst zum <b>Dashboard</b> welches Ihnen einen Überblick über die Anzahl Mitgliedertypen, Fairgate News,
       die nächsten Geburtstage und einiges mehr sehen. Danach können sie z.B. ins <b>Modul Kontakte</b> wechseln über das Menü <code>Kontakte</code> auf <code>Aktive Kontakte</code>
       (sofern Sie sich im <b>Verwaltungsbereich</b> befinden und nicht im <i>internen</i> Bereich).</p>
      <h2>Bildschirmseite - Verwaltung</h2>
      <div class="row col-md-12">
        <p>Untenstehend sehen Sie einen typischen Bildschirm im Fairgate mit den wichtigsten Elementen:</p>
        <div class="fg-help-imgbox FL">
            <img src="/bundles/commonHelp/images/qw_contact/schema-04.png" class="fg-help-img">
        </div>
      </div>
</div> <!-- Row end --->
<h3>Legende</h3>
<ol>
    <li>Bereichsauswahl-Menü (Intern und Verwaltung)</li>
    <li>Modulmenüs, jedes Modul hat hier ein Menü (ausser Intern)</li>
    <li>Hilfemenü das Ihnen Zugriff auf verschiedene Hilfen bietet wie Quickstart-Window, Handbuch, Videos uvm.</li>
    <li>Vereinsweite Einstellungen wie Sprachen, Anreden, Alterslimiten, Benutzerrechte, uvm. (Nur für den Hauptadmin sichtbar)</li>
    <li>Logout Button um sich aus Fairgate abzumelden. Aus Sicherheitsgründen sollten Sie sich immer abmelden, nie den Browser ohne abmelden schliessen.</li>
    <li>Selektion aller Schnellzugriffe die Sie als Favoriten markiert haben und die komplette Liste aller Ihrer Kontakte.</li>
    <li>Modulspezifische Selektionskategorien wie z.b. Rollen, Teams und Arbeitsgruppen, Sponsoren, Leistungen, Dokumentenablage</li>
    <li>Filter für die feingranulare Selektion Ihrer Kontakte die Sie gespeichert haben aber sonst keine zusätzliche Funktionen haben.</li>
    <li>Über das Zahnradicon können Sie Teile dieser Sidebar für Ihren Account ausblenden.</li>
    <li>Die Brotkrumenzeile zeigt Ihnen wo Sie in der Lösung stehen sowie den Pfad wie Sie dahin gelangten.</li>
    <li>Das Aktionsmenü treffen Sie an verschiedenen Orten in Fairgate an. es bietet Ihnen immer spezifische Aktionen zum Bereich oder Unterbereich einer Seite an. In Aktive Kontakte z.b. Erstellen, Import, Export, Zuweisen uvm.</li>
    <li>Der Seitentitel zeigt Ihnen was für eine Liste Sie gerade bearbeiten, z.b. alle Aktive Kontakte oder ein bestimmtes Team.</li>
    <li>Manchmal treffen Sie hier Registerreiter an die Ihnen weitere Informationen anbieten.</li>
    <li>Bei Tabelle und Listen haben Sie oft die Möglichkeit direkt einen oder mehrere Suchbegriffe einzugeben. Suchen können Sie alles was in der Tabelle sichtbar ist (Spalteneinstellungen).</li>
    <li>Hier können Sie sehr einfach nach gewissen Feldern suchen und Kriterien miteinander verknüpfen was eine recht anspruchsvolle Suche erlaubt. Diese Suche lässt sich auch als gespeicherter Filter ablegen und ab dann in der Sidebar auswählen.</li>
    <li>Über diese Optionen können Sie die Spaltenauswahl gestalten, die Anzahl sichtbare Zeilen in der Seite und den direkten Bearbeitungsmodus auswählen.</li>
    <li>Der Hauptarbeitsbereich in dem Sie Kontakte oder andere Daten bearbeiten.</li>
    <li>Falls nicht alle ausgewählten Kontakte auf einer Seite Platz haben werden sie auf mehrere Seiten verteilt, hier können Sie sie durchblättern. Die Anzahl sichtbarer Zeilen pro Seite können Sie über die Tabelleeigenschaften angepasst werden.</li>
</ol>


