<div class="modal fade" id="cms-theme-delete-modal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{'CMS_THEME_DELETE_COMMENT_POPUP_HEADER'|trans}}</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-body">                    
                            <div class="form-group">
                                <label class="col-lg-12 col-md-12 col-xs-12">
                                    {{'CMS_THEME_DELETE_COMMENT_POPUP_TEXT'|trans}}
                                </label>  
                                <input type="text" class="hide fg-theme-color-id" value="" />
                            </div>                                             
                        </div>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
            {% include 'internal/removebuttonPopup.html.twig' %}
        </div>
    </div>
</div>