<div class="modal fade" id="config-title-change-modal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{'CMS_CONFIG_TITLE_CHANGE_COMMENT_POPUP_HEADER'|trans}}</h4>
            </div>
            <div class="row">
                <div class="modal-body fg-cms-edit-existing-modal">
                    <div class="form-group fg-clear fg-cms-title-change-form">
                        <label class="control-label text-right fg-label-valign col-sm-4 ">{{'CMS_CONFIG_TITLE_CHANGE_DELETE_COMMENT_POPUP_TEXT'|trans}}</label>
                        <div class="col-sm-8 fg-error-add-required">
                            <input type="text" class="form-control input-md" name="pageTitleChange" id="pageTitleChange" value="">
                        </div>
                    </div>
                </div>
            </div>
            {% include 'internal/savebuttonPopup.html.twig' %}
        </div>
    </div>
</div>