<script type="text/template" id="newContactnote">
    <li class="timeline-purple newRow">
    <div class="timeline-time"> 
        <span class="date"><%- content.curdate %></span> <span class="time"> </span> <span class="time"> {{loginnames}}</span> 
    </div>
    <div class="timeline-icon"> </div>
    <div class="timeline-body">
        <div class=""> <textarea class="auto-textarea timeline-content note-border fairgatedirty" required="true" id="<%- content.addCount %>" name="<%- content.addCount %>" data-key="<%- content.addCount %>" maxlength="2000"></textarea></div>
        <div class="noteico">
            <input type="checkbox" style="max-width:95%" class="make-switch newRowDelete" data-key="<%- content.addCount %>.isDeleted" name="isDeleted_<%- content.addCount %>" id="isDeleted_<%- content.addCount %>" data-inactiveblock="changecolor" data-parentid="<%- content.addCount %>" data-target="<%- content.addCount %>" />
            <label for="isDeleted_<%- content.addCount %>"></label>
        </div>
    </div>
    </li>
</script>
