<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-003">
    <div class="row col-md-12">
        <h1>Dokumente hochladen</h1>
    </div>
</div>
<div class="row col-md-12">
    <p>Sie können Dokumente auf 2 Arten hochladen:</p>
    <ul>
        <li>Per Drag&Drop in die Dokumentliste</li>
        <li>Über das Aktionsmenü <i class="fa fa-bars" style="color:blue" aria-hidden="true"></i></li>
    </ul>
</div>

<div class="row col-md-12">
    <h2>Drag&Drop</h2>
    <p>Ziehen Sie eine oder mehrere Datei(en) in die Dokumentliste und Sie bekommen den folgenden Uploaddialog zu sehen.</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_doc/DuD_hochladen.png" class="fg-help-img">
        <div class="fg-help-img-footer">Drag&Drop</div>
    </div>
</div>
<div class="row col-md-12">
    <h2>Aktionsmenü</h2>
    <p>Rufen Sie aus der Dokumentliste über das Aktionsmenü <code>Dokument hochladen</code> auf dann fordert Sie der Browser auf ein Dokument auf Ihrem PC auszuwählen.</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_doc/dok_hochladen.png" class="fg-help-img">
        <div class="fg-help-img-footer">Datei per Aktionsmenü hochladen</div>
    </div>
    <p class="clear">Danach erscheint das bekannte Dialogfeld zum Dateien hochladen des Browsers:</p>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_doc/hochladen_aktionsmenue.png" class="fg-help-img">
        <div class="fg-help-img-footer">Datei per Aktionsmenü hochladen</div>
    </div>
</div>

<div class="row col-md-12">
    <div class="well">
        <h4><i class="fa fa-book" aria-hidden="true"></i> Handbuch und Video Links</h4>
        <p>
            <a href="https://youtu.be/MFVzV0AUftw?list=PLgZZagYFKiivGxFZJmS6UH0PYNtwFqnTx" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> QuickTip Video: Dateien hochladen</a>
        </p>
    </div>
</div>