<div class="fg-help-topic-list-wrapper fg-help-topic-details-wrapper fg-help-topic-welcome-wrapper">
    <div class="fg-help-topic-details-content-scroll-wrapper1">
        <div >
            <div class="row">
                <div class="col-sm-5 fg-help-welcome-left">
                    <div class="fg-help-welcome-bg-1"></div>
                    <h2 class="fg-subtitle">Willkommen bei Fairgate. Mehrwert für Vereine und Verbände</h2>
                    <p>Die «ersten Schritte» helfen Ihnen, sich in der Lösung rasch zurecht zu finden und bietet Ihnen Tipps für die am häufigsten gestellten Fragen.</p>

                </div>
                <div class="col-sm-7 fg-help-welcome-right">
                    <div class="fg-help-welcome-bg-2"></div>

                </div>
            </div>

        </div>
    </div>
</div>
