<div class="">
    <div class="fg-help-topic-details-content-scroll-wrapper1">
        <div class="row">
            <div class="col-sm-12">
                <div class="fg-help-welcome-bg-1"></div>
                <h2 class="fg-subtitle">{{ 'TESTING_PERIOD'|trans }}</h2>
                <p>{{ 'WELCOME_MESSAGE'|trans({'%username%': datas.username, '%remainingDays%': datas.remainingDays }) }}</p>
                <p></p>
                <p>Fairgate AG</p>
            </div>                
        </div>
    </div>
</div>
