<!--suppress HtmlUnknownTarget -->
<div class="fg-help-topic-details-content show hide" id="act-003">
    <div class="row col-md-12">
        <h1>Newsletter Design</h1>
    </div>
</div>
<div class="row col-md-12">
    <h2>Design mit Templates</h2>
    <p>Ein Newletter der öfters im Jahr versandt wird lohnt sich etwas aufwendiger zu gestalten als vielleicht eine Einfach-Mail. Um Ihnen dies zu ermöglichen können Sie so viele Templates bzw. Vorlagen erstellen wie Sie brauchen. Darin verwenden Sie Ihr Vereinslogo, Sponsorenlogos und Photos oder Bilder die passen, platzieren Text und wählen Farbschemas aus.</p>

    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_comm/newsletter-template-allgemein.png" class="fg-help-img">
        <div class="fg-help-img-footer">Newsletter-Template, Allgemein</div>
    </div>
    <div class="fg-help-imgbox FL">
        <img src="/bundles/commonHelp/images/qw_comm/newsletter-template-design.png" class="fg-help-img">
        <div class="fg-help-img-footer">Newsletter-Template, Design</div>
    </div>
</div> <!-- Row end --->