<!DOCTYPE html>
<html>
  <head>
    <title>Article Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../global/js/unitegallery-master/package/unitegallery/css/unite-gallery.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" media="screen">
    <link href="../../global/css/global-style.css" rel="stylesheet" media="screen">
    <link href="../css/fg-web-style.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-color-schemes.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-config.css" rel="stylesheet" media="screen">
  </head>
  <body class="fg-web-theme-01 ">
    <header class="container-fluid fg-web-page-header">
      <div class="row fg-web-top-nav-wrapper">
        <div class="container">
          <div class="FR">
            <ul class="fg-web-top-nav-links list-inline">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Map</a></li>
            </ul>
            <ul class="fg-web-top-nav-languages list-inline">
              <li><a href="#">EN</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row fg-web-main-nav-bar">
        <div class="container">
          <div class="fg-logo-wrapper"><a href="#" class="fg-logo"><img src="http://www.fauchard.org/system/ckeditor_assets/pictures/101/content_pfa_portrait_logo-300print.jpg"></a></div>
          <div class="fg-web-nav-icon visible-xs"><i class="fa fa-bars fa-3x"></i></div>
          <nav class="navbar navbar-default fg-web-main-nav">
            <ul class="nav navbar-nav">
              <li class="active">                                   <a href="#">Home     </a></li>
              <li><a href="#">Club</a></li>
              <li><a href="#">Teams</a></li>
              <li><a href="#">News</a></li>
              <li class="dropdown"><a href="#">Photos </a><span href="#" data-toggle="dropdown" role="navigation" aria-haspopup="true" aria-expanded="true" class="caret dropdown-toggle"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                  <li class="dropdown-submenu"><a href="#">Second level Dropdown Second level Dropdown </a><span class="fg-dropdown-toggle"></span>
                    <ul class="dropdown-menu fg-web-open-right">
                      <li><a href="#">Third level menu</a></li>
                      <li><a href="#">Third level menu</a></li>
                      <li class="dropdown-submenu"><a href="#">Third level Dropdown </a><span class="fg-dropdown-toggle"></span>
                        <ul class="dropdown-menu fg-web-open-left">
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Third level menu</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                </ul>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="container-fluid fg-web-main-content">
      <div class="row fg-web-page-title-bar">
        <div class="container">
          <div class="fg-web-titlebar-left-col has-breadcrumb pull-left">
            <div class="fg-web-page-title-block fg-breadcrumb-block">
              <ul class="fg-breadcrumbs">
                <li><a href="http://192.168.0.39:12004/auto/home">Title bar improvements</a></li>
                <li><a href="javascript:void(0);">CLUB</a></li>
              </ul>
            </div>
            <div class="fg-titlebar-block fg-web-page-title-block">
              <h1 class="fg-web-page-title">How to contact us</h1>
            </div>
          </div>
          <div class="fg-web-titlebar-right-col pull-right">
            <div class="fg-titlebar-block fg-icon-bg"><i class="fg-icon fg-page-prev"></i></div>
            <div class="fg-titlebar-block fg-icon-bg"><i class="fg-icon fg-page-close"></i></div>
            <div class="fg-titlebar-block fg-icon-bg"><i class="fg-icon fg-page-next"></i></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="container">
        <div class="row fg-web-page-container">
          <div class="col-sm-12 fg-web-page-content-wrapper">
            <div class="row">
              <div style="background:#fff; border:1px solid red;" class="col-sm-12 fg-grid-col-6">
                <div class="fg-header-widget fg-widget-block">
                  <h2>Column 6</h2>
                  <div id="slide1" class="slideshow fg-fader fg-visible-hidden">
                    <div class="slider"><a href="#"><img src="http://www.birdingnz.co.nz/images/dmImage/StandardImage/Fantail.jpg" class="slide"></a></div>
                    <div class="slider"><a href="#"><img src="https://c1.staticflickr.com/4/3949/15508461320_18ecd4a81f_b.jpg" class="slide"></a></div>
                    <div class="slider"><a href="#"><img src="http://i.huffpost.com/gadgets/slideshows/347613/slide_347613_3686881_free.jpg" class="slide"></a></div>
                    <div class="slider"><a href="#"><img src="http://static1.squarespace.com/static/551409fae4b06cb151b20d38/553ab2c1e4b033588e9c6028/553ab39be4b033588e9c6d3c/1429910446721/?format=1000w" class="slide"></a></div>
                    <div class="slider"><a href="#"><img src="http://www.betweentheneonandthesea.com/wp-content/uploads/2012/07/alice-adventures-wonderland-underwater-elena-kalis.jpg" class="slide"></a></div>
                    <div class="slider"><img src="http://www.medsonway.com/images/cant.png" class="slide"></div>
                    <div class="slider"><img src="http://www.bestmobilemarket.com/wp-content/uploads/2012/07/mobile-banner-design.jpg" class="slide"></div>
                    <div class="slider"><img src="http://jkissane.com/portfolio/wp-content/themes/manifest/images/animated/Concept1_150x400f.gif" class="slide"></div>
                  </div>
                </div>
              </div>
              <div style="background:#fff; border:1px solid green;" class="col-sm-10 fg-grid-col-5">
                <div class="fg-header-widget fg-widget-block">
                  <h2>Column 5</h2>
                  <div id="slide2" class="slideshow fg-fader fg-visible-hidden hide">
                    <div class="slider"><img src="http://www.birdingnz.co.nz/images/dmImage/StandardImage/Fantail.jpg"></div>
                    <div class="slider"><img src="https://c1.staticflickr.com/4/3949/15508461320_18ecd4a81f_b.jpg"></div>
                    <div class="slider"><img src="http://i.huffpost.com/gadgets/slideshows/347613/slide_347613_3686881_free.jpg"></div>
                    <div class="slider"><img src="http://static1.squarespace.com/static/551409fae4b06cb151b20d38/553ab2c1e4b033588e9c6028/553ab39be4b033588e9c6d3c/1429910446721/?format=1000w"></div>
                    <div class="slider"><img src="http://www.betweentheneonandthesea.com/wp-content/uploads/2012/07/alice-adventures-wonderland-underwater-elena-kalis.jpg"></div>
                    <div class="slider"><img src="http://www.medsonway.com/images/cant.png"></div>
                    <div class="slider"><img src="http://www.bestmobilemarket.com/wp-content/uploads/2012/07/mobile-banner-design.jpg"></div>
                    <div class="slider"><img src="http://jkissane.com/portfolio/wp-content/themes/manifest/images/animated/Concept1_150x400f.gif"></div>
                    <div class="slider">Pretty cool eh? This slide is proof the content can be anything.</div>
                  </div>
                </div>
              </div>
              <div style="background:#fff; border:1px solid blue;" class="col-sm-8 fg-grid-col-4">
                <div class="fg-header-widget fg-widget-block">
                  <h2>Column 4</h2>
                </div>
              </div>
              <div style="background:#fff; border:1px solid yellow;" class="col-sm-6 fg-grid-col-3">
                <div class="fg-header-widget fg-widget-block">
                  <h2>Column 3</h2>
                </div>
              </div>
              <div style="background:#fff; border:1px solid red;" class="col-sm-4 fg-grid-col-2">
                <div class="fg-header-widget fg-widget-block">
                  <h2>Column 2</h2>
                </div>
              </div>
              <div style="background:#fff; border:1px solid SlateBlue;" class="col-sm-2 fg-grid-col-1">
                <div class="fg-header-widget fg-widget-block">
                  <h2>Column 1</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="container-fluid fg-web-page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-image-gallery-widget fg-widget-block"></div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-login-widget fg-widget-block fg-dev-element-box elementBox">
              <form class="form-horizontal">
                <div class="form-group fg-input-box-left">
                  <input name="dummyText" type="text" placeholder="E-mail address" class="form-control input-md">
                </div>
                <div class="form-group fg-input-box-right">
                  <input name="dummyPwd" placeholder="Password" class="form-control input-md">
                </div>
                <div class="form-group fg-button-block">
                  <div class="fg-checkbox">
                    <label for="loggedIn" class="radio-inline">
                      <input id="loggedIn" type="checkbox" name="loggedIn" value="1" class="uniform">Keep me logged in.
                    </label>
                  </div>
                  <div class="fg-button">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">Login</button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="fg-footer-block">
                  <div class="fg-first">
                    <h4>First time login?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                    and active your account</p>
                  </div>
                  <div class="fg-last">
                    <h4>Lost password?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                     to reset</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer><a href="#" class="fg-web-go-top"><i class="fa fa-arrow-circle-up"></i></a>
    <div class="fg-web-bg-wrapper">
      <div style="background-image:url('http://www.sambeauvois.be/blog/wp-content/uploads/2010/06/bg.gif');z-index:6;" class="fg-web-bg"></div>
    </div>
    <div class="fg-web-promobox-wrapper">
      <div class="fg-web-promobox-header">
        <div class="fg-web-promobox-caption">Advertisment</div>
      </div>
      <div class="fg-web-promobox-body">
        <div class="fg-web-promobox-content">
          <h2 class="fg-web-promo-title">Fairgate Verhuls</h2>
          <p>Clicking on any of the buttons will let the box disappear completely on xs screens (use some slide-to-bottom animation), and replaced by a narrow tab on larger screens (use a slide-to-left animation). Only this will be replaced also after reloading the page, thus the state needs to be stored in a cookie.</p>
        </div>
      </div>
      <div class="fg-web-promobox-footer"><a href="#" type="button" class="btn fg-btn-link">MEHR INFO</a><a href="#" type="button" data-action="close" class="btn fg-btn-remove fg-web-promo-toggle-btn">Don't display anymore</a></div>
      <div data-action="open" class="fg-web-promo-drawer-wrapper fg-web-promo-toggle-btn">Fairgate<i class="fa fa-angle-double-down fg-arrow"></i></div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/global/plugins/select2/select2.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="../../global/js/unitegallery-master/package/unitegallery/js/unitegallery.min.js"></script>
    <script>
      $(window).load(function(){
       $("input:checkbox, input:radio").uniform();
      })
    </script>
    <script src="../../global/js/unitegallery-master/package/unitegallery/themes/slider/ug-theme-slider.js"></script>
    <script src="../../global/js/fg-fader.js"></script>
    <script>
      jQuery(document).ready(function () {
      });
      
      $(window).load(function(){
          //- $('#slide1').FgFader({
          
          //-   type            : 'slider', //fader / slider
          //-   duration        : '500', //slider interval
          //- });
          //- $('#slide2').FgFader({
          
          //-   type            : 'slider', //fader / slider
          //-   duration        : '100', //slider interval
          //- });
          $('.slideshow').FgFader({
          
            duration        : '1000', //slider interval
          });
      /*  $("#slideshow > div:gt(0)").hide();
      
          setInterval(function() { 
              $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slideshow');
          },  3000);  */
          
          
      })
    </script>
  </body>
</html>