<!DOCTYPE html>
<html>
  <head>
    <title>Article Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../global/js/unitegallery-master/package/unitegallery/css/unite-gallery.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" media="screen">
    <link href="../../global/css/global-style.css" rel="stylesheet" media="screen">
    <link href="../css/fg-web-style.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-color-schemes.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-config.css" rel="stylesheet" media="screen">
  </head>
  <body class="fg-web-theme-01 fg-header-sticky">
    <header class="container-fluid fg-web-page-header">
      <div class="row fg-web-top-nav-wrapper">
        <div class="container">
          <div class="FR">
            <ul class="fg-web-top-nav-links list-inline">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Map</a></li>
            </ul>
            <ul class="fg-web-top-nav-languages list-inline">
              <li><a href="#">EN</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row fg-web-main-nav-bar">
        <div class="container">
          <div class="fg-logo-wrapper"><a href="#" class="fg-logo">
              <!--img(src="http://www.fauchard.org/system/ckeditor_assets/pictures/101/content_pfa_portrait_logo-300print.jpg")--></a></div>
          <div class="fg-web-nav-icon visible-xs"><i class="fa fa-bars fa-3x"></i></div>
          <nav class="navbar navbar-default fg-web-main-nav">
            <ul class="nav navbar-nav">
              <li class="active">                                   <a href="#">Home     </a></li>
              <li><a href="#">Club</a></li>
              <li><a href="#">Teams</a></li>
              <li><a href="#">News</a></li>
              <li class="dropdown"><a href="#">Photos </a><span href="#" data-toggle="dropdown" role="navigation" aria-haspopup="true" aria-expanded="true" class="caret dropdown-toggle"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                  <li class="dropdown-submenu"><a href="#">Second level Dropdown Second level Dropdown </a><span class="fg-dropdown-toggle"></span>
                    <ul class="dropdown-menu fg-web-open-right">
                      <li><a href="#">Third level menu</a></li>
                      <li><a href="#">Third level menu</a></li>
                      <li class="dropdown-submenu"><a href="#">Third level Dropdown </a><span class="fg-dropdown-toggle"></span>
                        <ul class="dropdown-menu fg-web-open-left">
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Third level menu</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                </ul>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="container-fluid fg-web-main-content">
      <div class="row fg-web-page-title-bar">
        <div class="container">
          <h1 class="fg-web-page-title">Set password</h1>
        </div>
      </div>
      <div class="container">
        <div class="row fg-web-page-container">
          <div class="col-sm-12 fg-web-page-content-wrapper">
            <div class="row">
              <div class="col-sm-8">
                <form role="form" class="fg-web-set-password-wrapper">
                  <div class="form-group">
                    <label class="control-label">New password</label>
                    <input name="dummyText" type="password" class="form-control input-md">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Repeat New password</label>
                    <input name="dummyText" type="password" class="form-control input-md">
                  </div>
                  <div class="form-group fg-button-block">
                    <div class="fg-button">
                      <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">Send</button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="container-fluid fg-web-page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-login-widget fg-widget-block fg-dev-element-box elementBox">
              <p><strong>ACTIVATE YOUR ACCOUNT: </strong>Enter the email which is stored on your account to get linked to a page where you can set up your password. If you don't know which email is stored on your account, ask the responsibles of your organanisation FC Musterheim.</p>
              <form class="form-horizontal">
                <div class="form-group fg-input-box-left">
                  <input name="dummyText" type="text" placeholder="E-mail address" class="form-control input-md">
                </div>
                <div class="form-group fg-google-captcha"><img src="https://www.google.com/recaptcha/intro/images/hero-recaptcha-demo.gif"></div>
                <div class="form-group fg-button-block">
                  <div class="fg-button">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">Send</button><a href="javascript:void(0)" class="fg-back-button"><i class="fa fa-arrow-circle-left fa-2x"></i>Back</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
            <div class="fg-login-widget fg-widget-block fg-dev-element-box elementBox">
              <div class="alert alert-danger"><strong>
                  Danger!
                   Indicates a dangerous or potentially negative action.</strong></div>
              <p><strong>ACTIVATE YOUR ACCOUNT: </strong>Enter the email which is stored on your account to get linked to a page where you can set up your password. If you don't know which email is stored on your account, ask the responsibles of your organanisation FC Musterheim.</p>
              <form class="form-horizontal">
                <div class="form-group fg-input-box-left">
                  <input name="dummyText" type="text" placeholder="E-mail address" class="form-control input-md">
                </div>
                <div class="form-group fg-google-captcha"><img src="https://www.google.com/recaptcha/intro/images/hero-recaptcha-demo.gif"></div>
                <div class="form-group fg-button-block">
                  <div class="fg-button">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">Send</button><a href="javascript:void(0)" class="fg-back-button"><i class="fa fa-arrow-circle-left fa-2x"></i>Back</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-login-widget fg-widget-block fg-dev-element-box elementBox">
              <div class="fg-footer-block">
                <p><strong>SET PASSWORD: </strong>Please check your inbox. A mail was sent to you with instructions to activate your account.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-login-widget fg-widget-block fg-dev-element-box elementBox">
              <form class="form-horizontal">
                <div class="form-group fg-input-box-left">
                  <input name="dummyText" type="text" placeholder="E-mail address" class="form-control input-md">
                </div>
                <div class="form-group fg-input-box-right">
                  <input name="dummyPwd" placeholder="Password" class="form-control input-md">
                </div>
                <div class="form-group fg-button-block">
                  <div class="fg-checkbox">
                    <label for="loggedIn" class="radio-inline">
                      <input id="loggedIn" type="checkbox" name="loggedIn" value="1" class="uniform">Keep me logged in.
                    </label>
                  </div>
                  <div class="fg-button">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">Login</button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="fg-footer-block">
                  <div class="fg-first">
                    <h4>First time login?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                    and active your account</p>
                  </div>
                  <div class="fg-last">
                    <h4>Lost password?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                     to reset</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer><a href="#" class="fg-web-go-top"><i class="fa fa-arrow-circle-up"></i></a><span class="helper">asd</span>
    <div class="fg-web-bg-wrapper">
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/global/plugins/select2/select2.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="../../global/js/unitegallery-master/package/unitegallery/js/unitegallery.min.js"></script>
    <script>
      $(window).load(function(){
       $("input:checkbox, input:radio, input:file").uniform();
      })
    </script>
    <script src="../../global/js/unitegallery-master/package/unitegallery/themes/slider/ug-theme-slider.js"></script>
    <script>
      jQuery(document).ready(function () {
         $("#dummy-gallery2").unitegallery({
              gallery_theme: "slider",
              tile_enable_action : false,
              tile_enable_overlay : false,
              slider_enable_text_panel:true,
              slider_textpanel_enable_title:false,
              slider_enable_play_button:false,
              slider_enable_bullets:false,
              slider_enable_progress_indicator:false
      });
      });
      
      $(window).load(function(){
          //function for responsive nav open
          $('.fg-web-nav-icon').click(function(){
              if($('body').hasClass('fg-navbar-open')){
                    $('body').removeClass('fg-navbar-open');
                    $('.fg-web-main-nav').animate({
                          'min-height':0
                    },350);
                    
              }else{
                  var ulHeight = $('.fg-web-main-nav > .navbar-nav').outerHeight();
                  $('.fg-web-main-nav').animate({
                        'min-height':ulHeight
                  },350,function(){
                        $('body').addClass('fg-navbar-open');
                  });
              }
              
          });
           //function for responsive nav submenu open
          $('.dropdown-submenu .fg-dropdown-toggle').on("click", function(e){
            if($(window).width()<768){
                $(this).parent('li').toggleClass('open'); 
                $(this).toggleClass('open');  
                e.stopPropagation();
                e.preventDefault();
            }
          });
          
          
          //function for fixing menubar overflow to viewport
              $(".fg-web-main-nav .dropdown,.fg-web-main-nav .dropdown-submenu").on('mouseenter mouseleave tap', function (e) {
              
                  if ($(this).children('ul').length) {
                        var elm = $(this).children('ul');
                        var off = elm.offset();
                        var l = off.left;
                        var w = elm.width();
                        var docH = $(window).height();
                        var docW = $(window).width();
                        var isEntirelyVisible = (l + w <= docW);
                        console.log(elm)
                        if (!isEntirelyVisible) {
                        
                            elm.removeClass('fg-web-open-right').addClass('fg-web-open-left');
                            
                        } else {
                        
                           // $(this).removeClass('edge');
                        }
                  }
              });
              
      $('.fg-widget-block').load(function(){
            console.log($(this));
      })
      });
    </script>
  </body>
</html>