<!DOCTYPE html>
<html>
  <head>
    <title>Article Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../global/js/unitegallery-master/package/unitegallery/css/unite-gallery.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" media="screen">
    <link href="../../global/css/global-style.css" rel="stylesheet" media="screen">
    <link href="../css/fg-web-style.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-color-schemes.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-config.css" rel="stylesheet" media="screen">
  </head>
  <body class="fg-web-theme-01 fg-header-sticky">
    <header class="container-fluid fg-web-page-header">
      <div class="row fg-web-top-nav-wrapper">
        <div class="container">
          <div class="FR">
            <ul class="fg-web-top-nav-links list-inline">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Map</a></li>
            </ul>
            <ul class="fg-web-top-nav-languages list-inline">
              <li><a href="#">EN</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row fg-web-main-nav-bar">
        <div class="container">
          <div class="fg-logo-wrapper"><a href="#" class="fg-logo">
              <!--img(src="http://www.fauchard.org/system/ckeditor_assets/pictures/101/content_pfa_portrait_logo-300print.jpg")--></a></div>
          <div class="fg-web-nav-icon visible-xs"><i class="fa fa-bars fa-3x"></i></div>
          <nav class="navbar navbar-default fg-web-main-nav">
            <ul class="nav navbar-nav">
              <li class="active">                                   <a href="#">Home     </a></li>
              <li><a href="#">Club</a></li>
              <li><a href="#">Teams</a></li>
              <li><a href="#">News</a></li>
              <li class="dropdown"><a href="#">Photos </a><span href="#" data-toggle="dropdown" role="navigation" aria-haspopup="true" aria-expanded="true" class="caret dropdown-toggle"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                  <li class="dropdown-submenu"><a href="#">Second level Dropdown Second level Dropdown </a><span class="fg-dropdown-toggle"></span>
                    <ul class="dropdown-menu fg-web-open-right">
                      <li><a href="#">Third level menu</a></li>
                      <li><a href="#">Third level menu</a></li>
                      <li class="dropdown-submenu"><a href="#">Third level Dropdown </a><span class="fg-dropdown-toggle"></span>
                        <ul class="dropdown-menu fg-web-open-left">
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Third level menu</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                </ul>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="container-fluid fg-web-main-content">
      <div class="row fg-web-page-title-bar">
        <div class="container">
          <div class="fg-web-titlebar-left-col pull-left">
            <div class="fg-titlebar-block fg-web-page-title-block">
              <h1 class="fg-web-page-title">How to contact us</h1>
            </div>
          </div>
          <div class="fg-web-titlebar-right-col fg-web-title-filter-wrapper pull-right">
            <div class="fg-titlebar-block fg-page-search">
              <input id="fg-page-search" type="text" data-search-type="article" name="fg-page-search" placeholder="aaaaa" class="fg-page-search-input">
            </div>
            <div class="fg-titlebar-block fg-page-timeperiod">
              <select name="fg-page-timeperiod-input" class="fg-page-timeperiod-input bs-select">
                <option value="2016-01-05__2017-01-04">2016/17</option>
                <option value="2015-01-05__2016-01-04">2015/16</option>
                <option value="2014-01-05__2015-01-04">2014/15</option>
                <option value="2013-01-05__2014-01-04">2013/14</option>
                <option value="2012-01-05__2013-01-04">2012/13</option>
                <option value="2011-01-05__2012-01-04">2011/12</option>
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="container">
        <div class="row fg-web-page-container">
          <div class="fg-article-detail-wrapper fg-layout3 row">
            <div class="col-md-9 fg-article-contents">
              <div class="col-sm-3 right-col pull-right fg-pad-right-0 fg-marg-btm-10">
                <figure class="fg-article-thumb-wrapper fg-marg-btm-10"><img src="../../internal/img/news-article-thumb-01.png">
                  <figcaption></figcaption>
                </figure>
                <figure class="fg-article-thumb-wrapper fg-marg-btm-10"><img src="../../internal/img/news-article-thumb-02.png">
                  <figcaption class="fg-marg-top-5">Fig.2 - A view of the pulpit rock in Norway.</figcaption>
                </figure>
              </div>
              <p class="fg-FS-15 strong">Martin „Tinu“ Prachar, der erfahrene Abwehr-Spezialist und Kreisläufer des BSV Bern Muri, wechselt zum HSC Suhr Aarau. Er erhält einen Jahresvertrag mit beidseitiger Option.</p>
              <p>Ich freue mich auf Tinu, er wird unser Abwehrzentrum mit seiner Grösse, seiner Kraft und seiner Erfahrung massiv verstärken“, sagt Markus Jud, der Cheftrainer des HSC Suhr Aarau zum Transfer des ambitionierten B-Ligisten, der in der Saison 2015/16 den sofortigen und direkten Wiederaufstieg in die NLA anpeilt.</p>
              <p>Der ehemalige tschechische Nationalspieler (45 Einsätze) Martin Prachar (35) imponiert mit seinem Gardemass von 2.04 Metern und seinem Gewicht von 115 kg. Aber auch mit seiner grossen Routine macht er jede Abwehr zu einem schwer überwindbaren Bollwerk. Seine langjährige Erfahrung holte er sich während vielen Jahren in den höchsten Ligen Tschechiens, Spaniens, Rumäniens, Dänemarks und der Schweiz sowie auch in internationalen Wettbewerben wie der Champions League und dem EHF Cup. Zuletzt war er während vier Saisons beim BSV Bern Muri im Einsatz. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo. Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo.</p>
              <p>Der ehemalige tschechische Nationalspieler (45 Einsätze) Martin Prachar (35) imponiert mit seinem Gardemass von 2.04 Metern und seinem Gewicht von 115 kg. Aber auch mit seiner grossen Routine macht er jede Abwehr zu einem schwer überwindbaren Bollwerk. Seine langjährige Erfahrung holte er sich während vielen Jahren in den höchsten Ligen Tschechiens, Spaniens, Rumäniens, Dänemarks und der Schweiz sowie auch in internationalen Wettbewerben wie der Champions League und dem EHF Cup. Zuletzt war er während vier Saisons beim BSV Bern Muri im Einsatz. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo. Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo.</p>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="fg-article-details-block">
                <p>By   DANIEL SCHWERI</p>
                <p>on 25.07.2013 18:51</p>
                <p class="fg-comments-count"><strong>4 comments</strong></p>
                <div class="fg-cat-tags"><span class="fg-club-tag">Club</span><span class="fg-club-tag">Team A</span><br><span class="fg-cat-tag">Top news</span><span class="fg-cat-tag">Trending</span><span class="fg-cat-tag">Article</span></div>
              </div>
              <div class="fg-article-details-block">
                <h5 class="fg-title">ATTACHMENTS</h5>
                <ul class="no-style fg-attachments">
                  <li><a href="#">document1.docx</a><span class="fg-size">(120 KB)</span></li>
                  <li><a href="#">document2.docx</a><span class="fg-size">(620 KB)</span></li>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
              <div class="fg-web-article-comments-wrapper">
                <h2 class="fg-title text-center">COMMENTS (4)</h2>
                <ul class="fg-web-article-comments-list"> 
                  <li class="fg-web-article-comment-block">
                    <div class="fg-avatar"><img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;&amp;w=55&amp;h=55"></div>
                    <div class="fg-content-wrapper">
                      <div class="fg-comment-details">
                        <p><strong class="fg-author">Tobias nafzagar </strong>on 25.07.2013 18:51</p>
                      </div>
                      <div class="fg-comment"> 
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                      </div>
                    </div>
                  </li>
                  <li class="fg-web-article-comment-block">
                    <div class="fg-avatar"><img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;&amp;w=55&amp;h=55"></div>
                    <div class="fg-content-wrapper">
                      <div class="fg-comment-details">
                        <p><strong class="fg-author">Tobias nafzagar </strong>on 25.07.2013 18:51</p>
                      </div>
                      <div class="fg-comment"> 
                        <p>Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi purslane collard greens spring onion squash lentil.</p>
                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                      </div>
                    </div>
                  </li>
                  <li class="fg-web-article-comment-block">
                    <div class="fg-avatar"><img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;&amp;w=55&amp;h=55"></div>
                    <div class="fg-content-wrapper">
                      <div class="fg-comment-details">
                        <p><strong class="fg-author">Tobias nafzagar </strong>on 25.07.2013 18:51</p>
                      </div>
                      <div class="fg-comment"> 
                        <form class="fg-post-new-comment">
                          <textarea id="editor1" cols="80" name="editor1" rows="10" class="ckeditor"></textarea>
                          <div class="fg-button">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">SUBMIT</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="container-fluid fg-web-page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-text-widget fg-widget-block fg-dev-element-box"><span class="fg-elementtype-class hide"><i aria-hidden="true" class="fa fa-align-left"></i>
                <div class="fg-text">TEXT</div></span>
              <article class="fg-text-widget-wrapper fg-text-left-img">
                <div class="col-sm-4 fg-thumb">
                  <figure><img src="http://192.168.0.39:12004/uploads/8762/gallery/width_300/hd.jpg " alt="">
                    <figcaption>6</figcaption>
                  </figure>
                </div>
                <p>All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.</p>
                <div class="clearfix"></div>
              </article>
            </div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-login-widget fg-widget-block fg-dev-element-box elementBox">
              <form class="form-horizontal">
                <div class="form-group fg-input-box-left">
                  <input name="dummyText" type="text" placeholder="E-mail address" class="form-control input-md">
                </div>
                <div class="form-group fg-input-box-right">
                  <input name="dummyPwd" placeholder="Password" class="form-control input-md">
                </div>
                <div class="form-group fg-button-block">
                  <div class="fg-checkbox">
                    <label for="loggedIn" class="radio-inline">
                      <input id="loggedIn" type="checkbox" name="loggedIn" value="1" class="uniform">Keep me logged in.
                    </label>
                  </div>
                  <div class="fg-button">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">Login</button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="fg-footer-block">
                  <div class="fg-first">
                    <h4>First time login?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                    and active your account</p>
                  </div>
                  <div class="fg-last">
                    <h4>Lost password?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                     to reset</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer><a href="#" class="fg-web-go-top"><i class="fa fa-arrow-circle-up"></i></a><span class="helper">asd</span>
    <div class="fg-web-bg-wrapper">
      <div style="background-image:url('http://www.easyfreepatterns.com/patterns/238/this-light-yellow-background-pattern-consists-of-an-irregular--238266.jpg');z-index:6;" class="fg-web-bg"></div>
    </div>
    <div class="fg-web-promobox-wrapper">
      <div class="fg-web-promobox-header">
        <div class="fg-web-promobox-caption">Advertisment</div>
      </div>
      <div class="fg-web-promobox-body">
        <div class="fg-web-promobox-content">
          <h2 class="fg-web-promo-title">Fairgate Verhuls</h2>
          <p>Clicking on any of the buttons will let the box disappear completely on xs screens (use some slide-to-bottom animation), and replaced by a narrow tab on larger screens (use a slide-to-left animation). Only this will be replaced also after reloading the page, thus the state needs to be stored in a cookie.</p>
        </div>
      </div>
      <div class="fg-web-promobox-footer"><a href="#" type="button" class="btn fg-btn-link">MEHR INFO</a><a href="#" type="button" data-action="close" class="btn fg-btn-remove fg-web-promo-toggle-btn">Don't display anymore</a></div>
      <div data-action="open" class="fg-web-promo-drawer-wrapper fg-web-promo-toggle-btn">Fairgate<i class="fa fa-angle-double-down fg-arrow"></i></div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/global/plugins/select2/select2.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="../../global/js/unitegallery-master/package/unitegallery/js/unitegallery.min.js"></script>
    <script>
      $(window).load(function(){
       $("input:checkbox, input:radio, input:file").uniform();
      })
    </script>
    <script src="../../assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script>
      jQuery(document).ready(function () {
          $(".bs-select").selectpicker({
          });
      });
      
      $(window).load(function(){
          //function for responsive nav open
          
          
          //function for fixing menubar overflow to viewport
              $(".fg-web-main-nav .dropdown,.fg-web-main-nav .dropdown-submenu").on('mouseenter mouseleave tap', function (e) {
              
                  if ($(this).children('ul').length) {
                        var elm = $(this).children('ul');
                        var off = elm.offset();
                        var l = off.left;
                        var w = elm.width();
                        var docH = $(window).height();
                        var docW = $(window).width();
                        var isEntirelyVisible = (l + w <= docW);
                        console.log(elm)
                        if (!isEntirelyVisible) {
                        
                            elm.removeClass('fg-web-open-right').addClass('fg-web-open-left');
                            
                        } else {
                        
                           // $(this).removeClass('edge');
                        }
                  }
              });
      /* 
        * Promo box relate script
        */
        $('.fg-web-promobox-wrapper').addClass('open');
        
        $('.fg-web-promo-toggle-btn').click(function(e){
            e.stopPropagation();
            var action = $(this).attr('data-action');
            console.log(action)
            if(action == 'close'){
                console.log('a')
                $('.fg-web-promobox-wrapper').removeClass('open');
            }else {
                console.log('b')
                $('.fg-web-promobox-wrapper').addClass('open');
            }
            
        })
      });
    </script>
  </body>
</html>