<!DOCTYPE html>
<html>
  <head>
    <title>Article Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../global/js/unitegallery-master/package/unitegallery/css/unite-gallery.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" media="screen">
    <link href="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" media="screen">
    <link href="../../global/css/global-style.css" rel="stylesheet" media="screen">
    <link href="../css/fg-web-style.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-color-schemes.css" rel="stylesheet" media="screen">
    <link href="theme-based-styles/theme-01-config.css" rel="stylesheet" media="screen">
  </head>
  <body class="fg-web-theme-01 fg-header-sticky">
    <header class="container-fluid fg-web-page-header">
      <div class="row fg-web-top-nav-wrapper">
        <div class="container">
          <div class="FR">
            <ul class="fg-web-top-nav-links list-inline">
              <li><a href="#">FAQ</a></li>
              <li class="active"><a href="#">Contact</a></li>
              <li><a href="#">Map</a></li>
            </ul>
            <div class="fg-web-top-nav-languages">
              <div class="current-language"><a href="#">EN</a>
                <ul class="dropdown-menu pull-right fg-web-language-list">
                  <li class="active"><a href="#">English</a></li>
                  <li><a href="#">Arabic</a></li>
                  <li><a href="#">Russian</a></li>
                  <li><a href="#">Dutch</a></li>
                  <li><a href="#">French</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row fg-web-main-nav-bar">
        <div class="container">
          <div class="fg-logo-wrapper"><a href="#" class="fg-logo"><img src="https://s3.graphiq.com/sites/default/files/2307/media/images/t2/Coral_Red_430013_i0.png"></a></div>
          <div class="fg-web-nav-icon visible-xs"><i class="fa fa-bars fa-3x"></i></div>
          <nav class="navbar navbar-default fg-web-main-nav">
            <ul class="nav navbar-nav">
              <li class="active">                                   <a href="#">Home     </a></li>
              <li><a href="#">Club</a></li>
              <li><a href="#">Teams</a></li>
              <li><a href="#">News</a></li>
              <li class="dropdown"><a href="#">Photos </a><span href="#" data-toggle="dropdown" role="navigation" aria-haspopup="true" aria-expanded="true" class="caret dropdown-toggle"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                  <li class="dropdown-submenu"><a href="#">Second level Dropdown Second level Dropdown </a><span class="fg-dropdown-toggle"></span>
                    <ul class="dropdown-menu fg-web-open-right">
                      <li><a href="#">Third level menu</a></li>
                      <li><a href="#">Third level menu</a></li>
                      <li class="dropdown-submenu"><a href="#">Third level Dropdown </a><span class="fg-dropdown-toggle"></span>
                        <ul class="dropdown-menu fg-web-open-left">
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                          <li><a href="#">Fourth level menu</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Third level menu</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Second level menu</a></li>
                  <li><a href="#">Second level menu</a></li>
                </ul>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="container-fluid fg-web-main-content">
      <div style="margin-top:50px" class="row fg-web-page-title-bar">
        <div class="container">
          <div class="fg-web-titlebar-left-col pull-left">
            <div class="fg-titlebar-block fg-web-page-title-block">
              <h1 class="fg-web-page-title">How to contact us</h1>
            </div>
          </div>
          <div class="fg-web-titlebar-right-col pull-right">
            <div class="fg-titlebar-block fg-icon-bg fg-page-prev hidden-xs"><i class="fg-icon"></i></div>
            <div class="fg-titlebar-block fg-icon-bg fg-page-close"><i class="fg-icon"></i></div>
            <div class="fg-titlebar-block fg-icon-bg fg-page-next hidden-xs"><i class="fg-icon"></i></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="container">
        <div class="row fg-web-page-container">
          <div class="fg-calendar-special-contents-wrapper">
            <section class="col-sm-12 fg-calendar-month-block">
              <h2 class="fg-page-subtitle">February</h2>
              <div class="fg-content fg-border-rows">
                <div class="row fg-rows">
                  <div class="col-md-4 fg-event-duration">Monday, 20.05.2015 - Tuesday, 20.06.2015</div>
                  <div class="col-md-2 fg-event-title"><strong>Annual Gathering</strong></div>
                  <div class="col-md-2 col-md-offset-2">
                    <div class="fg-event-teams"><span style="background: #4f8050;color: #fff;" class="fg-team">Team A</span><span style="background: #7c78ce;color: #fff;" class="fg-team">Team B</span><span style="background: #32c5d2;color: #fff;" class="fg-team">Workgroup A</span></div>
                  </div>
                  <div class="col-md-2">
                    <div class="fg-event-cats"><span class="fg-cat">Gathering</span><span class="fg-cat">Public</span></div>
                  </div>
                </div>
                <div class="row fg-rows">
                  <div class="col-md-4 fg-event-duration">Monday, 20.05.2015 - Tuesday, 20.06.2015</div>
                  <div class="col-md-2 fg-event-title"><strong>Annual Gathering</strong></div>
                  <div class="col-md-2 col-md-offset-2">
                    <div class="fg-event-teams"><span style="background: #d73be1;color: #fff;" class="fg-team">Team A</span><span style="background: #f0d061;color: #fff;" class="fg-team">Team B</span></div>
                  </div>
                  <div class="col-md-2">
                    <div class="fg-event-cats"><span class="fg-cat">Gathering</span><span class="fg-cat">Public</span></div>
                  </div>
                </div>
                <div class="row fg-rows">
                  <div class="col-md-4 fg-event-duration">Monday, 20.05.2015 - Tuesday, 20.06.2015</div>
                  <div class="col-md-2 fg-event-title"><strong>Annual Gathering</strong></div>
                  <div class="col-md-2 col-md-offset-2">
                    <div class="fg-event-teams"><span style="background: #e23338;color: #fff;" class="fg-team">Team A</span><span style="background: #e27d33;color: #fff;" class="fg-team">Team B</span></div>
                  </div>
                  <div class="col-md-2">
                    <div class="fg-event-cats"><span class="fg-cat">Gathering</span><span class="fg-cat">Public</span></div>
                  </div>
                </div>
              </div>
            </section>
            <section class="col-sm-12 fg-calendar-month-block">
              <h2 class="fg-page-subtitle">March</h2>
              <div class="fg-content fg-border-rows">
                <div class="row fg-rows">
                  <div class="col-md-4 fg-event-duration">Monday, 20.05.2015 - Tuesday, 20.06.2015</div>
                  <div class="col-md-2 fg-event-title"><strong>Annual Gathering</strong></div>
                  <div class="col-md-2 col-md-offset-2">
                    <div class="fg-event-teams"><span style="background: #ccc;color: #fff;" class="fg-team">Team A</span><span style="background: gold;color: #fff;" class="fg-team">Team B</span></div>
                  </div>
                  <div class="col-md-2">
                    <div class="fg-event-cats"><span class="fg-cat">Gathering</span><span class="fg-cat">Public</span></div>
                  </div>
                </div>
                <div class="row fg-rows">
                  <div class="col-md-4 fg-event-duration">Monday, 20.05.2015 - Tuesday, 20.06.2015</div>
                  <div class="col-md-2 fg-event-title"><strong>Annual Gathering</strong></div>
                  <div class="col-md-2 col-md-offset-2">
                    <div class="fg-event-teams"><span style="background: red;color: #fff;" class="fg-team">Team A</span><span style="background: cyan;color: #fff;" class="fg-team">Team B</span></div>
                  </div>
                  <div class="col-md-2">
                    <div class="fg-event-cats"><span class="fg-cat">Gathering</span><span class="fg-cat">Public</span></div>
                  </div>
                </div>
                <div class="row fg-rows">
                  <div class="col-md-4 fg-event-duration">Monday, 20.05.2015 - Tuesday, 20.06.2015</div>
                  <div class="col-md-2 fg-event-title"><strong>Annual Gathering</strong></div>
                  <div class="col-md-2 col-md-offset-2">
                    <div class="fg-event-teams"><span style="background: orange;color: #fff;" class="fg-team">Team A</span><span style="background: aqua;color: #fff;" class="fg-team">Team B</span></div>
                  </div>
                  <div class="col-md-2">
                    <div class="fg-event-cats"><span class="fg-cat">Gathering</span><span class="fg-cat">Public</span></div>
                  </div>
                </div>
              </div>
            </section>
            <div style="position:static" class="col-md-6 col-md-offset-3 popover show">
              <div class="panel panel-default fg-calendar-popover">
                <div class="panel-heading">
                  <h3 class="panel-title"></h3><span onclick="$('.popover').popover('destroy')" class="fa fa-close"></span>
                </div>
                <div id="calendar-popover-body" class="panel-body">
                  <div class="fg-calendar-app-dtls-wrapper col-lg-12">
                    <div class="row fg-calendar-app-dtls-content fg-marg-btm-0">
                      <div class="col-sm-12">
                        <p class="event-desicription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<a href="#" class="fg-readmore"><i class="fa fa-arrow-circle-right"></i>See details</a></p>
                        <ul class="fg-event-dtls">
                          <li>
                            <label class="col-sm-4"> Date </label>
                            <div class="col-sm-8">Monday, 20.05.2015 - Tuesday, 20.06.2015</div>
                          </li>
                          <li>
                            <label class="col-sm-4"> Areas </label>
                            <div class="col-sm-8">
                              <div class="fg-event-teams"><span style="background: #4f8050;color: #fff;" class="fg-team">Team A</span><span style="background: #7c78ce;color: #fff;" class="fg-team">Team B</span></div>
                            </div>
                          </li>
                          <li>
                            <label class="col-sm-4"> Categories </label>
                            <div class="col-sm-8">
                              <div class="fg-event-cats"><span class="fg-cat">Gathering</span><span class="fg-cat">Public</span></div>
                            </div>
                          </li>
                          <li>
                            <label class="col-sm-4"> Attachments </label>
                            <div class="col-sm-8">
                              <p><a href="#">document1.docx</a></p>
                              <p><a href="#">document1.docx</a></p>
                            </div>
                          </li>
                          <li>
                            <label class="col-sm-4"> Weblink </label>
                            <div class="col-sm-8"><a href="#">document1.docx</a></div>
                          </li>
                          <li>
                            <label class="col-sm-4"> Location </label>
                            <div class="col-sm-8">
                              <p>Spinner 2</p>
                              <p>spinner 2</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="position:static" class="col-md-6 col-md-offset-3 popover show">
              <div class="panel panel-default fg-calendar-popover">
                <div class="panel-heading">
                  <h3 class="panel-title">New event 123</h3><span onclick="$('.popover').popover('destroy')" class="fa fa-close"></span>
                </div>
                <div id="calendar-popover-body" class="panel-body">
                  <div class="fg-calendar-popover-loader"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="container-fluid fg-web-page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-text-widget fg-widget-block fg-dev-element-box"><span class="fg-elementtype-class hide"><i aria-hidden="true" class="fa fa-align-left"></i>
                <div class="fg-text">TEXT</div></span>
              <article class="fg-text-widget-wrapper fg-text-left-img">
                <div class="col-sm-4 fg-thumb">
                  <figure><img src="http://192.168.0.39:12004/uploads/8762/gallery/width_300/hd.jpg " alt="">
                    <figcaption>6</figcaption>
                  </figure>
                </div>
                <p>All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.</p>
                <div class="clearfix"></div>
              </article>
            </div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
          </div>
          <div class="col-sm-4 fg-grid-col-2">
            <div class="fg-header-widget fg-widget-block">
              <h3>VISUAL AND PRACMATIC</h3>
            </div>
            <div class="fg-login-widget fg-widget-block fg-dev-element-box elementBox">
              <form class="form-horizontal">
                <div class="form-group fg-input-box-left">
                  <input name="dummyText" type="text" placeholder="E-mail address" class="form-control input-md">
                </div>
                <div class="form-group fg-input-box-right">
                  <input name="dummyPwd" placeholder="Password" class="form-control input-md">
                </div>
                <div class="form-group fg-button-block">
                  <div class="fg-checkbox">
                    <label for="loggedIn" class="radio-inline">
                      <input id="loggedIn" type="checkbox" name="loggedIn" value="1" class="uniform">Keep me logged in.
                    </label>
                  </div>
                  <div class="fg-button">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary fg-submit">Login</button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="fg-footer-block">
                  <div class="fg-first">
                    <h4>First time login?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                    and active your account</p>
                  </div>
                  <div class="fg-last">
                    <h4>Lost password?</h4>
                    <p><a id="forget-password" href="#">Click here</a>                     to reset</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer><a href="#" class="fg-web-go-top"><i class="fa fa-arrow-circle-up"></i></a><span class="helper">asd</span>
    <div class="fg-web-bg-wrapper">
      <div style="background-image:url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/confectionary.png');z-index:6;" class="fg-web-bg"></div>
    </div>
    <div class="fg-web-promobox-wrapper">
      <div class="fg-web-promobox-header">
        <div class="fg-web-promobox-caption">Advertisment</div>
      </div>
      <div class="fg-web-promobox-body">
        <div class="fg-web-promobox-content">
          <h2 class="fg-web-promo-title">Fairgate Verhuls</h2>
          <p>Clicking on any of the buttons will let the box disappear completely on xs screens (use some slide-to-bottom animation), and replaced by a narrow tab on larger screens (use a slide-to-left animation). Only this will be replaced also after reloading the page, thus the state needs to be stored in a cookie.</p>
        </div>
      </div>
      <div class="fg-web-promobox-footer"><a href="#" type="button" class="btn fg-btn-link">MEHR INFO</a><a href="#" type="button" data-action="close" class="btn fg-btn-remove fg-web-promo-toggle-btn">Don't display anymore</a></div>
      <div data-action="open" class="fg-web-promo-drawer-wrapper fg-web-promo-toggle-btn">Fairgate Vereinssoftware<i class="fa fa-angle-double-down fg-arrow"></i></div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/global/plugins/select2/select2.min.js"></script>
    <script src="../../assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="../../global/js/unitegallery-master/package/unitegallery/js/unitegallery.min.js"></script>
    <script>
      $(window).load(function(){
       $("input:checkbox, input:radio").uniform();
      })
    </script>
    <script src="../../assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script>
      jQuery(document).ready(function () {
      });
      
      $(window).load(function(){
          //function for responsive nav open
          $('.fg-web-nav-icon').click(function(){
              if($('body').hasClass('fg-navbar-open')){
                    $('body').removeClass('fg-navbar-open');
                    $('.fg-web-main-nav').animate({
                          'min-height':0
                    },350);
                    
              }else{
                  var ulHeight = $('.fg-web-main-nav > .navbar-nav').outerHeight();
                  $('.fg-web-main-nav').animate({
                        'min-height':ulHeight
                  },350,function(){
                        $('body').addClass('fg-navbar-open');
                  });
              }
              
          });
           //function for responsive nav submenu open
          $('.dropdown-submenu .fg-dropdown-toggle').on("click", function(e){
            if($(window).width()<768){
                $(this).parent('li').toggleClass('open'); 
                $(this).toggleClass('open');  
                e.stopPropagation();
                e.preventDefault();
            }
          });
          
          
          //function for fixing menubar overflow to viewport
              $(".fg-web-main-nav .dropdown,.fg-web-main-nav .dropdown-submenu").on('mouseenter mouseleave tap', function (e) {
              
                  if ($(this).children('ul').length) {
                        var elm = $(this).children('ul');
                        var off = elm.offset();
                        var l = off.left;
                        var w = elm.width();
                        var docH = $(window).height();
                        var docW = $(window).width();
                        var isEntirelyVisible = (l + w <= docW);
                        console.log(elm)
                        if (!isEntirelyVisible) {
                        
                            elm.removeClass('fg-web-open-right').addClass('fg-web-open-left');
                            
                        } else {
                        
                           // $(this).removeClass('edge');
                        }
                  }
              });
      /* 
        * Promo box relate script
        */
        $('.fg-web-promobox-wrapper').addClass('open');
        
        $('.fg-web-promo-toggle-btn').click(function(e){
            e.stopPropagation();
            var action = $(this).attr('data-action');
            console.log(action)
            if(action == 'close'){
                console.log('a')
                $('.fg-web-promobox-wrapper').removeClass('open');
            }else {
                console.log('b')
                $('.fg-web-promobox-wrapper').addClass('open');
            }
            
        })
      });
    </script>
  </body>
</html>