<div class="fg-help-topic-list-wrapper">
    <ul class="fg-help-topic-lists">
        <li class="fg-help-topic-list active"  data-target="document1">
            <div class="fg-help-topic-header">Dokumente organisieren</div>
            <div class="fg-help-topic-excerpt">Was man mit Dokumenten alles machen kann und wer sie dann wo verwenden darf</div>
        </li>
        <li class="fg-help-topic-list"  data-target="document2">
            <div class="fg-help-topic-header">Dokumente im internen Bereich</div>
            <div class="fg-help-topic-excerpt">Wo Ihre Mitglieder Dokumente im Zugriff haben und selber verwalten können</div>
        </li>
        <li class="fg-help-topic-list"  data-target="document3">
            <div class="fg-help-topic-header">Dokumente hochladen</div>
            <div class="fg-help-topic-excerpt">Wie können Sie Dokumente und Dateien hochladen?</div>
        </li>

    </ul>
</div>
<div class="fg-help-topic-details-wrapper">
    <div class="fg-help-topic-details-content-scroll-wrapper fg-help-sample-page-wrapper" id="topic-details-content">
        <!-- -----------Overview details form ajax--------- -->
    </div>
</div>
