<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">                    
                    <div class="form-group">
                        <label class="col-lg-12 col-md-12 col-xs-12">
                            {{ text }}
                        </label>                                
                    </div>                                             
                </div>
                <!-- END FORM-->
            </div>
        </div>
    </div>
    {% include 'internal/savebuttonPopup.html.twig' %}
</div>
<script type="text/javascript"> 
    var messageIds = '{{ messageIds|raw }}';
    var isDraft = '{{ isDraft }}'
    $(document).off('click', '#savePopup');
    $(document).on('click', '#savePopup', function() {        
        fgMessageInbox.deleteMessage(messageIds, isDraft);      
    });
</script>    