<div class="fg-help-topic-list-wrapper" >
                        <ul class="fg-help-topic-lists">
                            <li class="fg-help-topic-list active"  data-target="comm1">
                                <div class="fg-help-topic-header">Die Arten des Versands</div>
                                <div class="fg-help-topic-excerpt">Welche Versandarten gibt es im Modul Kommunikation und wo liegen die Unterschiede?</div>
                            </li>
                            <li class="fg-help-topic-list"  data-target="comm2">
                                <div class="fg-help-topic-header">Newsletter Versandtypen</div>
                                <div class="fg-help-topic-excerpt">Kommunikation mit Ihren Mitgliedern und Sponsoren mit den 2 Versandtypen des Newsletters</div>
                            </li>
                            <li class="fg-help-topic-list"  data-target="comm3">
                                <div class="fg-help-topic-header">Newsletter Design</div>
                                <div class="fg-help-topic-excerpt">Die Gestaltung des Newsletter-Designs per Templates und die Abonnentenliste</div>
                            </li>
                            <li class="fg-help-topic-list"  data-target="comm4">
                                <div class="fg-help-topic-header">Beispiele der Mailings</div>
                                <div class="fg-help-topic-excerpt">So könnten Ihre Einfach-Mails und Newsletter aussehen.</div>
                            </li>
                        </ul>
                    </div>
<div class="fg-help-topic-details-wrapper">
    <div class="fg-help-topic-details-content-scroll-wrapper fg-help-sample-page-wrapper" id="topic-details-content">
        <!-- -----------Overview details form ajax--------- -->
    </div>
</div>